[2018-06-12 21:40] rradjabi opened #1 "Build fails after clone"
I have many errors building when I follow the README instructions.

1) git clone
2) cd XRT/build/
3) ./build.sh

I have confirmed the system requirements and the following packages are installed: (centos-release-scl, devtoolset-6). I tried after enabling devtoolset-6 with "scl enable devtoolset-6 bash" and build.sh also failed.

Using CentOS 7.4.

Ryan

[2018-06-12 23:33] #1 closed, assigned to nobody

[2018-06-13 00:20] rradjabi opened #2 "Dependency Issues Installing RPM"
I have some incompatible dependencies lingering on my CentOS system.

yum install XRT-2.1.0-Linux.rpm eventually has an issue with some version of **libuuid** already installed.

bash-4.2$ sudo yum install ./XRT-2.1.0-Linux.rpm
Loaded plugins: fastestmirror, langpacks
Repository 'UIM_install' is missing name in configuration, using id
Repository 'debug' is missing name in configuration, using id
R

[2018-06-14 18:15] #2 closed, assigned to nobody

[2018-06-19 23:30] houlz0507 opened #5 "Please provide build clean"
I set a wrong path for cmake. It is error out. However it does not recover after I set correct path. I think we need build.sh clean

izhih@xsjminm50:/proj/xsjhdstaff4/lizhih/git/XRT/build$ ./build.sh
-- Checking for module 'libdrm'
--   --short-errors: unknown option
CMake Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required package was not found
Call Stack (most r

[2018-06-21 19:52] rradjabi opened #10 "Add AWS to CMake Build Lists"
Build AWS HAL by adding to the CMake Lists.

[2018-06-22 02:40] maxzhen opened #11 "Update xbflash for firmware update for MSP432"
MSP432 chip is the BMC chip on XBB board. We need to update xbflash to be able to update its firmware.

[2018-06-25 16:27] #11 closed, assigned to nobody

[2018-06-25 21:26] mamin506 opened #16 "Build document failed in a new workspace"
I see this error when I try to build document from a new workspace.

$ cd XRT/src/runtime_src/doc/
$ make
/lib/modules/4.4.0-128-generic/build/scripts/kernel-doc -rst ../driver/xclng/include/mgmt-ioctl.h > core/mgmt-ioctl.rst
/bin/sh: core/mgmt-ioctl.rst: No such file or directory
Makefile:22: recipe for target 'core/mgmt-ioctl.rst' failed
make: *** [core/mgmt-ioctl.rst] Error 1

[2018-06-26 00:13] rradjabi opened #19 "Add logging to xclExecBuf() calls."

[2018-06-26 18:00] maxzhen opened #21 "xbflash should always return "-Linux_error_code" in internal functions and main()"

[2018-06-26 18:30] #19 closed, assigned to nobody

[2018-06-26 23:59] mamin506 opened #24 "The .rst format incorrect when run make in src/runtime_src/doc"
Linux kernel-doc support reStructuredText format after kernel version 4.7.0. Should check kernel version and print ERROR message in makefile.

[2018-06-27 00:20] #16 closed, assigned to nobody

[2018-06-27 19:26] #21 closed, assigned to nobody

[2018-06-28 00:10] rradjabi opened #29 "Correct messages for device creation/probe in AWS"
The following message is incorrect in some ways and it is overly alarming in some ways. Make it more appropriate and tone it down.
[code]
L2) "1 FPGA slots" -> "1 FPGA slot(s)"
L2) "with xocl driver running" is probably not correct to say.
L3-5) can we suppress these messages?
Add a message that indicates a shell is not found, initializing or loading a default shell for SDAccel.

[2018-06-28 02:28] maxzhen opened #30 "code cleanup needed for clock_freq_topology related code"
Had some discussion with Hem about freq topology code and I'm listing some cleanup work here:
1. ocl_get_clock_freq_topology icap interface should be removed and the related functionality should be moved into ocl_set_freq icap interface. We don't need to expose freq toplology outside of icap.
2. Correct locking is needed in icap_ocl_get_freqscaling() and icap_ocl_get_clock_freq_topology(). They ar

[2018-06-28 19:07] rradjabi opened #32 "Add driver support for new devices"
This was a request from Ellery on 6/27/18:

Hi Guys,

I’m not sure if Julian already notified you guys but we’re starting to work on the DSAs for the XBB boards. Can you please add driver support for the following devices:

  |   | 0x7890 | 0x788F | 0x4351 | xilinx:xbb200:dynamic:5.1 | XBB200 (XCU200) dynamic platform with up to 4 DDRs (in   2018.2 for XDF builds only)
-- | -- | -- | -- | -- | --

[2018-06-28 23:27] #24 closed, assigned to nobody

[2018-06-29 16:21] rradjabi opened #34 "Rename xbsak to xbutil"
See JIRA PR: http://jira.xilinx.com/browse/PR-9682

1) Rename xbsak to xbutil
2) Add soft link from xbsak to xbutil

[2018-06-30 11:59] #5 closed, assigned to nobody

[2018-07-07 22:55] houlz0507 opened #50 "xcl_app_debug.h should be copied to xrt/include"
lizhih@ubuntu:/proj/xsjhdstaff4/lizhih/git/XRT/build$ g++ -g -std=c++11 -pthread  -IRelease/opt/xilinx/xrt/include  loopback_sync_trans_unmgt.c Release/runtime_src/driver/xclng/xrt/libxrtcorestatic.a
In file included from loopback_sync_trans_unmgt.c:29:0:
Release/opt/xilinx/xrt/include/xclhal2.h:44:27: fatal error: xcl_app_debug.h: No such file or directory
compilation terminated.

[2018-07-09 18:32] stsoe opened #53 "Please remove all use of native pthread from c++ files"
Use std::thread from the C++ standard thread library.

driver/hw_em/generic_pcie_hal2/mbscheduler.cxx:    pthread_mutex_init(&state_lock,NULL);
driver/hw_em/generic_pcie_hal2/mbscheduler.cxx:    pthread_cond_init(&state_cond,NULL);
driver/hw_em/generic_pcie_hal2/mbscheduler.cxx:    pthread_mutex_init(&state_lock,NULL);
driver/hw_em/generic_pcie_hal2/mbscheduler.cxx:    pthread_cond_init(&state_con

[2018-07-09 19:18] stsoe opened #54 "Incremental build is broken for emulation"
Repeated runs of  build/build.sh rebuilds emulation code.
Please fix.

xsjsoren50 505> ./build.sh
-- Looking for DRM - found at /usr 2.4.83
-- Looking for OPENCL - found at /usr 2.1 /usr/include
-- Boost version: 1.58.0
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   system
--   filesystem
-- Platform/Linux (Ubuntu)
-- Compiler: /usr/bin/c++ /usr/bin/cc
-- Rodin devkits found

[2018-07-09 20:55] stsoe opened #55 "Remove ncurses dependency from libxrtcore.so"
Per IM thread, we should probably make sure xbsak.cpp is compiled and linked with only the tools that need it (xbsak and xbflash?).  The file should not be included in libxrtcore.so as it adds an otherwise unnecessary dependency on ncurses.

Remove NCURSES_LIBRARIES frm driver/xclng/xrt/CMakeLists.txt

[2018-07-10 19:57] #55 closed, assigned to maxzhen

[2018-07-11 19:22] stsoe opened #67 "Shared libraries created by CMake should be fully resolved"
We need to fix CMakeLists.txt to ensure that .so files created by the build are fully resolved.  In RDI we link with  -Wl,-z,defs,--as-needed.  Maybe we can do the same with CMake.

[2018-07-13 16:45] stsoe opened #71 "Fix setup scripts to do OS check"
The xrt/setup.* scripts should error out if run on a non conforming host.
Check minimum ubuntu 16.04 or centos/rhel 7.4

[2018-07-13 17:53] rradjabi opened #72 "Where is drm_backport.h?"
This file is included, but I can't find it.

https://github.com/Xilinx/XRT/blob/71748122ea3b432a2edc971182e3a5022ee10406/src/runtime_src/driver/xclng/drm/xocl/userpf/xocl_bo.c#L29

[2018-07-13 18:56] sonals opened #73 "Add build id with git hash (and timestamp) to every build"
Every time git hash changes we should embed git hash (and timestamp) into all our binaries:

xbutil (xbsak)
xbflash
libxrtcore.so
libxilinxopencl.so
HAL libs

The utilities should display the build id when they start.
The libraries could return the build id as part of an API.

[2018-07-13 20:51] #71 closed, assigned to nobody

[2018-07-13 21:27] sonals opened #75 "Add lint target to cmake"
The _lint_ target should
* run checkpatch.pl on the Linux driver directory and create a report
* run cppcheck on the userspace code base

[2018-07-13 22:35] stsoe opened #77 "Enable building of xclbincat and xclbinsplit"
Unfortunately the code does not compile because it uses boost::format.  I suggest changing the code to not require this utility.  Though not as nice, it should be sufficient to format with std::ostream.

Additionally compilation has several warnings that translate into compile errors with -Wall/error.  These warnings should be fixed.

[2018-07-16 15:40] stsoe opened #84 "Update pkgdsa.sh to replace firmware files with XRT ones"
The deployment DSA should replace firmware files with XRT compiled ones.

To patch the dsabin, the packaging script should
- run xclbinsplit
- copy firmware files from XRT install
- run xclbincat

Additionally, the packaging script should determine the version of XRT from which it copied the firmware files, this version should be encoded as a dependency in the rpm/deb for the deployment DSA.  Curr

[2018-07-16 15:47] stsoe opened #85 "Rename /opt/xilinx/xrt install directory to contain version of xrt"
Current version of XRT is 2.1.0.  The install directory should be renamed to /opt/xilinx/xrt-2.1.0
Renaming has implications on how run.sh sets XILINX_XRT (and PATH, LD_LIBRARY_PATH).

[2018-07-16 19:03] #32 closed, assigned to nobody

[2018-07-16 22:18] rradjabi opened #86 "Install Destination always appends with '/opt/xilinx/xrt'"
CMake allows you to specify the install destination with 'DEST_DIR=', but we add on '/opt/xilinx/xrt' with each install, when DEST_DIR should replace up to '/opt/xilinx' at least. So if I want my installation at '/opt/Xilinx/SDx/' and I pass 'DEST_DIR=/opt/Xilinx/SDx/', it will be installed at '/opt/Xilinx/SDx/opt/xilinx/xrt' instead of '/opt/Xilinx/SDx/xrt'.

Relates to #85

[2018-07-17 16:25] maxzhen opened #89 "Absolute library path in OpenCL ICD is getting in the way"
Today, we have absolute library path in our OpenCL ICD entry. This is getting in the way when I was trying to debug my app. It'll always load the released version of the libs, not the one in my workspace even when I set LD_LIBRARY_PATH using run.sh correctly.

If I change the entry to just specify "libxilinxopencl.so", it will work since the LD_LIBRARY_PATH now gets control of where the lib is loa

[2018-07-18 22:11] sonals opened #99 "Add support for pkg-config"

[2018-07-18 22:14] sonals opened #100 "Add our own cl_ext.h"
Move Xilinx specific extensions to _our_ cl_ext.h which in-turn includes system cl_ext.h. Our cl_ext.h should ship under xrt/include/CL.

[2018-07-18 22:19] hcneema opened #101 "Convert libcommon_em.so into a static library"
We need to do the following

Currently we have
SJBRD2:/opt/xilinx/xrt>tree lib
lib
├── libcommon_em.so
├── libcpu_em.so
├── libhw_em.so
├── libxilinxopencl.so -> libxilinxopencl.so.2
├── libxilinxopencl.so.2 -> libxilinxopencl.so.2.1.0
├── libxilinxopencl.so.2.1.0
├── libxrtcore.so -> libxrtcore.so.2
├── libxrtcore.so.2 -> libxrtcore.so.2.1.0
└── libxrtcore.so.2.1.0

1. Rename libhw_em.so to libxr

[2018-07-18 22:30] hcneema opened #102 "rename libxrtcore.so to libxrt_core.so"
This is filed explicitly for renaming libxrtcore.so to libxrt_core.so. We are also changing emu .so (to libxrt_hwem.so libxrt_swem.so) as per the below, to make everything in sync

[2018-07-18 22:46] #10 closed, assigned to nobody

[2018-07-18 22:48] sonals opened #103 "Add support for video DSA in xbflash"
Talk to me about the name of the DSA.

[2018-07-18 23:14] rradjabi opened #104 "Refactor sysfs usage in HAL"
Lots of code duplication exists in HAL for accessing sysfs. As such, we have many instances of slight variations of the same functions. This can cause issues in the future. It would be best to have a sysfs access class or something like that.

Examples:
flasher.cpp L166,175
memaccess.h L62
debug.cpp L137
hwmon.h L38
scan.h L24
shim.cpp L637,749,1362,1366,1388
xbsak.h L197,318,537
xbsak_debug.cpp L

[2018-07-19 12:47] #34 closed, assigned to nobody

[2018-07-19 21:20] maxzhen opened #111 "Should we use protected branch for upstream:master?"
Should we enable protected branch for upstream:master so that write permission can be granted to every one, but only "administrator" can merge pull request. Thus, we can grant write permission to everybody, so people can assign issues to themselves.

[2018-07-22 01:36] #99 closed, assigned to nobody

[2018-07-25 23:34] stsoe opened #133 "Release xrtdeps.sh to /opt/xilinx/xrt/bin"
Or if bin is not the right directory, please suggest better location.
The script is needed in sprite and canary infrastructure to validate the host.

[2018-07-26 18:45] #133 closed, assigned to nobody

[2018-07-27 00:27] rradjabi opened #138 "xbflash: allow users to flash on unknown devices if programming mode is specified"
https://github.com/Xilinx/XRT/blob/master/src/runtime_src/driver/xclng/tools/xbflash/flasher.h has a lookup table to determine programming mode from VBNVname in Feature ROM. This lookup table has to be updated in order for new devices to be programmed with xbflash. We should override this check if the user specifies a programming mode (don't call getProgrammingTypeFromDeviceName() ).

`
    const

[2018-07-27 02:24] #54 closed, assigned to chvamshi-xilinx

[2018-07-27 21:45] #102 closed, assigned to nobody

[2018-08-02 20:35] rradjabi opened #160 "adjust path to aws-fpga-staging for git integration"
The relative path in CMakeLists.txt needs to remove "aws-fpga-staging".

[2018-08-03 17:40] #86 closed, assigned to nobody

[2018-08-03 18:16] #111 closed, assigned to nobody

[2018-08-03 18:25] rradjabi opened #165 "Add XBB U200 and U250 devices to xbflash"
New DSA names to replace xilinx_xbb200 and xilinx_xbb250 are xilinx_u200 and xilinx_u250.

[2018-08-03 18:31] #165 closed, assigned to rradjabi

[2018-08-03 19:44] #77 closed, assigned to rozumx

[2018-08-04 04:52] #50 closed, assigned to nobody

[2018-08-05 18:57] #100 closed, assigned to nobody

[2018-08-06 17:24] maxzhen opened #173 "Update xbflash to support MFG boards"
The existing xbflash code relies on VBNV string found from Feature ROM to figure out board name, then flash type. There is not DSA on MFG boards, so xbflash cannot work with it. I think that we need to build a table in xbflash to map MFG device ID to board name and always check the table before read the Feature ROM to get the board name.

[2018-08-07 23:06] rradjabi opened #183 "Merge AWS Default Load Patch to Master"
https://github.com/aws/aws-fpga-staging/commit/9345c4811a5eea5456fe9df36f1dee5d82a6b4cb

This was pulled in aws/aws-fpga-staging:develop in July as a bug fix. Merge these changes into user_aws/shim for forward support.

[2018-08-07 23:55] #160 closed, assigned to nobody

[2018-08-08 20:39] pramodc opened #187 "Missing CL2.hpp from include directory"
I don't see cl2.hpp in the XRT build.  Should it be included in /opt/xilinx/xrt/include/CL/ ? Currently I only see
cl_ext.h  cl_ext_xilinx.h

[2018-08-09 17:44] rradjabi opened #191 "Crash in unitConvert"
Please investigate a crash in user_common/util.cpp::unitConvert(). It is being reached in xbutil query. See the output of xbutil and the stack trace. This was reported by @nbalagopal and @cellery.

**Running xbutil**
[code]
**Stacktrace:**
[code]

[2018-08-10 16:17] stsoe opened #197 "Remove src/include/1_2"
We should not carry a copy of OpenCL includes.

- Hem: move your latest src/include/1_2/CL/cl_ext.h changes to src/runtime_src/xocl/api/xlnx/cl_ext_xilinx.h
- Remove the directory src/include/1_2

[2018-08-10 16:21] #187 closed, assigned to nobody

[2018-08-10 21:54] NaAl-Xlnx opened #199 "License file(s)"
We must include license file(s) in the installation path, i.e.:
/opt/xilinx/xrt/license/*

this could be done by checking for the license parameter at the packaging time (make package). if license is defined as a make parameter (e.g. license=<path>) license files should be copied from <path> to  /opt/xilinx/xrt/license/

[2018-08-15 20:50] #173 closed, assigned to houlz0507

[2018-08-15 20:50] #138 closed, assigned to houlz0507

[2018-08-20 18:02] rradjabi opened #229 "drm_mm_takedown printk reports wrong index"
I think this entry to dmesg should indicate the buffer being taken down. Instead it will report the buffer_count for a topology.

https://github.com/Xilinx/XRT/blob/d95ed549d1dba8d8b23a827c57f504fd334a99e6/src/runtime_src/driver/xclng/drm/xocl/userpf/xocl_drm.c#L513

[2018-08-21 01:24] sonals opened #233 "Refactor xclbin reading in xocl"
1. Older xclbin metadata sections cached by xocl driver is not freed up when new xclbins are loaded --  leads to memory leaks.
2. Remove the metadata section wrappers in xocl_drv.h and inline the sections like how IP LAYOUT is handled
3. Refactor xocl helper in xocl with one function per section

[2018-08-23 02:39] #191 closed, assigned to chienwei-lan

[2018-08-23 03:09] maxzhen opened #252 "refactor pci_device_scanner"
1. merge scan() and scan_without_driver() - less dup code.
2. one static list of devices with both types (driver is working and driver is not working).
3. devices with driver attached should be packed to the first half of the list and devices without working driver should go after them.
4. scan should only be done once and for all for the life cycle of the process.
5. mutex needed to make it MT sa

[2018-08-24 19:08] #84 closed, assigned to rozumx

[2018-09-06 04:22] sonals opened #314 "Hide XRT core messages about system info and paths eith message manager"
The following message can not be suppressed today:

Linux:4.13.0-45-generic:#50~16.04.1-Ubuntu SMP Wed May 30 11:18:27 UTC 2018:x86_64
Distribution: Ubuntu 16.04.5 LTS
GLIBC: 2.23
---
XILINX_OPENCL="/opt/dsa/advantech_vega-4000_dynamic_5_101/xbinst"
LD_LIBRARY_PATH="/opt/dsa/advantech_vega-4000_dynamic_5_101/xbinst/runtime/lib/x86_64::/usr/local/lib"

We need to redirect this with message manager

[2018-09-06 05:01] sonals opened #315 "Update version string to match new 201802_X versioning style"

[2018-09-07 04:49] sonals opened #322 "DKMS script should unload old drivers and load new drivers."

[2018-09-07 17:24] hcneema opened #324 "Finish XMA work."

[2018-09-07 17:51] #85 closed, assigned to nobody

[2018-09-07 17:52] #75 closed, assigned to nobody

[2018-09-07 17:54] #72 closed, assigned to nobody

[2018-09-07 18:03] hcneema opened #325 "documentation cross check for 2018.2_XDF"
everyone.

[2018-09-07 18:04] hcneema opened #326 "valgrind some tests."

[2018-09-07 18:25] hcneema opened #328 "Wrap up testcases related work in github."
finish all cleanup, licensing work and any new tests for 2018.2_XDF in github by next Friday.

[2018-09-10 18:16] hcneema opened #344 "Wrap up DNA SC IP work in 2018.2_XDF"
Wrap up the work, let Neil know that we will be done with 2018.2_XDF this week. Other changes will come only in master branch later.

[2018-09-10 19:42] #322 closed, assigned to sonals

[2018-09-10 19:42] #199 closed, assigned to sonals

[2018-09-11 21:28] #197 closed, assigned to stsoe

[2018-09-11 22:41] #344 closed, assigned to chienwei-lan

[2018-09-11 22:51] #314 closed, assigned to hcneema

[2018-09-11 22:52] #233 closed, assigned to mamin506

[2018-09-12 17:07] #229 closed, assigned to stsoe

[2018-09-14 15:15] stsoe opened #379 "Add kernel-devel as package dependency"
Needed for compiling kernel modules

[2018-09-14 17:44] chienwei-lan opened #383 "Check FPGA status after xbutil reset -h"
now, xbutil reset -h is performing a PCIe secondary bus(root complex) reset, return xbutil reset successfully if it's performed successfully .

We should check FPGA status after performing xbutil reset -h, decide it's a successful reset or not.

Or user will be confused if reset is successful but FPGA is still in bad status.

[2018-09-14 17:50] #315 closed, assigned to stsoe

[2018-09-14 21:56] sonals opened #387 "Review HAL/XRT struct xclDeviceInfo2 changes"
`struct xclDeviceInfo2` has changed in 2018.2_XDF. Can we really change the struct since it breaks ABI?
Options are:

1. Add a separate struct for BMC features
2. Do not add any struct but have a function which like Linux **sensors** utility walks the sysfs and captures the values in a extensible JSON format.

[2018-09-17 16:14] maxzhen opened #397 "hwmon.[cpp|h] are not needed?"
It seems like no one needs these files any more?
 XRT/src/runtime_src/driver/xclng/xrt/user_gem/hwmon.[cpp | h]

[2018-09-21 02:10] #387 closed, assigned to nobody

[2018-09-21 02:17] maxzhen opened #421 "better handle faliure case in clEnqueueMapBuffer()"
Today, if clCreateBuffer() is called when application does not download xclbin, it can still successfully return non-NULL cl_mem. But if the APP calls clEnqueueMapBuffer() on this cl_mem, we'll crash. This error case should be handled gracefully.

[2018-09-21 18:49] haeseunglee opened #425 "clReleaseStream() does not clear the argument mapping"
clReleaseStream() should clear the argument mapping when it's called, but it's not happening.
So, when you create the same mapping again after call clReleaseStream(), you will get the error message like this: "Create Write Queue failed ret=-30"

[2018-09-21 22:49] #421 closed, assigned to nobody

[2018-09-24 15:33] cellery opened #429 "Clean up references to xbsak"
I see in dmesg log references to xbsak still:

[  216.077154] xocl_xdma 0000:01:00.0: destroy_client: Giving up with 1 outstanding execs, please reset device with 'xbsak reset -h'

[2018-09-24 21:32] maxzhen opened #434 "xbutil help message clean up"
Some of the options in xbutil are only meant to be experimental or for internal developer only. We may want to remove them from xbutil's help message.
E.g., xbutil boot, xbutil flash -m/-p

[2018-09-25 20:34] hcneema opened #437 "Fix xbutil message to say "Satellite Controller" instead of BMC"
Fix xbutil message to say "Satellite Controller" instead of BMC

[2018-09-25 20:40] hcneema opened #438 "xbutil top returns ERROR: No card found"
need to call scan

[2018-09-26 21:36] hcneema opened #442 "remove xocl::xocl() style casts as they are old"
We need to update the codebase.

[2018-09-27 21:50] cellery opened #450 "Double check timeouts for xbflash"
People are seeing very long timeouts in xbflash. Should reduce this down to a few seconds.

[2018-09-27 21:52] cellery opened #451 "0 out VCCAUX Voltage/Current when cable not plugged in"
In xbutil query we should just print out "Not enabled" or something equivalent on VCCAUX when cable is not plugged in. Drivers can detect this when it asks XMC for power capability and if it reports 0 then you know the cable is not plugged in.

[2018-09-27 21:53] cellery opened #452 "Display max power next to current power"
I think it would be good to have xbutil query display max power capable next to current power being used in xbutil query so user can see how close they are to the limit of the board.

Max power capable can be gotten from board info command to XMC.

[2018-10-01 17:46] stsoe opened #461 "Please compile xdp with -Wall -Werror"
There are warnings out of xdp, please fix these and make sure the code compiles with -Wall and -Werror.
In src/runtime_src/CMakeLists.txt, move add_subdirectory(xdp) after -Wall -Werror.

[2018-10-02 00:43] hcneema opened #463 "remove xcl_type and any associated dependencies"
core/object.h has XCLTYPE and associated stuff.

[2018-10-02 02:37] #397 closed, assigned to nobody

[2018-10-02 02:38] #252 closed, assigned to maxzhen

[2018-10-02 02:39] #104 closed, assigned to rradjabi

[2018-10-02 22:43] pgschuey commented on #461
Thanks for letting us know, Soren. I'm working on this now.

[2018-10-05 21:42] haeseung81 opened #481 "xocl module is not loaded after installing the XRT package"
xocl module is not loaded after installing the XRT package
You have to manually load the xocl module.

[2018-10-09 20:01] rradjabi commented on #183
Close this when https://github.com/Xilinx/XRT/pull/466 is merged.

[2018-10-10 02:29] sonals opened #493 "DSA install should automatically unload and then reload drivers"

[2018-10-10 15:48] #463 closed

[2018-10-10 15:49] stsoe commented on #461
Fixed in #473

[2018-10-10 15:49] #461 closed

[2018-10-10 21:11] mamin506 commented on #481
Hi @haeseung81,
In my test, this issue should be fixed in the latest code. Could you double check?

[2018-10-17 19:30] AShivangi opened #523 "enhance xbutil query user experience"
make stream as a secondary argument for 'xbutil query' while keeping the original 'xbutil query' intact

[2018-10-17 23:26] houlz0507 opened #526 "mb_scheduler: CPU is 100% busy even after giving up outstanding execs"
I noticed that CPU is stay in 100% busy even exec is gave up. Should we quite the scheduler loop after exec timeout?

   PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 28496 root      20   0       0      0      0 R 100.0  0.0  27:16.33 xocl-scheduler-
   357 root      20   0       0      0      0 S   0.3  0.0   0:16.88 kworker/11:1
 28861 root      20   0   45900   3744

[2018-10-18 17:11] rradjabi opened #529 "Add option to force install in xrtdeps.sh"
Non-interactive shells need the option to force install of packages in xrtdeps.sh. This is an issue for AWS F1 developer flow, since xrtdeps.sh will be called from sdaccel_setup.sh, and needs to confirm install for all packages by default.

[2018-10-18 17:17] rradjabi commented on #529
I have added a '-force' option to xrtdeps.sh and confirmed it worked in these steps:

1) in a setup with all packages installed, remove one package 'sudo yum remove devtoolset-6'
2) call xrtdeps.sh to confirm it prompts for y/n to install devtoolset-6, reject with 'n'
3) call 'xrtdeps.sh -force' and see that it forces install of devtoolset-6.

[2018-10-19 03:03] maxzhen opened #535 "DSA feature discovery based on VBNV name is hacky"
https://github.com/Xilinx/XRT/blob/96f4059b0e6fcbf54dce5fedd73217078b73ae2c/src/runtime_src/driver/xclng/drm/xocl/subdev/feature_rom.c#L317
It's better to add the feature info to either:
DSA's feature ROM
OR
static table defined in devices.h and associate it with the correct device ID.

[2018-10-19 15:35] stsoe commented on #535
Feature ROM would be ideal, but the info is not there.  I need to know, if a DSA (1) has ERT, (2) if ERT is there, does the CU address lookup through a table lookup, or is addressing consecutive, (3) does the DSA support CDMA.

(3) will be addressed, I know, but I am not sure about (1) and (2).    I'd be happy to move the the information into the static tables in device.h if only I had a clue as h

[2018-10-19 18:09] maxzhen commented on #535
Lizhi knows better about the details. But basically, you just need to add member(s) to struct xocl_board_private, which will be populated by a XOCL_BOARD_xxx macro, which then will be associated with a particular (vendor, device, subdevice) triplet in XOCL_MGMT_PCI_IDS or XOCL_USER_XDMA_PCI_IDS. Take a look at struct xocl_board_private->board_name for example.

[2018-10-19 20:05] keryell opened #544 "The compiled documentation should not be in the source repository"
There should be no https://github.com/Xilinx/XRT/tree/master/docs directory in the Git repository, since it is a by-product of the documentation compilation.

I hope that this is not directly used by https://xilinx.github.io/XRT/ ...

[2018-10-19 21:08] rradjabi opened #545 "xbflash should check to ensure user doesn't program golden image"
This is a JIRA issue CR-981401 that should go into master for 2018.3.

[2018-10-19 23:43] keryell opened #548 "Integrate better test.rst documentation with build.rst"
Now there is a good https://github.com/Xilinx/XRT/blob/master/src/runtime_src/doc/toc/build.rst talking about Release and Debug build, I have the feeling that most of the building part described in
https://github.com/Xilinx/XRT/blob/master/src/runtime_src/doc/toc/test.rst should be factorized out into `build.rst` and put into context.

[2018-10-22 21:21] rradjabi opened #552 "xbutil validate hangs if validate.exe is not present"
xbutil validate calls xcldev::device::runTestCase() and looks for /opt/xilinx/dsa/<dsa-name>/test/validate.exe. If that file isn't present, it will just hang.

Present in Xilinx/master.

[2018-10-22 21:32] rradjabi commented on #545
Resolving CR as won't fix since the golden image is password protected on U200 and U250.

[2018-10-22 21:32] #545 closed

[2018-10-22 22:09] keryell opened #554 "Clean up the documentation in src/runtime_src/driver/include/xclhal2.h"
There is a lot of errors when compiling the documentation from the comments extracted from this file.

[2018-10-22 23:11] keryell opened #557 "xclng kernel driver uses bitmap_to_u32array which disappeared in Linux 4.16"
The kernel driver does not compile with recent kernel 4.18 because it uses an old API which has been introduced with https://github.com/torvalds/linux/commit/c724f193619c896621bf5818d71ce77437f49a06 starting with Linux 4.16.

Look at https://github.com/torvalds/linux/commit/3aa56885e51683a19c8aa71739fd279b3f501cd7 the changes to do to the source.

[2018-10-23 20:44] maxzhen opened #565 "one API interface to perform AXI gate freeze and free from icap"
Today, icap provide two separate APIs for AXI gate freeze and free. This is not good since these two steps should be done in one shot, always. We should, instead, just provide one API to perform AXI gate reset from icap. In this interface, we'll need to grab icap's mutex and perform AXI gate freeze and free.

[2018-10-23 21:11] #557 closed

[2018-10-24 08:20] luckyteddy opened #568 "aarch64 compatibility issue"
I tried to compile on an aarch64 server and found the error.
/home/xu/XRT/src/runtime_src/impl/cpu_em_math.cpp:65:4: error: #warning ForceFTZ needs an implentation [-Werror=cpp]
   #warning ForceFTZ needs an implentation
    ^~~~~~~
Further investigation found that the cpu_em_math.cpp file doesn't include (__aarch64__) action.

[2018-10-25 22:02] hcneema opened #582 "Makefiles in tests/xrt/ <> need to be validated (not working)"
1. Makefiles in individual tests are not working
2. They need to be adapted so that we pick up the utils.h from host_src area (so that every testcase doesnt need one copy).

[2018-10-25 22:03] hcneema opened #583 "<>/test/xrt/<> . tests should pick up utils.h from central host_src area in nightly sprite"
Currently each test has a copy of utils.h . We need to use the one in host_src area. The older tests in perforce used to do that, so we can refer to them.

[2018-11-06 22:02] mamin506 commented on #568
This is a known issue for us. This file is obsoleted. We will remove it. @sonals

[2018-11-06 22:02] mamin506 opened #627 "No bitmap_to_u32array() in before Kernel 4.6"
https://github.com/Xilinx/XRT/blob/21c61b080ee476bd03d1ee73cdf9f58d1105e5c4/src/runtime_src/driver/xclng/drm/xocl/subdev/mb_scheduler.c#L2028

Please check.
4.4.162  https://elixir.bootlin.com/linux/v4.4.162/source/include/linux/bitmap.h
4.5.7      https://elixir.bootlin.com/linux/v4.5.7/source/include/linux/bitmap.h
4.6         https://elixir.bootlin.com/linux/v4.6/source/include/linux/bitmap.h

[2018-11-06 22:41] keryell commented on #544
To make progress on this, one can look for example at https://github.com/triSYCL/triSYCL/blob/master/doc/architecture.rst#source-code-documentation about how to move the generated documentation into a separate branch.

[2018-11-07 00:57] rradjabi opened #632 "Store sensor info in JSON file"
See JIRA CR-1009607.

[2018-11-07 05:15] #568 closed

[2018-11-09 16:12] stsoe opened #645 "xclbinsplit fails to link when CMAKE_MINIMUM_REQUIRED is upped"
Please change CMAKE_MINIMUM_REQUIRED in src/CMakeLists.txt to:
CMAKE_MINIMUM_REQUIRED(VERSION **3.5.1**)
then run ./build.sh.

The build will fail to link xclbinsplit on both Ubuntu and CentOS.

We need to use minimum 3.5 of cmake for some changes we are making.  PR #644 updates build.sh to use cmake3 on CentOS, Ubuntu already has version 3.5.x.

While we can still use the later version of cmake w

[2018-11-09 18:14] rradjabi commented on #552
Closing as cannot reproduce.

[2018-11-09 18:14] #552 closed

[2018-11-09 18:17] #529 closed

[2018-11-09 18:19] rradjabi commented on #183
Merged in 4f8f73f ; Closing;

[2018-11-09 18:19] #183 closed

[2018-11-09 22:13] #645 closed

[2018-11-13 15:57] stsoe opened #660 "Update mgmt-core version"
In at least mgmt-core.h the version is hardwired to 2018.2.2.  I am hesistant manually updating this without understanding the consequences.  Please update to 2018.3  and please add a comment stating that is safe to change the values at the beginning of a new release so that anyone can do this without filing an issue.

[2018-11-14 05:57] stsoe commented on #627
u32array was an old API, it is moved to arr32.  The code switches to _arr32 in 4.16, looks like it has to switch earlier.  If you already know, can you please fix the macro.  Thanks!

[2018-11-14 23:18] rradjabi opened #673 "Change xbutil json to xbutil dump"
Let's make the command generic and use 'dump' as the switch. In the future we could dump to different formats.

[2018-11-15 03:27] #526 closed, assigned to stsoe

[2018-11-15 18:48] rradjabi commented on #673
Closed in #674

[2018-11-15 18:48] #673 closed

[2018-11-15 19:39] maxzhen opened #681 "xbutil query output improvement after json format change"
+ A few bits of information are missing. For example part name/IDCODE, etc.
+ It seems that xbutil query now report vendor/device IDs in DEC. Could you fix them so that they are still reported in HEX since it’s in HEX everywhere else…

[2018-11-17 01:42] #681 closed

[2018-11-28 00:22] houlz0507 opened #725 "Panics for kick off kernel run without downloading bitstream."
in sdaccel.ini
xclbin_programing=false

This trigger 2 panics

[  463.705341] BUG: unable to handle kernel NULL pointer dereference at 0000000000000018
[  463.706052] IP: [<ffffffffc08889d5>] xocl_create_bo_ioctl+0x65/0x2e0 [xocl]
[  463.706766] PGD 800000042d2b9067 PUD 41c76f067 PMD 0
[  463.707470] Oops: 0000 [#1] SMP
[  463.708171] Modules linked in: xocl(OE) xclmgmt(OE) xt_CHECKSUM iptable_man

[2018-11-30 18:36] stsoe commented on #481
If problem still persists, then please file a CR and provide STR

[2018-11-30 18:38] maxzhen commented on #438
This has been fixed in 2018.2 XDF

[2018-11-30 18:38] #438 closed

[2018-11-30 18:39] maxzhen commented on #434
this is fixed in 2018.2 XDF.

[2018-11-30 18:39] #434 closed

[2018-11-30 18:40] stsoe commented on #429
This is fixed.

[2018-11-30 18:40] #429 closed

[2018-11-30 18:41] stsoe commented on #425
Discussed with Max. We will fix kernel argument reference counting of memory objects.

[2018-11-30 18:51] maxzhen commented on #89
In run.sh, we can run ldd against host.exe to see if it's directly linked against libOpenCL.so. If yes, then we can check if we have absolute path in ICD. If yes, then we can warn user about this.

[2018-11-30 18:53] stsoe commented on #30
Fixed

[2018-11-30 18:53] #30 closed

[2018-12-03 20:57] rradjabi opened #745 "Xbutil Query Reports Incorrect Memory Temperature"
For devices with more than 4 memory entries, the memory topology report from 'xbutil query' will show temperatures that don't exist.

See JIRA CR-1017994.

'xbutil query' from my U200
[code]

Entries for PLRAM 0:2 are invalid. They should be "N/A".

'xbutil query' after my fix:
[code]

[2018-12-04 17:20] #745 closed

[2018-12-10 23:42] maxzhen opened #766 "Needs to revisit calls to atomic_xxx APIs in driver"
In our drivers, we call atomic_xxx() APIs in multiple places. After examination of a few cases, I can see that some of the usage of these APIs are problematic. I'd like to list some good and not-so-good use cases that I know of. We want to double check all cases in our driver to make sure we don't have lurking bugs by calling atomic kernel APIs.

1. In our code, we sometimes use mutex together wit

[2018-12-11 01:48] mamin506 commented on #544
@keryell Hi, Ronan. The docs/ folder was removed from master branch. If you run build.sh, the document will be built in Release/runtime_src/doc/ folder. Only Sonal and Soren can publish documents to gh-pages branch. See #765.

[2018-12-11 02:54] keryell commented on #544
That seems like a reasonable solution.
At least the git repository is quite cleaner now!
Thanks.

[2018-12-11 02:54] #544 closed

[2018-12-13 19:30] #766 closed

[2018-12-14 01:36] DJmimi35 opened #783 "build.sh fail on PowerPC system"
[build.sh_error.txt](https://github.com/Xilinx/XRT/files/2678308/build.sh_error.txt)
Hi,

I'm trying to install XRT on my PowerPC server, but it failed on build.sh step. The error message said:

/home/xilinx/XRT/src/runtime_src/driver/hw_em/generic_pcie_hal2/shim.cxx: In member function ‘size_t xclhwemhal2::HwEmShim::xclReadSkipCopy(uint64_t, void*, size_t)’:
/home/xilinx/XRT/src/runtime_src/drive

[2018-12-18 19:03] rradjabi opened #803 "awsmgmt not packaged in *-aws RPM or DEB"
Andros has noticed that the awsmgmt driver is not installed via the -aws package.

* dkms-aws.cmake needs to be included in src/CMakeLists.txt, and was added in commit 4b73c6bc06dbb42f42e7aebd1b041eea9df01cd0.
* src/CMakeLists.txt was refactored in commit 57f63113fc6d8d6ecf75ec83bc12b03278159d4b and the equivalent code was moved to native.cmake, but the line to include dkms-aws.cmake didn't make i

[2018-12-19 11:17] pwaller opened #813 "CMAKE_INSTALL_PREFIX not respected"
It would be helpful to people trying to package XRT if `CMAKE_INSTALL_PREFIX` were respected.

Right now it is not:

[code]

Results in files in `/usr/src`, and files in /opt/xilinx, outside the given prefix:

<details>

<summary>List of files installed</summary>

[code]

</details>

---

I do understand that there may be constraints on where files must live (e.g./etc/OpenCL/vendors/xilinx.icd) in

[2018-12-20 04:12] trappist opened #818 "Utils can't identify BCU 1525"
Vendor id is `1e24:1525`. The devices appear in `lspci` on linux like so:
[code]

But `xbutil scan` and `xbutil list` output:
[code]
after scanning all the `vendor` files in `/sys/bus/pci/devices` (I was able to observe with strace)

[2018-12-20 05:42] sonals commented on #783
Fixed by
https://github.com/Xilinx/XRT/pull/815

[2018-12-22 00:43] stsoe opened #831 "xbutil query may not use xclRead to read CU control regsister"
AXI bus is frozen during bitstream download, reading the control register at this time trips the firewall.  The CU status must be acquired through a scheduler control command.

Additionally, reading AXI-lite control register affects AP_DONE which is COR.

[2018-12-22 00:48] maxzhen commented on #831
see http://jira.xilinx.com/browse/CR-1018181

[2018-12-29 19:42] stsoe opened #833 "PR #749 broke "xbutil mem". mem_access.h is not aware of mem_topology moved to icap."
This PR broke "xbutil mem".  mem_access.h is not aware of mem_topology moved to icap.

_Originally posted by @stsoe in https://github.com/Xilinx/XRT/pull/749#issuecomment-450515276_

[2019-01-02 18:04] tianhaoz95-xilinx opened #836 "build issue with cmake 3.13.2"
OS: Ubuntu 16.04
System Spec:
[code]
cmake version:
[code]
Error message:
[code]

[2019-01-02 18:55] maxzhen commented on #833
fixed by pr 834

[2019-01-02 18:55] #833 closed

[2019-01-03 16:12] cjvolzka commented on #783
After fix #815 I'm still getting a similar error trying to build on ppc64le as well.
[code]

The #815 fix was to disable emulation library builds on ppc64le. However commit https://github.com/Xilinx/XRT/commit/0850c9f6ecda930144462282cbeae146614f99db#diff-cd3212400dccc73763a8a00cfe42cd88 appears to have undone that. I see in the build output
[code]
Based on the commit that means XRT_NATIVE_BUILD s

[2019-01-03 18:10] rradjabi commented on #818
@trappist Please check that your drivers are correctly installed.

Try `lspci -v -d 10ee:` and the two devices should show kernel modules xclmgmt and xocl in use. Also verify with `lsmod | grep xocl` and `lsmod | grep xclmgmt`. If these don't exist, please try reinstalling the RPM or DEB package you built under XRT/build/Release.

[2019-01-03 18:11] rradjabi commented on #803
Fixed by #804 and #805. Closing.

[2019-01-03 18:11] #803 closed

[2019-01-03 18:14] rradjabi commented on #481
@haeseung81 please close this if the issue is stale and won't be tested further.

[2019-01-03 18:17] #481 closed

[2019-01-11 11:43] cathalmccabe opened #867 "Install on 7.6 or later fails"
If installing XRT on CentOs/RHEL 7.6, installation fails with the message: "Centos or RHEL release version must be 7.4 or later"
In src/runtime_src/tools/scripts/setup.(c)sh the check is only against 7.4 and 7.5 . If neither are detected, installation fails.
` if ( "$OSREL" !~ 7.4* && "$OSREL" !~ 7.5* ) then`

It looks like the check should be changed to allow installation to continue, or if 7.6 i

[2019-01-14 03:48] stsoe commented on #831
Fixed by #848

[2019-01-14 03:48] #831 closed

[2019-01-14 03:49] #442 closed

[2019-01-17 22:00] sonals commented on #783
Can you try again? I compiled 2018.3 and master today on PPC64LE without any issues.

[2019-01-18 21:44] mamin506 opened #882 "Support xclOpenContext() and xclCloseContext() in embedded XRT"
.

[2019-01-18 22:40] sonals commented on #783
Thanks closing the issue.

[2019-01-18 22:40] #783 closed

[2019-01-31 16:33] kparam91 opened #922 "ARM v8.1 atomics causes driver compilation failure"
Raising issue on behalf of my colleague: @kaneeun
Background: Interfacing a Xilinx PCIe based card to an ARM CPU based board
Attn: @sonals
Issue:
1. XRT 2018.3 fails to compile with gcc 5.3 when ARM atomics v8.1 enabled
2. XRT 2018.3 compiles with gcc 5.4, but driver fails to load complaining about atomic instructions when ARM atomics v 8.1 enabled
Workaround found: Disable ARM v 8.1 atomics in li

[2019-02-01 06:40] mamin506 opened #928 "Generate PDF document"
Someone suggests that PDF document is sometimes useful. We should generate PDF document in xrt_docs target.

[2019-02-10 23:05] stsoe opened #959 "kernel panic with xbutil top"
http://jira.xilinx.com/browse/CR-1021924

install latest master XRT
run xbutil top in a separate window
% xbutil top

in different shell, load an arbitrary xclbin
if a different xclbin is already loaded, kernel panics
% xbutil program -p verify.xclbin

else load a different xclbin and kernel now panics
% xbutil program -p bandwidth.xclbin

[2019-02-12 23:53] mamin506 opened #968 "XRT test case call xclMapBO but no munmap()"
I saw that some test cases in tests/xrt/ call xclMapBO but no unmap. This will cause a problem that xclFreeBO could not free the buffer, since the reference count is not 0.

Those cases need update.

@sonals @haeseung81 @rradjabi

[2019-02-12 23:55] mamin506 commented on #882
#960 fixed

[2019-02-12 23:55] #882 closed

[2019-02-13 00:06] mamin506 commented on #836
@tianhaoz95-xilinx Do you still see this issue in the latest code?
Could you check below items:
1. internet access on that build machine
2. "./kernel-doc downloading" message in the cmake log
3. build/Release/kernel-doc exist or not

[2019-02-19 19:14] tianhaoz95-xilinx commented on #836
I haven't been using that machine for a while. Will give it a try.

[2019-02-20 05:14] uday610 opened #994 "documentation of xclRegisterInterruptNotify"
We need to document the purpose and also mention that this API is non-functional today:
       xclRegisterInterruptNotify

[2019-03-07 23:21] tianhaoz95 commented on #836
@mamin506 Yes I still see this issue in the latest code.

error message:

[code]

1. internet access on that build machine

I can `git pull` and `git clone`, but the mirror for kernel-doc is hard to say.

2. "./kernel-doc downloading" message in the CMake log

Yes, I see the output message without tailing error.

[code]

3. build/Release/kernel-doc exist or not

Yes, it exists.

[code]

[2019-03-18 17:54] arpitxilinx opened #1086 "Possibility of dereferencing a NULL ptr in mailbox"
Within mailbox_recv_request, this process_request and free_msg should be within the if block, otherwise there is potential of OOPs as we would be dereferencing NULL pointer.

		/* Peel the message from the list */
		if (msg) {
			list_del(&msg->mbm_list);
			mbx->mbx_req_cnt--;
			mbx->mbx_req_sz -= msg->mbm_len;
			mutex_unlock(&mbx->mbx_lock);
		} else {
			mutex_unlock(&mbx->mbx_lock);
			break

[2019-03-18 18:09] arpitxilinx commented on #1086
I overlooked the break :). So

[2019-03-18 18:09] #1086 closed

[2019-03-19 04:36] mamin506 commented on #968
#992 Fixed

[2019-03-19 04:36] #968 closed

[2019-03-20 15:58] stsoe commented on #959
CR was fixed

[2019-03-20 15:58] #959 closed

[2019-03-20 16:00] stsoe commented on #535
I believe this has finally been taken care of.

[2019-03-20 16:00] #535 closed

[2019-03-20 16:01] stsoe commented on #627
We have worked around by implementing the needed functions in mb_scheduler.c itself

[2019-03-20 16:01] #627 closed

[2019-03-26 04:40] maxzhen commented on #867
fixed in master.

[2019-03-26 04:40] #867 closed

[2019-03-26 04:40] uday610 commented on #836
@tianhaoz95 , is this issue exist now after #1055 is closed?

[2019-03-26 04:41] uday610 commented on #818
Closed

[2019-03-26 04:41] #818 closed

[2019-03-26 04:44] uday610 commented on #450
@cellery , is this issue still valid?

[2019-03-26 04:45] #326 closed

[2019-03-26 05:02] #328 closed

[2019-03-26 05:05] uday610 commented on #379
CR-1010980 is closed. So closed this too

[2019-03-26 05:05] #379 closed

[2019-03-26 05:06] uday610 commented on #383
@chienwei-lan , is this done now?

[2019-03-26 05:09] uday610 commented on #725
@houlz0507 , is this done in 2018.3?

[2019-03-26 05:18] uday610 commented on #73
@sonals , is this still an issue?

[2019-03-26 05:19] uday610 commented on #548
@sonals , any plan/thought? Otherwise can we close this?

[2019-03-26 05:20] uday610 commented on #565
@maxzhen , what is the status of this plan?

[2019-03-26 05:49] uday610 commented on #582
@haeseung81 , can you please see if this issue is still valid?

[2019-03-26 05:50] uday610 commented on #583
@haeseung81 , can you please see if this issue still valid?

[2019-03-26 06:44] maxzhen commented on #565
already done

[2019-03-26 06:44] #565 closed

[2019-03-26 06:45] maxzhen commented on #437
already done

[2019-03-26 06:45] #437 closed

[2019-03-26 06:45] maxzhen commented on #325
already done

[2019-03-26 06:45] #325 closed

[2019-03-26 15:43] uday610 commented on #324
XMA integration is done. Closing it

[2019-03-26 15:43] #324 closed

[2019-03-26 17:14] haeseung81 commented on #582
I believe they are all fixed by now. All the makefiles and testcases are up-to-date.

[2019-03-26 17:15] haeseung81 commented on #583
It's already resolved. You can close this issue.

[2019-03-26 17:44] keryell opened #1136 "Which version of Linux kernel XRT device driver can be compiled for?"
By looking at https://github.com/Xilinx/XRT/blob/master/src/runtime_src/doc/toc/system_requirements.rst I understand that there is a list of Linux distributions XRT has been tested for.
But is there a list of Linux kernel versions the device driver is know to compile on?
Such as what is the most recent version of Linux (5.0?) and the oldest?
It would be nice to add a new section for the Linux kern

[2019-03-26 18:58] #583 closed

[2019-03-26 18:58] uday610 commented on #582
closed

[2019-03-26 18:58] #582 closed

[2019-03-26 19:28] #523 closed

[2019-03-29 20:47] uday610 opened #1154 "XRT installation issue in RHEL"
I was trying to install XRT on a RHEL server and met several issues.

This is the  lsb_release -a output:

Distributor ID:	RedHatEnterpriseWorkstation
Description:	Red Hat Enterprise Linux Workstation release 7.4 (Maipo)
Release:	7.4
Codename:	Maipo

1) sudo in xrtdeps.sh not found

https://github.com/Xilinx/XRT/blob/master/src/runtime_src/tools/scripts/xrtdeps.sh#L139

2) cmake is only installed

[2019-04-01 15:19] cellery commented on #450
Hi Uday, it is still valid. The two functions that need to be optimized are:

XSPI_Flasher::isFlashReady()
XSPI_Flasher::waitTxEmpty()

The code times out after what is supposed to be a couple seconds, but the delay calculation is not taking into account the time it takes to read flash registers, hence the timeout is much longer than its supposed to be. The fix should be calculating using the dela

[2019-04-04 16:33] tianhaoz95-xilinx commented on #836
@uday610 yes this can be closed

[2019-04-04 16:33] #836 closed

[2019-04-15 18:58] keryell commented on #1136
It would be nice to add something like Travis-CI to check that it compiles with a few recent kernel versions and a few GCC versions... I am not even thinking about checking it does really work on a real system and real device. Just checking that it compiles without scary warning is a first big step. :-)

Right now the branch `2018-3` is XRT 2.1.0 compiles for me with Linux 4.18.0-17-generic (x86_6

[2019-04-19 17:02] hackwa opened #1263 "xbutil crash on flashing"
xbutil flash -a xilinx_u200_xdma_201830_1
XBFLASH -- Xilinx Card Flash Utility
Probing card[0]: Shell on FPGA needs updating
Shell on below card(s) will be updated:
Card [0]
Are you sure you wish to proceed? [y/n]
y
Updating shell on card[0]
INFO: ***Found 701 ELA Records
Idcode byte[0] ff
Idcode byte[1] 20
Idcode byte[2] bb
Idcode byte[3] 21
Idcode byte[4] 10
Enabled bitstream guard. Bitstream wi

[2019-04-19 18:13] maxzhen commented on #1263
@cellery , do you know anything about this assertion?

[2019-04-23 17:06] tianhaoz95 opened #1287 "Compilation hang on Ubuntu 16"
OS: Ubuntu 16
Did I run `xrtdeps.sh`: yes

Error message:
[code]

[2019-04-23 19:05] cellery commented on #1263
This assertion fails when you try to flash with debug XRT build and not release. No one ever updated the assert statement to fix the check.

[2019-05-01 23:27] keryell commented on #89
I think we have to focus on having the normal case be simple for the normal user.
A user wanting to debug XRT will be probably knowledgeable to handle debugging with the ICD, changing  `/etc/OpenCL/vendors/xilinx.icd`, play with https://github.com/intel/opencl-intercept-layer or whatever.
So what about closing this issue and considering the current state as a normal behaviour?

[2019-05-01 23:42] keryell opened #1339 "Install /opt/xilinx/xrt/include/CL/cl_ext_xilinx.h directly in /usr/include/CL"
While playing with the Intel SYCL implementation, @agozillon noticed that the file `cl_ext_xilinx.h` does not go to the standard OpenCL location while using the generated Debian XRT package.
This makes a little bit more difficult the use of Xilinx extensions by requiring to change the build system.
Note that by contrast `xilinx.icd` goes directly into `/etc/OpenCL/vendors`.
Otherwise, I do not thi

[2019-05-02 00:08] stsoe commented on #1339
I see your point, but then we have a problem with #include_next, dont' we?  The current idea is that with search path pointing to /opt/xilinx/xrt/include, users including cl_ext.h will get our wrapper /opt/xilinx/xrt/include/cl_ext.h which only includes cl_ext_xilinx.h then turns around and includes /usr/include/CL cl_ext.h.     This is done for backwards compatibility because someone once upon a

[2019-05-02 00:56] keryell commented on #1339
Ah, I missed this `#include_next` atrocity... :-)
I have the feeling that just having a normal `cl_ext_xilinx.h` in `/usr/include/CL` would work for normal users desiring to use explicitly Xilinx extensions and having a backward compatibility `/opt/xilinx/xrt/include/CL/cl_ext.h` to next-include `/usr/include/CL/cl_ext.h` and to include `/usr/include/CL/cl_ext_xilinx.h`.
It looks like it would sol

[2019-05-08 21:57] keryell opened #1384 "Device driver fails to compile with Linux 5.0"
I have tried with branches `2018.3` and `2019.1` on Ubuntu 19.04 and it fails with messages like:
[code]
It looks like `drm_gem_object_unreference_unlocked` has been renamed to `drm_gem_object_put_unlocked` in Linux 5.0.

Interestingly `drm_gem_object_put_unlocked` is used already in `src/runtime_src/driver/zynq/drm/zocl/zocl_bo.c`#641 starting with branch 2019.1:
[code]
I am puzzled here...
How c

[2019-05-13 19:49] agozillon opened #1420 "Typo in thrown error in memory.cpp"
The error thrown on line 98 of memory.cpp (https://github.com/Xilinx/XRT/blob/master/src/runtime_src/xocl/api/detail/memory.cpp#L98) appears to have a typo:

"host_ptr may not be nullptr when CL_ME_EXT_PTR_XILINX is specified"
->
"host_ptr may not be nullptr when CL_MEM_EXT_PTR_XILINX is specified"

Not a particularly big issue.. but thought I'd point it out in any case on the off chance its not b

[2019-05-13 20:00] stsoe commented on #1420
Thank you. Fixed in #1421

[2019-05-13 20:00] #1420 closed

[2019-05-13 23:24] agozillon opened #1425 "clEnqueueUnmapMemObject event_wait_list clarification"
Back again so soon, sorry! In this case I believe its a bug, but I could be misinterpreting or misunderstanding something.

In the `clEnqueueUnmapMemObject` call there is a check to see if a mapped ptr is a valid ptr ([here](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/xocl/api/clEnqueueUnmapMemObject.cpp#L64)) i.e. has already been mapped to the device via a `clEnqueueMapBuffer` call

[2019-05-20 16:20] swilson-xlnx opened #1453 "Device fails to program if a previously downloaded XCLBIN didn't run any kernels"
If we an XCLBIN is downloaded, and several OpenCL objects are created, **but a kernel is not run**, future downloads fail.

Attached is some code to illustrate the problem:
[main.cpp.txt](https://github.com/Xilinx/XRT/files/3198797/main.cpp.txt)

In main.cpp you will see several calls to a test function:

Test(xclbinPath, true);
Test(xclbinPath, true);
Test(xclbinPath, false);
Test(xclbinPath, tru

[2019-05-22 21:09] rradjabi opened #1464 "Cherry-pick uuid link for AWS into 2018.3_RC3 branch"
Cherry-pick 836d766 from 2018.3 into 2018.3_RC3 branch

References #1463

[2019-05-22 21:10] rradjabi opened #1465 "Cherry-pick uuid link for AWS into 2019.1 branch"
Cherry-pick 836d766 from 2018.3 into 2019.1 branch

References #1463

[2019-05-22 21:11] rradjabi opened #1466 "Cherry-pick uuid link for AWS into master branch"
Cherry-pick 836d766 from 2018.3 into master branch

References #1463

[2019-05-22 23:41] keryell commented on #1384
I am setting up a machine with a Ubuntu 19.04 and a U200 so someone from the team can play with...

[2019-05-22 23:44] keryell commented on #1384
Actually compiling for Linux 5.0 does not need a specific machine up to the final test I can do myself...
But if someone can fix the compilation issue in the meantime, without testing, it is a good start... :-)

[2019-05-22 23:49] keryell commented on #1136
To move on this, someone inside Xilinx can try to compile on `xsjsycl40.xilinx.com` if you need a machine with Ubuntu 18.10 &  Linux 4.18. I can add you in the sudoers too.

[2019-05-28 22:50] chaosYoun opened #1486 "Segmentation fault during tests/xrt/102_multiproc_verify test"
Missing break in main.cpp caused a segmentation fault error.

diff --git a/tests/xrt/102_multiproc_verify/main.cpp b/tests/xrt/102_multiproc_verify/main.cpp
index 450424b..59195da 100644
--- a/tests/xrt/102_multiproc_verify/main.cpp
+++ b/tests/xrt/102_multiproc_verify/main.cpp
@@ -133,11 +133,14 @@ static int runKernel(xclDeviceHandle handle, uint64_t cu_base_addr, bool verbose
                 m

[2019-05-29 15:03] stsoe opened #1489 "Please create pull requests to merge #1462 to master and 2019.1"
#1462 must be merged to other branches.

[2019-05-30 00:02] trappist opened #1492 "Utils don't see BCU 1525"
I originally opened #818 to this effect but it was closed after I neglected it. Still have the same problem. Re: the comments on that issue, `lspci` shows the device as `1e24:1525`, not `10ee:*` which I assume is the source of the problem. The `xocl` and `xclmgmt` are both loaded according to `lsmod`. This is the relevant output of lspci, if it helps:
[code]

[2019-05-30 19:00] chaosYoun opened #1497 "cannot flush outstanding command during tests/xrt/102_multiproc_verify test"
[  240.352866] xocl 0000:59:00.1: exec_stop: exec_stop(000000007844613e)
[  240.352872] xocl 0000:59:00.1: exec_stop: Waiting for 1 outstanding commands to finish
[  240.457552] xocl 0000:59:00.1: exec_stop: Waiting for 1 outstanding commands to finish
[  240.565562] xocl 0000:59:00.1: exec_stop: Waiting for 1 outstanding commands to finish
[  240.673586] xocl 0000:59:00.1: exec_stop: Waiting for

[2019-05-30 19:01] #1486 closed

[2019-05-30 19:26] chaosYoun opened #1498 "Shouldn't abort the command which was already completed"
In ERT mode, scheduler_running_to_complete() can complete multiple commands.
Theses completed commands can be remain as completed even after client->abort is set as true.
Should not change the state of these commands to ERT_CMD_STATE_ABORT or application can get false error return.

[code]

[2019-05-31 21:00] chaosYoun commented on #1497
Below code also can cause similar problem.
[code]

[2019-06-04 17:49] keryell commented on #493
Is it a real issue?
If I understand correctly for example the Alveo U200 documentation, flashing a DSA requires cold-booting the whole machine, so probably this unload/reload is just a side effect of the reboot...

[2019-06-04 17:50] keryell commented on #493
That said, it would be nice if changing a DSA would not require rebooting the machine...

[2019-06-04 17:52] keryell commented on #1425
@sonals who is the right person to answer this?

[2019-06-04 17:54] keryell commented on #1384
@sonals who is the right person to answer this?

[2019-06-04 17:55] keryell commented on #1287
Is this problem solved for you?
Otherwise, Ubuntu 16.04 is 3 year old anyway, what about modernizing your environment?

[2019-06-04 18:00] keryell commented on #1263
@sonals who is the right person to move on this?
I just spent a couple hours on this again and that is a shame. :-(
Is there any Continuous Integration made on this?
Who is in charge of this CI inside Xilinx?

[2019-06-04 18:11] maxzhen commented on #1263
Did you try latest master branch? Should've been fixed there.

[2019-06-04 18:29] tianhaoz95 commented on #1287
I tried on another Ubuntu 16.04, the same issue did not show up. I think it is a problem with the corporate proxy. Closing this issue.

[2019-06-04 18:29] #1287 closed

[2019-06-04 19:41] keryell commented on #813
The problem I see is that the generated `.deb` contains a lot of stuff, which is usually uncommon.
Probably a more common use case would be to have a top-level `xrt.deb` mainly empty, just pulling a lot of sub `.deb` though its dependencies, such as `xrt-kernel-source`, `xrt-bin`, `xrt-lib`, `xrt-doc`, `xrt-dev`, `xrt-icd`, etc. But that would require a lot of devop re-hauling...
@pwaller I do not

[2019-06-04 19:42] keryell commented on #725
@stsoe What is the status of this?

[2019-06-04 19:59] stsoe commented on #725
No idea?

[2019-06-04 20:29] keryell commented on #725
@stsoe You put it on the https://github.com/Xilinx/XRT/milestone/2 milestone that shipped long time ago, so I was hoping it was no longer an issue.. :-)

[2019-06-04 20:33] keryell commented on #1263
The problem is that I do not know if I can use the `master` branch or not. Is it supposed to work with the SDx 2019.1 public version? I am going to create an issue on it.
For now I was trying only officially available stuff...

[2019-06-04 20:41] keryell opened #1515 "Document the versions of the tools compatible with the runtime"
It is not clear right now which branch to use with which version of the various Xilinx tools.
Is this just related with the XRT version (2.2, 2.3...) and can be simplified at this level?
For example what are the XRT branches compatible with SDAccel 2019.1?

This issue came out from https://github.com/Xilinx/XRT/issues/1263 and is also somehow related to https://github.com/Xilinx/XRT/issues/1136

[2019-06-04 21:39] maxzhen commented on #1263
the master should work. if not, it's a bug of highest priority.

[2019-06-06 12:40] deeppat commented on #1489
Hi @stsoe can you assign this to me. I'll reference this when I create PR's

[2019-06-06 18:46] j-stephan commented on #1384
@keryell: See #1530, it seems to work on my machine.

[2019-06-07 14:43] hackwa commented on #1263
Awesome! thanks for confirming @keryell. I do not know what the specific commit is for cherry picking. Maybe @maxzhen  or @cellery could help?

[2019-06-07 15:21] maxzhen commented on #1263
The change is just to remove the assertion. Can't do cherry-pick since it's part of a big change which can't be backported to 2019.1. For 2019.1, please use release version of xbutil flash.

[2019-06-07 15:33] #1263 closed

[2019-06-07 23:23] keryell commented on #1515
@uday610 I've been told you are the guy to know and document this somewhere. :-)

[2019-06-11 16:18] gareth-xlnx opened #1544 "xrtdeps.sh fails to install EPEL on Centos 7.5"
On branch 2019.1 of the repo, if I try to use `xrtdeps.sh` to install prerequisites on a fresh install of CentOS 7.5, EPEL fails to install:

[code]

I need to manually run the line listed against RHEL :
[code]
in order to add the EPEL repository and allow the installation of cmake3.

Should the CentOS branch of the conditional just be the same as the RHEL one?

[2019-06-11 17:44] j-stephan commented on #1384
It should be fixed now, give it a try :)

[2019-07-02 13:55] durgabhavaniv opened #1606 "unable to perform ./build.sh"
cd XRT/build
./build.sh

Above step throwing the following error as below:
/usr/bin/cmake3: /opt/Xilinx/SDx/2018.2/lib/lnx64.o/libxml2.so.2: no version information available (required by /lib64/libarchive.so.13)

[2019-07-02 22:17] keryell commented on #1606
You should have a clean environment with the required packages installed/compiled.
So, *do not* source some configuration files from Xilinx `/opt/Xilinx/...` or `/proj/xbuilds/...` otherwise you can get some random pieces of bits...

[2019-07-03 05:43] durgabhavaniv commented on #1606
With out sourcing I got same issue as below:

[ 45%] Linking CXX executable xclbintest
/usr/bin/cmake3: /opt/Xilinx/SDx/2018.2/lib/lnx64.o/libxml2.so.2: no version information available (required by /lib64/libarchive.so.13)
[ 45%] Built target xclbinutil
/usr/bin/cmake3: /opt/Xilinx/SDx/2018.2/lib/lnx64.o/libxml2.so.2: no version information available (required by /lib64/libarchive.so.13)
[ 45%] B

[2019-07-04 01:44] keryell commented on #1606
Curious...
Where does this `/opt/Xilinx/SDx/2018.2` come from then?
What is the output of
[code]
for example?

What is your OS? What is this `cmake3`?

[2019-07-08 20:53] uday610 commented on #1489
closed

[2019-07-08 20:53] #1489 closed

[2019-07-08 21:52] uday610 commented on #1492
Hello @trappist , the BCU 1525 is not a Xilinx device. As per this page : https://pci-ids.ucw.cz/read/PC/1e24 this device is from  Squirrels Research Labs. So Xilinx cannot support this and you may need to contact to the correct vendor.

[2019-07-08 22:45] trappist commented on #1492
OK thanks @uday610

[2019-07-08 22:45] #1492 closed

[2019-07-09 07:01] uday610 commented on #1384
fixed

[2019-07-09 07:01] #1384 closed

[2019-07-10 18:10] rradjabi opened #1632 "Add check for ingested xclbin (2018.3)"
In xrt-aws, if a user passes an xclbin that has not gone through ingestion, a segfault will occur since an ingested awsxclbin with bitstream stripped is expected.

A simple fix can be put in userspace https://github.com/Xilinx/XRT/blob/96d6e282f215ca59570ce15c1c9b2dba8f55e8a1/src/runtime_src/driver/xclng/xrt/user_aws/shim.cpp#L153. When an xclbin is passed in that is too large, it can be assumed t

[2019-07-10 18:13] rradjabi opened #1633 "Add check for ingested xclbin on AWS (2019.1)"
A segfault is reached if a user passes an xclbin that has not gone through ingestion. Amazon is requesting a proper fix for this in 2019.1. The same issue is experienced in 2018.3, for which an easy userspace fix was suggested (#1632). You may want to apply a more sophisticated, data-driven fix.

[2019-07-12 19:23] kenhill opened #1652 "XRT 2019.1 Installation Issues on Ubuntu Xenail HWE"
XRT 2019.1 depends on built-in kernel module `fpga` which is part of the `linux-modules-extra` package.

Can this be added as a dependency for the XRT `*.deb`

[2019-07-13 09:18] dexty007 opened #1654 "Validate kernel test failed_Failed to find any debug IP_Xbutil mem failed - POWER9_ubuntu 18.04 PPC64LE"
https://forums.xilinx.com/t5/Alveo-Data-Center-Accelerator/Issue-installing-XRT-and-Deployment-Shell-in-Power9/td-p/994207

I've opened an issue on community forum regarding this, it needs to be solved in the present version, there are some precompiled x86 libraries which need to be cleaned I guess and add support for POWER9 with ubuntu 18.04 PPC64LE

![validate_kernal_failed](https://user-images.

[2019-07-17 09:21] xlz-jgoutin opened #1674 "Provides packages on APT/YUM repositories"
Hello,

Currently, XRT and shell packages are provided on the Xilinx Website (Example [here](https://www.xilinx.com/products/boards-and-kits/alveo/u250.html#xrt1804_20191_xdma_v2) on the U250 page).

This requires to go manually on the page and download the package. This is OK in a development environment but far less on a larger scale production environment with automated and scripted installatio

[2019-07-17 15:58] stsoe commented on #1498
Hi.  Thanks for this suggestion.   client->abort is set to true when client / application exists.  How can application get false return code?

[2019-07-17 16:53] stsoe commented on #1497
I second the change in scheduler_error_to_free.  But I am not comfortable with cmd_free change.   Once the xocl_cmd is freed it will be recycled through cmd_get where the ->bo field is reset.   If cmd_release_gem_object is deferred as suggested, the reset could come before the bo was released to drm.

Of course the free_cmd_mutex could be held longer, but I am curious about the scenario you descri

[2019-07-17 17:22] chaosYoun commented on #1498
client->abort is set as true in destrory_client().
After setting client->abort as true, destroy_client() is waiting for all the outstanding commands to finish.
I don't remember exact call stack of the 2 threads but based on the code, there is a possibility that while the thread calling destroy_client() waits for the outstanding commands, the scheduler thread changes the command state and notifies

[2019-07-17 17:31] chaosYoun commented on #1498
For your information, I found this error during tests/xrt/102_multiproc_verify test.

[2019-07-17 18:11] chaosYoun commented on #1497
I think my description can be wrong.
I thought that exec_stop() was called somehow by cmd_release_gem_object_reference() at that time but exec_stop() may be called before cmd_free() is called through exec_mark_cmd_complete().
For this problem to happen,  cmd_release_gem_object_reference() should be blocked by some other reason like mutex.

[2019-07-17 18:14] #1466 closed

[2019-07-17 18:14] #1465 closed

[2019-07-17 18:14] #1464 closed

[2019-07-18 15:36] stsoe commented on #1498
But my point is that the application must already be in exit handlers when destroy_client() is called, thus the application can no longer get notifications.

[2019-07-18 18:30] chaosYoun commented on #1498
Today morning I tried to reproduce the symptom I described without the patch but failed.
Your point seems reasonable and I don't remember the details of this issue now.
I'll close this and reopen if I encounter the same issue.

[2019-07-18 18:30] #1498 closed

[2019-07-22 18:29] uday610 commented on #1515
Hello @keryell , the XRT git branch generally says which SDx version it is compatible with

[2019-07-22 18:30] uday610 commented on #1606
There is no response from the reporter. So closing this

[2019-07-22 18:30] #1606 closed

[2019-07-22 20:30] uday610 commented on #1652
@sonals , please check this issue.

[2019-07-23 02:33] keryell commented on #1652
On my machines `linux-modules-extra` comes with `linux-generic` which is installed by default, but it is on `19.04`, not Xenial `16.04` which is more than 3 year old...
But it does not seem harmful to add the dependency you propose.
Otherwise you could try a newer version, at least 18.04 LTS. You will get not only the support from HWE for new hardware, but everything else. :-)

[2019-07-23 05:13] maxzhen commented on #554
The doc is built while building the whole XRT now. I do not see any errors. @keryell , please close this issue if it works for you. Or please let me know how to reproduce it.

[2019-07-23 23:45] #1497 closed

[2019-07-25 15:07] j-stephan opened #1717 "Name clashes with Linux kernel >= 5.0.14"
Linux 5.0.14 introduced `stream_open` in [`include/linux/fs.h`](https://elixir.bootlin.com/linux/v5.0.14/source/include/linux/fs.h#L3080). This causes a name clash while building the kernel module since `stream_open` is already defined there:

[code]

I'd submit a pull request and rename this myself but I don't know about Xilinx' internal coding standards / naming guidelines.

[2019-07-25 15:39] maxzhen commented on #1717
maybe prefix it with "qdma" or something as other functions in the same file is using?

[2019-07-25 16:37] j-stephan commented on #1717
Okay, I simply renamed all `stream_foo` structs / functions to `qdma_stream_foo`. See #1720.

[2019-07-28 02:13] keryell commented on #1717
Thanks!
@sonals It would be nice to have a buildbot at Xilinx testing the compilation with the recent kernels if we are serious about open-source...
I guess this can be closed since https://github.com/Xilinx/XRT/pull/1720 was merged.

[2019-07-30 17:11] scarrazza opened #1741 "U280 failed test"
Hi,

I have just tried to install the runtime and deployment shell for a U280 card, all steps, including flashing and lscpi works great on a fresh Ubuntu 18.04 (2019.1.RC_1 tag) and ArchLinux (master, +minimal kernel fixes for 5.2.4).

However in both cases the `xbutil validate` returns failed:
[code]

in fact running `xbutil status` gives me:
[code]

however the output of `xbutil flash scan` seem

[2019-07-31 10:58] scarrazza commented on #1741
Never mind, I didn't realized that the binaries for the deployment shell and SDAccel are locked into a specific XRT tag. I have implemented a minimal set of fixes for kernel 5.2.4 to the xocl driver in https://github.com/scarrazza/XRT/pull/1.

[2019-07-31 10:58] #1741 closed

[2019-07-31 18:24] j-stephan commented on #1717
Yup, closing this, compilation works fine (for now...)

[2019-07-31 18:24] #1717 closed

[2019-08-05 21:19] stsoe commented on #1453
I cannot reproduce this with a similar separate example.
If you can show this with a complete example, then please file a CR or a new issue with all data.

[2019-08-05 21:19] #1453 closed

[2019-08-06 18:08] #1425 closed

[2019-08-06 20:38] dsorber opened #1775 "XRT 2.2.2173 does not support RHEL 7.7"
With the latest version of XRT 2.2.2173 the xocl driver does not compile on RHEL 7.7:

[code]

[2019-08-07 20:47] rradjabi commented on #1632
@xuhz any fix for this yet?

[2019-08-07 20:47] rradjabi commented on #1633
@xuhz any fix for this yet?

[2019-08-16 12:07] dsorber commented on #1775
Is there any update on this?  I still can't use my U200 card until the driver is updated.

[2019-08-16 17:05] houlz0507 commented on #1775
kernel 5.0 compiling fix is back ported to 19.1 branch. Could you try the latest 19.1 branch on git hub?
It should work but we do not have 3.10.0-1062 to verify it. Please let us know if you still can not compile.

[2019-08-16 18:15] dsorber commented on #1775
I just built the 19.1 branch from source and installed the resulting RPM on 3.10.0-1062.  The driver modules compiled and installed successfully.

Do you know when an official updated RPM will be released?

[2019-08-16 20:38] houlz0507 commented on #1775
I do not know the next release time. I am copying @uday610 for your question

[2019-08-19 13:00] dsorber commented on #1775
Thanks for your attention to this issue. RHEL 7.7 (with the 3.10.0-1062 kernel) was released on 8/6, and CentOS releases usually lag RHEL releases by about 30 days.  I strongly suggest that a new release containing the driver updates be done before CentOS 7.7 is released.

I can use the custom built XRT RPM for my own development purposes but I need the updated official RPM for any customer deploy

[2019-08-22 15:37] dsorber commented on #1775
@houlz0507 I attempted to do some more testing with the XRT RPM I built from the 19.1 branch.  I can't seem to load firmware (.xclbin files) with the new version of XRT installed.

This is what I tried, the command hangs:

[code]
This is the contents of the kernel log:
[code]
Do you have any idea what's wrong, or any thoughts on what I can do to debug? The same test with XRT version 2.1.1794, work

[2019-08-22 18:09] houlz0507 commented on #1775
Are you saying that "xbutil program -p firmware.xclbin" hangs? If yes, maybe @stsoe has some insight?

[2019-08-22 18:10] dsorber commented on #1775
Yes, that is what I'm saying.

[2019-08-22 18:13] maxzhen commented on #1775
The xclbin download seems to finish successfully. The configure cmd seems hang?

[2019-08-22 18:16] dsorber commented on #1775
Yes, the command seems to hang and doesn't return. I've tried multiple times. One of those times I give it 10+ minutes.

[2019-08-27 16:03] j-stephan opened #1906 "FATAL error : Simulation process did not launch"
I am seemingly unable to launch any program in `hw_emu` mode. It doesn't matter which program I try to use, even the SDAccel examples fail. The error message is always the same (full verbosity enabled in `sdaccel.ini`):

[code]

I tested this with the `master` branch and the `2019.2` branch, both are showing the same behaviour. I can't test the older branches because they are missing patches for t

[2019-08-27 17:54] j-stephan commented on #1906
The solution was posted in the thread linked above: My system was missing the `csh` shell. After installing it, `hw_emu` works.

[2019-08-27 17:54] #1906 closed

[2019-08-28 21:49] xuhz commented on #1632
fixed

[2019-08-28 21:49] #1632 closed

[2019-08-28 21:50] xuhz commented on #1633
fixed

[2019-08-28 21:50] #1633 closed

[2019-09-03 17:24] dsorber opened #1957 "XRT 2.2.2173 does not support Ubuntu 4.15.0-60"
I just installed regular OS updates, which included kernel 4.15.0-60, on my Ubuntu machine and now XRT won't build:

[code]
Everything worked fine on the 4.15.0-58 kernel.  Please advise.

[2019-09-04 12:08] dsorber commented on #1957
Since it's unclear when this will be officially fixed here is a work around for anyone else who gets stuck:

[code]

[2019-09-04 15:55] maxzhen commented on #1957
fix is available on latest 2019.1 branch.

[2019-09-04 16:09] dsorber commented on #1957
@maxzhen when will the fix be released?

[2019-09-04 17:18] maxzhen commented on #1957
maybe in a week or two.

[2019-09-18 06:29] vitesse-ftian commented on #1957
I need 2018.3 version, so following the fix on str_dqma.c (remove static before stream_open/close functions), I can build and install 2.1.1794.

After sudo /opt/xilinx/xrt/bin/xbutil flash -a all and code boot, I cannot find the card -- sudo lspci -vd 10ee: shows nothing.   Ouch ...

Any advice on what to do?

[2019-09-19 04:24] maxzhen commented on #1957
is driver loaded properly? anything interesting in dmesg log?

[2019-09-19 11:51] dsorber commented on #1957
The 2.2.2250 XRT release finally fixes this issue.

[2019-09-19 11:51] #1957 closed

[2019-09-19 14:46] dsorber commented on #1775
The 2.2.2250 XRT release finally fixes this issue.

[2019-09-19 14:46] #1775 closed

[2019-09-25 16:51] dsorber opened #2145 "XRT error/warning messages printed to stderr"
The XRT runtime is printing error/warning messages to stderr. These messages disrupt my application.

For example:

[code]
Is there some mechanism to suppress these messages?

[2019-10-04 22:36] sonals commented on #2145
Add a xrt.ini to current working directory.

[code]

[2019-10-08 11:30] dsorber commented on #2145
Is there some way to do this globally? I have no idea where someone might run my application from.

[2019-10-19 03:55] #89 closed

[2019-11-07 15:19] dsorber commented on #2145
@sonals Anyone?

[2019-11-07 15:54] stsoe commented on #2145
@dsorber.  There is not any global way to disable other than using xrt.ini to lower verbosity or set the runtime_log to null.

The warning indicates that some of the kernel's compute units will be unused.  Is that really what you intend?

When the application creates the cl_kernel it could instead create the kernel with just the compute units that will work with the banks.   For example, XRT suppo

[2019-11-07 16:41] Felkin1 opened #2414 "PLATFORM_NOT_FOUND_KHR when running pyopencl tests"
I am unable to detect an emulated device when running the pyopencl library and calling the get_platforms() method. I am fully able to run regular host.exe files generated using xocc from the command line when using sdaccel.

I am using SDACCEL 2018.2 for building. The toolchain is installed in a different folder than opt, but I took care of this by setting the right env vars. Where is the library

[2019-11-08 10:29] Felkin1 commented on #2414
I managed to get it fixed by manually adding an /etc/OpenCL/vendors/xilinx.icd file and changing it to point to the actual implementation in sdaccel's folder.

I have run into another issue now, though, where the python script doesn't have permission to access /usr/bin/.run and loses the env_vars when moving to sudo.

[2019-11-08 16:51] ssbanerje opened #2419 "Build Issues on Ubutnu 19.10"
I am having some difficulties with the CMake build on Ubuntu 19.10 using the current HEAD as well as the 2019.2_RC1 tag.

When I run `build.sh -driver` the cmake generation script fails to create targets for the tests saying it could not find `OpenSSL::Crypto`. However, cmake spits out an earlier log that it was able to find `OpenSSL`.

Here is a full output of the cmake command.

[code]

I have i

[2019-11-08 16:55] ssbanerje commented on #2419
I am not sure if this is related. When I try to build the main libs/bins/kmodules in the Release/Debug directories, I get a lot of errors triggered by the `-Werrror` flags. For example

[code]
[code]

[2019-11-08 17:52] stsoe commented on #2419
@ssbanerje the compilation errors are code problems indeed.   Not yet sure about the CMake errors.  We will check it out and fix.  Thanks for pointing out the problems.

[2019-11-11 10:02] swilson-xlnx opened #2425 "Calling xclGetSectionInfo when XCLBIN has not been programmed yet results in segfault."
Following a cold reboot of our server (which obviously results in the FPGA being blank), a call to **xclGetSectionInfo** to query the IP LAYOUT (which should be empty) results in a **segmentation fault.**

[2019-11-11 17:00] maxzhen commented on #2425
please file a CR with source of the host code and core dump. we can take a look at CR.

[2019-11-12 13:49] dsorber commented on #2145
@stsoe Thanks for the info re kernel name.

I guess the bigger issue is that my code is compiled into a shared library which can then be linked into an application I did not create.  As such XRT writing to stdout/stderr can (and will) cause problems.  I think it would make a lot of sense to add some mechanism to globally disable logging to stdout/stderr because, as I said, I have no control over w

[2019-11-19 09:11] hango-hango opened #2462 "Library Error: /usr/lib/libxdp.so.2: undefined symbol:"
When I try to build a XRT runtime on my zynq7100 board, I get a runtime error as follows. I need help for the reason of this problem, thanks.

`root@hz100ocl:/mnt# ./ocl.exe kernel.xclbin
XRT build version: 2.3.0
Build hash: 874c2cb41f63e68fc41b4e2d62bf6695393e7d54
Build date: 2019-11-19 07:39:24
Git branch: master
PID: 1219
UID: 0
[Tue Nov 19 08:00:36 2019]
HOST: hz100ocl
EXE: /mnt/ocl.exe
[XRT]

[2019-11-25 14:07] phssakaigawa opened #2485 "Support UltraScale+ FPGA"
I have XCVU9P FSGD2104AAZ SoC Board
Are there any plans to support these UltraScale + SoCBoards?

[2019-12-06 10:15] eejlny commented on #2419
Hello,

Any updates on this ?I am also seeing the same problem when trying to run build.sh

CMake Error at runtime_src/tools/xclbin/CMakeLists.txt:125 (add_executable):
  Target "xclbinutil" links to target "OpenSSL::Crypto" but the target was
  not found.  Perhaps a find_package() call is missing for an IMPORTED
  target, or an ALIAS target is missing?

[2019-12-10 02:31] Vae1997 opened #2565 "zocl_drv.c:421:8: error: unknown type name 'vm_fault_t'"
I am referencing: https://github.com/Xilinx/XRT/blob/master/src/runtime_src/doc/toc/yocto.rst

But when I execute petalinux-build, I get compilation errors:

Log data follows:
| DEBUG: Executing shell function do_compile
| NOTE: make -j 4 KERNEL_SRC=/home/wzy/zh-project/BSP_project/build/tmp/work-shared/zcu102-zynqmp/kernel-source KERNEL_PATH=/home/wzy/zh-project/BSP_project/build/tmp/work-shared/

[2019-12-10 02:49] larry9523 commented on #2565
Looks like you are using 'KERNEL_VERSION=4.14.0-xilinx-v2018.3 ', there is no vm_fault_t before 4.17. Which XRT branch are you using? Can you update your petalinux or switch to 2018.3 XRT?

[2019-12-10 02:57] Vae1997 commented on #2565
Yes, I am using 4.14.0-xilinx-v2018.3, but the latest branch for XRT, so which XRT branch should I use?

[2019-12-10 05:40] Vae1997 commented on #2565
OK,now it works well.
I just changed the XRT to 2018.3,thanks a lot.😊

[2019-12-10 05:40] #2565 closed

[2019-12-10 08:33] Vae1997 opened #2566 "How do I verify that XRT works?"
Hello!
I booted from the SD card and started Ubuntu16.04 on the ZCU102 board.
Then configure XRT via Petalinux and generate zocl.ko and /opt/xilinx/xrt/.
Finally I just copied all the generated files to Ubuntu.
What should I do next to make sure XRT is already working in the system?
Thanks a lot.

[2019-12-15 11:25] foolmarks commented on #2419
I'm seeing the same error when building on Ubuntu 18.03 LTS.

[2019-12-15 18:10] stsoe commented on #2419
@foolmarks Do you mean 18.04.3 ?  We are building and releasing packages on 18.04 by default.
While Ubuntu 19.10 has compile errors with gcc9.2, Ubuntu 18.04 is clean.
Did you install the necessary packages by running xrtdeps.sh prior to building XRT?
Which branch are you building?

@ssbanerje @eejlny I will fix the gcc9.2 compile errors, but please beware that XRT doesn't officially support Ubunt

[2019-12-15 19:49] foolmarks commented on #2419
Sorry, yes I did mean 18.04.3 LTS

Yes, I've run the dependency install script (several times).

I'm building the master branch.

[2019-12-15 20:18] stsoe commented on #2419
@foolmarks That's odd.  I am building the master branch on 18.04.3 no problems, and you cleaned stale CMake data with

 first?

[2019-12-16 09:30] foolmarks commented on #2419
Yes, I did the clean (several times).

Just tried the build of the master branch on 18.04.2 and it ran perfectly - I ended up with several .deb packages in the Release folder:

xrt_202010.2.5.0_18.04-aws.deb
xrt_202010.2.5.0_18.04-azure.deb
xrt_202010.2.5.0_18.04-container.deb
xrt_202010.2.5.0_18.04-xbtest.deb
xrt_202010.2.5.0_18.04-xrt.deb

I'm guessing that I need to install  xrt_202010.2.5.0_18

[2019-12-16 16:35] stsoe commented on #2419
Yes, if you build XRT yourself, then before installing your locally built package xrt_202010.2.5.0_18.04-xrt.deb, copy /lib/firmware/xilinx/sched*.bin to a temporary location.  After installing your locally built package, you will see that apt has removed  /lib/firmware/xilinx/sched*.bin, now simply copy them back.  We are working on a better solution for this, e.g. decoupling the scheduler firmwa

[2019-12-16 17:36] foolmarks commented on #2419
I got this to work by doing the following:
- installed 18.04.2 from scratch. Allowed it to update to 18.04.3
- cloned the github repo, ran the dependencies script then built the .deb
- installed the XRT .deb from build/Release   ( I don't have any other Xilinx tools installed so didn't need to save the  /lib/firmware/xilinx/sched*.bin files).
- downloaded and installed the xilinx-u200-xdma-201830.

[2019-12-16 17:47] stsoe commented on #2419
Without the sched*.bin files you will not be able to use XRT with the embedded scheduler.
I suggest you download the XRT package, extract (dpkg -x) it some some directory, then copy extracted sched*.bin files  to /lib/firmware/xilinx.

[2019-12-16 18:39] stsoe commented on #2419
Closing as fixed with PR #2595

[2019-12-16 18:39] #2419 closed

[2019-12-19 13:35] singagan opened #2610 "Build issue on RHEL 7.5"
Hi,
After running src/runtime_src/tools/scripts/xrtdeps.sh on RHEL 7.5 when I try to build XRT I get the error that cmake generation script fails saying it could not find OpenSSL::Crypto

I run enable devtools prior to running build.sh.

This is similar to #2419
So I have tried to follow the suggestions, however, I am still having the issue on rhel7.5.
Release description:  Red Hat Enterprise Linu

[2019-12-19 16:27] stsoe commented on #2610
@singagan Please follow the exact instructions in the documentation.  For example, you are not building using the right software collection.  'scl enable devtoolset-6 bash' .  Do this and run build.sh clean before trying again.

[2019-12-22 06:32] Wyp184800 opened #2623 "can not build on windows"
I'm trying to build XRT on windows 10 with VS2019, but some error  occurs.
I just modified cmake generator assigned in "build.bat" to VS2019, then I ran the .bat script, it prints

[code]

Which seems like VS can not fide the project file

[2019-12-23 12:20] Vae1997 opened #2624 "System freezes when running add1_zgem.cpp"
When I run the XRT / src / runtime_src / driver / zynq / test / add1_zgem.cpp file, the system interface becomes unresponsive and the mouse cannot move.
In the current directory, the effect of add1_zgem_64.cpp is the same.
But when I execute zgem1.c, the output is as follows:
Note: zgem1 is compiled by g ++ zgem1.c -o zgem1
root @ zcu102: ~ / XRT-2018.3 / src / runtime_src / driver / zynq / test #

[2020-01-04 04:34] LeonMac opened #2632 "AWS F1 install XRT, report xclmgmt is missing"
Other step are running OK, when doing deb package installation, always meet issue as below:
$ sudo apt install --reinstall ./xrt_202010.2.5.0_18.04-xrt.deb
Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'xrt' instead of './xrt_202010.2.5.0_18.04-xrt.deb'
0 upgraded, 0 newly installed, 1 reinstalled, 0 to remove and 0 not upgraded.
After thi

[2020-01-05 15:45] LeonMac commented on #2632
I were told the xclmgmt will NOT work on AWS F1 machine (AWS customize the PF MGMT).
Please comments--if that is true I will close the issue

[2020-01-05 15:57] LeonMac opened #2636 "Install XRT onto AWS F1 baremetal but xbutil scan fail."
Hi I am trying to install XRT onto one AWS F1 baremetal machine, but meet issue that xbutil scan fail.
Below are the logs:
_____________________
[code]

[2020-01-09 02:52] LeonMac commented on #2632
Issue solved by @xuhz , not XRT relevant. Thanks so much!

[2020-01-09 02:52] #2632 closed

[2020-01-09 02:53] LeonMac commented on #2636
Issue solved by @xuhz , not XRT relevant.
Thanks so much!

[2020-01-09 02:53] #2636 closed

[2020-01-09 19:50] tschesnok opened #2656 "shim-profile.h seems to be missing.. XRT build broken?"
shim_hwem.cpp references "shim-profile.h" which is no longer in the repository???

When I run ~/XRT/src/runtime_src/tools/scripts/peta_build.sh ~/PetaBuilds/xsa_build/zcu104_revmin/zcu104_revmin.xsa
I get:

 /home/andrew/XRT/src/runtime_src/core/edge/hw_em/shim_hwem.cpp:24:10: fatal error: shim-profile.h: No such file or directory
|  #include "shim-profile.h"
|           ^~~~~~~~~~~~~~~~
| compila

[2020-01-16 10:50] pedrombmachado opened #2681 "[Documentation] Run XRT on Embedded Linux"
Hi All,
  Is there documentation available explaining how to run the XRT on the Embedded Linux (e.x. Ubuntu 18.04 LTS ARM 64). I am looking for the core drivers that are required.
Kind Regards
Pedro

[2020-01-16 23:00] arrow53 opened #2686 "undefined reference to `boost::system::detail::generic_category_instance'"
On Ubuntu 18.04 with either master or 2019.2 I get this error

[code]

[2020-01-18 03:45] stsoe commented on #2686
Hi @arrow53.  This is strange since we build XRT on Ubuntu 18.04 with no problems.  Can you provide more insight into how you are building?  Do you maybe have your own version of boost installed?  I see other reports of same error when I google.

[2020-01-18 16:57] #2425 closed

[2020-01-18 17:34] arrow53 commented on #2686
I can build fine on another Ubuntu 18.04 fine too. I'll just close it. I don't have my own boost installed that I know of and did try to purge/reinstall boost system/filesystem with no joy.
The deb package here did work fine if anyone else runs across this and just wants to use xrt.

https://www.xilinx.com/html_docs/xilinx2019_2/vitis_doc/Chunk1858803630.html

[2020-01-18 17:34] #2686 closed

[2020-01-27 18:36] jrwagz opened #2727 "Unable to install on Fedora 27"
I have a need to get XRT to build/run on Fedora, at least version 27 or newer.  So I downloaded the source to this repo, and worked through installing the dependencies for it on Fedora so that I could get the source to build on Fedora 27.  I got that far without too much hassle (just standard package dependency resolution).

Once it completed, it didn't give me an RPM to install, only a .tar.gz fi

[2020-01-28 00:24] jrwagz opened #2728 "Cannot install on CentOS 7.5"
When trying to install the published RPM for CentOS on CentOS 7.5 I get the following errors:

[code]

It appears that xocl is failing to build, and here is the detailed error from it's make.log:

[code]

I have validated that the correct versions of kernel-devel and kernel-headers are installed:

[code]

[2020-01-28 04:56] rDaffa commented on #2636
I am having the same issue. can @LeonMac or @xuhz share with us the solution?

[2020-01-28 06:25] LeonMac commented on #2636
@rDaffa My issue are mixture of several kinds of reason so hardly to simply give a directly solution
Can you be more spcify the detail--if you look into the message hostory, there are some tips suggested. maybe you could paste more infor. about problem you meet.

[2020-01-31 12:45] FenrisTC opened #2747 "XRT won't configure PL on *_base platforms?"
I'm trying to run the hello world example from the [Vitis_Accel_Examples](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/hello_world) on a custom platform based on the zcu104_base platform form the [official embedded platforms](https://github.com/Xilinx/Vitis_Embedded_Platform_Source/tree/master/Xilinx_Official_Platforms/zcu104_base).

Running `./init.sh` on the the board results in th

[2020-02-02 17:46] beldachi opened #2754 "2019. 2 compatibility and errors"
I downloaded the latest version of the XRT:

[XRT 2019.2] https://github.com/Xilinx/XRT/tree/2019.2

 I run the build.sh , I receive two errors

runtime_src/core/pcie/emulation/common_em/CMakeFiles/common_em_objects.dir/build.make:166: recipe for target 'runtime_src/core/pcie/emulation/common_em/CMakeFiles/common_em_objects.dir/rpc_messages.pb.cc.o' failed
make[2]: *** [runtime_src/core/pcie/emula

[2020-02-07 11:22] alexanpatr commented on #2747
I tried to run examples from the [Vitis_Accel_Examples](https://github.com/Xilinx/Vitis_Accel_Examples), on a platform based on [official embedded platforms](https://github.com/Xilinx/Vitis_Embedded_Platform_Source/tree/master/Xilinx_Official_Platforms/zcu102_base), unsuccesfully.

The issue appears to be similar with the one that @FenrisTC mentions.

I would like also to mention that similar issu

[2020-02-07 23:50] FenrisTC commented on #2747
I've found a reasonably ugly workaround that gives me a running PL design.

First, build a new XSA by following the steps in section IX of UG1393 ([here](https://www.xilinx.com/html_docs/xilinx2019_2/vitis_doc/hcb1561793640896.html)). Don't add the AXI Interrupt Controller, it has to be initialized after each configuration which the workaround won't do.
Also remove the AXI Interrupt Controller and

[2020-02-08 15:17] alexanpatr commented on #2747
I confirm that this workaround seems to work. I tried it for 3 examples from [Vitis_Accel_Examples](https://github.com/Xilinx/Vitis_Accel_Examples) and for a custom kernel of my own. All run properly with correct results.

Looking at kernel messages we can see:

`[drm] Fail to install CU 0 interrupt handler: -22. Fall back to polling mode.`

I do not know what other side effects might exist.

@Fen

[2020-02-14 07:16] niclasb opened #2841 "How to compile xrt for Edge?"
How is xrt for Edge supposed to be compiled?

This line disables edge if compiling on target.
https://github.com/Xilinx/XRT/blob/e68552d741d40c47bf4ac2edeff9f54aa18361f0/src/runtime_src/core/CMakeLists.txt#L7

I tried crosscompile xrt but ran into many issues so I just changed XRT_NATIVE_BUILD to no in the top build and that works fine on target.

Regards,
Niclas

[2020-02-21 07:20] zohourih commented on #2747
Maybe not very helpful in _solving_ your problem, but I have ran both the Vitis Hello World example and a kernel of my own using the Vitis 2019.2 flow and the official zcu104_base platform out of the box. The only possible difference in my flow which I can think is that I used xrt_201920.2.3.1301_7.4.1708-xrt.rpm from [here](https://www.xilinx.com/products/boards-and-kits/alveo/u250.html#gettingSt

[2020-02-21 07:29] zohourih commented on #2841
Actually I am also trying to do something related where I am trying to somehow get XRT working on a Zynq MPSoC board with Ubuntu RootFS. My very last failed attempt was to copy the content of `/lib/modules/` from PetaLinux RootFS to Ubuntu RootFS and load the zocl driver manually using modprobe, which did actually succeed, but even then the `cl::Platform::get()` call fails with error -1001. I gues

[2020-02-21 07:45] niclasb commented on #2841
I have it running to some extent with Ubuntu 18.04. I guess you have some problems with the shared libraries. What does "xbutil scan" say?
And check that you have env variable XILINX_XRT set (/usr works if you used make install).

[2020-02-21 09:44] zohourih commented on #2841
Did you compile XRT on the Ubuntu RootFS running on an SoC board? Or are you trying to cross-compile XRT for an SoC board using Ubuntu running on an x86 machine?

I am trying the former case because I want to use Ubuntu instead of PetaLinux on my SoC board (ZCU104) but so far, I have not been able to successfully compile XRT (on Ubuntu running on the SoC board itself) since I neither know how I sh

[2020-02-21 11:11] niclasb commented on #2841
I built xrt on the soc itself.
You will need the kernel headers (make deb-pkg) then install the three deb packages on target. Jump to zocl dir under xrt and run make. Then you will have zocl.ko.
Build xrt and run make install.

[2020-02-25 08:45] zohourih commented on #2841
@niclasb Thank you for the great tip. I finally managed to correctly create DEB packages for Xilinx's kernel and install them. Then I downloaded the "First 2019.2_PU2 release" package, changed `src/CMakeLists.txt`, Line 20 to `set(XRT_NATIVE_BUILD "no")`, ran `make` in `src/runtime_src/core/edge/drm/zocl`, ran `./build.sh -opt` on top directory, and finally ran `make modules_install` in `src/runti

[2020-02-25 09:02] niclasb commented on #2841
Try setting /etc/OpenCL/vendors/xilinx.icd to libxilinxopencl.so

Run strace on the application and check if it finds the correct libs.

[2020-02-25 09:14] zohourih commented on #2841
Yes, doing `echo "/usr/lib/libxilinxopencl.so" > /etc/OpenCL/vendors/xilinx.icd` fixes the problem... I should have tried it myself first before posting here; the fact that the icd file doesn't exist on PetaLinux mislead me into thinking the problem must be something else. Again thank you for your great tips and sorry for hijacking your thread.

Now let's hope Xilinx provides a native way to insta

[2020-03-04 10:15] mKuznii commented on #2841
I am also running Ubuntu 18.04 on zcu104 and trying to install XRT on it. How did you manage to create DEB packages for Xilinx's kernel?

[2020-03-04 10:32] niclasb commented on #2841
Build the kernel with "make deb-pkg" and you will get the deb packages.

On Wed, 4 Mar 2020 at 11:15, mKuznii <notifications@github.com> wrote:

[2020-03-05 01:42] zohourih commented on #2841
Clone the xilinx kernel repo from [here](https://github.com/Xilinx/linux-xlnx) on the SoC, checkout the exact version of the kernel that you used to build PetaLinux (e.g. if you used the 2019.2 version of PetaLinux, checkout the 2019.2 branch), copy `.config` and `.config.old` from your PetaLinux build directory to the root folder of the cloned kernel repository, use `make deb-pkg` to get DEB pack

[2020-03-09 18:14] eejlny commented on #2841
I am trying to do something similar and wondering if it is not possible to use the XRT outputs from the Petalinux RootFS in the UbuntuFS at all ? I was hoping there is a way.

[2020-03-10 01:44] zohourih commented on #2841
@eejlny What do you mean by XRT outputs? Can you elaborate more on what you are trying to do?

[2020-03-10 08:01] eejlny commented on #2841
Basically I wanted to copy zocl.ko and other XRT files generated in the Petalinux rootfs to the Ubuntu Roofts without having to recompile them on the SoC again.

[2020-03-10 08:07] zohourih commented on #2841
@eejlny I already tried that but couldn't succeed in the end; compiling XRT on the SoC with Ubuntu RootFS works, though, and I have already ran OpenCL-based code on this setup after compiling XRT on the SoC. If you follow my earlier replies in this issue, you should be able to do the same.

[2020-03-12 06:54] zohourih commented on #2728
Do you have GCC installed? If yes, then you need to use a newer version of GCC than what you have installed.

[2020-03-18 09:16] zohourih commented on #2747
As an update to my previous post, I think I am now encountering the same problem as the everyone else in this thread. Essentially, with the existing base platform for ZCU104, execution of code compiled with Vitis works only if the BOOT.BIN used for booting the board has the exact same FPGA bitsream as the one that is supposed to be used by the host code. If the BOOT.BIN contains a different bitstr

[2020-03-26 11:40] mKuznii commented on #2841
I am trying to run Vitis AI samples on zcu104 with Ubutnu 18.04 running. I build and install all required packages. XRT was build like it is written above. My output from xbutil scan is:
[code]

I think this means that my board sees the driver. I also correct problems with running dpuclk.service  so it loads correctly. When I try to run any of the examples from Vitis AI library (let's say classifi

[2020-03-30 18:51] matwey opened #3113 "drm/drmP.h : No such file or directory"
Hello,

I am trying to build XRT on 5.5.9 linux kernel and see the following issue:

[code]

[2020-04-01 01:29] paroque28 opened #3130 "XRT does not support multilib, yocto error."
Error:
[code]
This is caused because the lib path is hardcoded and when using lib64 the recipe fails.
https://github.com/Xilinx/meta-xilinx/blob/master/meta-xilinx-bsp/recipes-xrt/xrt/xrt_git.bb

Look at the following document for all the variables that should be fixed:
https://git.yoctoproject.org/cgit.cgi/poky/plain/meta/conf/bitbake.conf

PATCH:
[code]
Applied on 2019.2 branch

[2020-04-01 01:32] paroque28 commented on #3130
@mhatle You might be interested in this

[2020-04-01 17:31] #3113 closed

[2020-04-03 06:05] helmotz commented on #2610
@stsoe @singagan I recently had the same issue trying to build tag 2019.2 on my RHEL 7.6 workstation.
Apparently cmake version 3.3.2 doesn't supply the OpenSSL::Crypto target (I had to change it with ${OPENSSL_CRYPTO_LIBRARY}).
Moreover it looks like the -Werror compiler option used in src/runtime_src/CMakeLists.txt is too strict and causes compilation errors.
Please find attached the changes that

[2020-04-07 23:26] JackBonnellDevelopment commented on #2681
Also waiting on a reply for this issue.

[2020-04-08 02:55] yingsto opened #3173 "XRT install failed on centos 7.3"
The details as follows:
sudo yum install xrt_201920.2.3.0_7.3.1611-xrt.rpm
"
Loaded plugins: auto-update-debuginfo, fastestmirror, langpacks
Checking xrt_201920.2.3.0_7.3.1611-xrt.rpm: xrt-2.3.0-1.x86_64
xrt_201920.2.3.0_7.3.1611-xrt.rpm will be installed
Resolving dependencies
-> Checking transaction
---> Package xrt.x86_64.0.2.3.0-1 will be installed
-> Processing dependencies libstdc ++. So.6 (

[2020-04-16 06:14] martin31821 opened #3216 "axlf length mismatch"
I compiled an OpenCL kernel using v++ into an .xclbin file against the xilinx_u280_xdma_201920_3 platform.

When I try to load it using `clCreateProgramWithBinary`, I'm getting the error `axlf length mismatch` and return code `-42`.

I digged within the source code and it seems to be that either my header is wrong or the file is not written completely to disk.
How can I debug this problem further?

[2020-04-21 21:29] holzman opened #3252 "Xilinx U250 is too chatty"
Hi,

In #2134, many of the default log levels were changed from ERR to WARN.

Consequently we have a huge amount of output in the ring buffer and on console (since the default loglevel on Linux puts DEV_WARN onto the console).  Alveo U250 is constantly sending:

[code]

[2020-05-07 15:47] GrueMaster opened #3352 "Can we get support for Python2.7 dropped now?"
From src/runtime_src/core/pcie/tools/xbutil/xbutil.cpp b/src/runtime_src/core/pcie/tools/xbutil/xbutil.cpp:1140
[code]
As both CentOS and Ubuntu 16.04 support Python3 natively, and most of the python libraries needed by XRT are installed via pip, it is high time to revisit this.  Currently, it is nearly impossible to install on Centos 7.xx (with current updates) as Redhat/CentOS do not have the re

[2020-05-07 15:55] GrueMaster commented on #3352
My attempt at fixing this.  Patch is against 2019.2_PU1 branch.  Tested on both CentOS 7.7 and Ubuntu 16.04.6.
[XRT-python3_patch.txt](https://github.com/Xilinx/XRT/files/4594060/XRT-python3_patch.txt)

[2020-05-08 22:20] 0xMarc opened #3368 "Trouble installing XRT on Ubuntu 18.04"
Hello,
I am trying to build XRT on Ubuntu and after manually installing dependencies, I get the following build errors:

...
-- Preparing OpenCL ICD xilinx.icd
-- Preparing XRT pkg-config
*CMake Warning at CMake/coverity.cmake:5 (message):
  **-- coverity not found**
Call Stack (most recent call first):
  CMake/nativeLnx.cmake:165 (include)
  CMakeLists.txt:66 (include)*
...
[ 30%] Building CXX ob

[2020-05-08 22:52] 0xMarc commented on #3368
Has been resolved by running ./xrtdeps.sh
Helpful: https://developer.xilinx.com/en/articles/busting-fpga-blockchain-myths-part-2.html

[2020-05-08 22:52] #3368 closed

[2020-05-11 01:32] wilderfield commented on #2841
Shouldn't the linux kernel headers be nearly identical to the main line kernel headers for the same kernel version? i.e. 4.19 ? Could users just install the generic 4.19 version?

[2020-05-11 01:39] zohourih commented on #2841
@wilderfield You cannot install the generic Linux _headers_ package in your build because you cannot install the generic kernel package itself and the former package depends on the latter.

[2020-05-11 23:15] bo-quan opened #3381 "Build issue for vcu1525 on RHEL 7.6"
We're trying to build the 2019.1 branch code with vcu1525 installed on RHEL 7.6 by following instructions in https://xilinx.github.io/XRT/2019.1/html/build.html, but the build.sh script ran into a Boost library issue:

"
-- [ /usr/local/share/cmake-3.6/Modules/FindBoost.cmake:948 ] Boost_USE_MULTITHREADED = TRUE

-- [ /usr/local/share/cmake-3.6/Modules/FindBoost.cmake:950 ] Boost_USE_STATIC_LIBS =

[2020-05-12 21:36] wilderfield commented on #2841
I was able to do this on an x86 Ubuntu Host by:
[code]

I am pretty sure I used the right tag, that corresponds to PetaLinux 2019.2
I previously had the linaro gcc and g++ packages apt-get installed

[2020-05-14 19:11] wilderfield commented on #2841
A subtlety here that I ran into, is you must run xbutil as root

[2020-05-15 01:34] zohourih commented on #2841
That is true, you need to add any other user that wants to access xbutil or be able to reconfigure the FPGA to the `video` group using `sudo usermod -aG video *username*`.

[2020-05-20 15:21] gareth-xlnx opened #3431 "xclRegRead(), xclRegWrite() APIs undocumented"
In the [current API documentation](https://xilinx.github.io/XRT/2019.2/html/index.html), the `xclRead()/xclWrite()` APIs [are shown as deprecated](https://xilinx.github.io/XRT/2019.2/html/xrt.main.html?highlight=xclread#c.xclRead) in favour of `xclRegRead()/xclRegWrite()` but these new APIs do not appear to documented.

[2020-05-26 06:19] rbhuang-nokia opened #3457 "why I can not find sched*.bin?"
hi
I want to install the XRT on centos7 and I followed the build.rst under:.../XRT-master/src/runtime_src/doc/toc/
:>src/runtime_src/tools/scripts/xrtdeps.sh
:>cd build
:>./build.sh
:>cd build/Release
:>make package
:>cd ../Debug
:>make package
when I went to
"Before installing a locally built RPM for XRT, please copy aside /lib/firmware/xilinx/sched*.bin, which contain the ERT firmware for MicroB

[2020-06-01 15:21] xlz-jbleclere opened #3478 "xclRegWrite gnerates a segfault"
In the XRT/src/python/xrt_binding.py file, the xclRegWrite function should actually call libcore.xclRegWrite, not libcore.xclRegRead in line 927.

[2020-06-01 15:41] maxzhen commented on #3478
Thanks for pointing it out. I'll fix it.

[2020-06-02 07:31] xlz-jbleclere opened #3483 "module 'ctypes' has no attribute 'c_uint32_t' nor 'uint32_t'"
In the XRT/src/python/xrt_binding.py file, lines 912 and 926, 'ctypes' has no attribute 'c_uint32_t' nor 'uint32_t'. Should be replaced by c_uint.

[2020-06-02 17:37] maxzhen commented on #3483
Thanks!! Will fix!

[2020-06-04 03:26] #3478 closed

[2020-06-04 03:26] #3483 closed

[2020-06-04 23:12] rdockterjr opened #3493 "Feature Request Serial Number"
This is partially a feature request and partially a question.
I'm wondering why the Alveo card Serial Number is not included in the xclDeviceInfo2 struct returned from xclGetDeviceInfo2() in src/runtime_src/core/include/xrt.h ?

This information is definitely available as shown by
```xbutil query -d 0```
The code to do it is present in the readsensors() function of src/runtime_src/core/pcie/tools/

[2020-06-06 05:25] maxzhen commented on #3493
The xclDeviceInfo2 is a C data structure which is not flexible to handle the change in the future. It is not extended any more.
A JSON format is more flexible for device info. This is what you can get from the output of xbutil dump.
I think that we could probably create an API to return the same JSON formatted device info. @stsoe and @sonals , what do you think?

[2020-06-08 22:42] MahdiNazemi opened #3503 "Error building the Release version"
I have been trying to install XRT for a while but I realized that gcc-8 is required for successful installation. I  upgraded my Debian from jessie to buster and changed the symbolic links for gcc and g++ to point to gcc-8 and g++-8, respectively.

However, when I run `./build.sh -opt`, I get the following error:

[ 61%] Linking CXX shared library libxdp_core.so
/usr/bin/ld: CMakeFiles/xclbinutil.d

[2020-06-08 22:55] MahdiNazemi commented on #3503
I had to update boost to a newer version.

[2020-06-08 22:55] #3503 closed

[2020-06-09 03:46] MahdiNazemi opened #3507 "XRT compilation fails due to issues with Boost 1.67 on Debian Buster"
I am trying to install XRT after installing SDAccel 2019.1. Here is the information printed at the beginning of the installation:

-- The C compiler identification is GNU 8.3.0
-- The CXX compiler identification is GNU 8.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc - works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- D

[2020-06-12 00:41] uday610 commented on #3457
It is because XRT never has been installed from the .deb/.rpm package.
You can download latest XRT .deb/.rpm package from Xilinx website and extract and take sched*.bin from there.

For example, extracting .deb package

Save mydir/opt/xilinx/xrt/share/fw/sched*.bin

[2020-06-12 00:43] uday610 commented on #3457
@stsoe , can we add this ?

[2020-06-12 00:58] rbhuang-nokia commented on #3457
Thanks.I found the sched*.bin both under:/usr/lib/firmware/xilinx and /opt/xilinx/xrt/share/fw after installation the rpm pacakge according to document "ug1393-vitis-application-acceleration.pdf".

[2020-06-12 03:20] maxzhen commented on #3431
They are not official APIs yet. The document is in https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/include/experimental/xrt-next.h

[2020-06-12 03:20] #3431 closed

[2020-06-12 12:09] malith199122 opened #3541 "error: ‘MAP_HUGE_SHIFT’ was not declared in this scope"
When I tried to build the XRT with the build script (build.sh) I got the following error
XRT/src/runtime_src/core/pcie/linux/shim.cpp: In member function ‘int xocl::shim::cmaEnable(bool, uint64_t)’:
XRT/src/runtime_src/core/pcie/linux/shim.cpp:1215:140: error: ‘MAP_HUGE_SHIFT’ was not declared in this scope
void *addr_local = mmap(0x0, page_sz, PROT_READ | PROT_WRITE, MAP_PRIVATE | MAP_ANONYMOUS |

[2020-06-12 18:30] AShivangi commented on #3352
We have now dropped support for python2: https://github.com/Xilinx/XRT/pull/3523

[2020-06-12 18:30] #3352 closed

[2020-06-16 23:09] chienwei-lan commented on #3541
Hello @malith199122, could you please share the OS/kernel version you are using?

run uname -a & uname -r in terminal(assume you are using Linux)

There is a quick hack to pass the check:

Add this line at XRT/src/runtime_src/core/pcie/linux/shim.cpp:83(or any where)

**#define MAP_HUGE_SHIFT 26**

It should fix the compile issue

[2020-06-25 22:28] boxerab opened #3626 "Two tests failing"
I already have XRT installed from binary, btw.

[code]

[2020-06-26 02:25] boxerab opened #3628 "Question: how does XRT manage OpenCL platform and device information"
After I install XRT, and I then make a programmatic OpenCL query about the available platforms, is this function call managed by XRT? i.e. is XRT acting as an OpenCL ICD loader ? And if it is, where is the code that manages these calls ?
Thanks!

[2020-06-29 02:38] boxerab opened #3638 "A few questions about the build process"
1. Why does the project get completely re-built each time I run `build.sh` ? Is there no incremental build ?
1. How do I install after I build ?

[2020-06-29 19:21] boxerab commented on #3626
Fixed now.

[2020-06-29 19:21] #3626 closed

[2020-06-29 20:39] #3638 closed

[2020-06-30 18:58] lucasbrasilino opened #3650 "XRT 2019.2: WARNING: No recipes available for: petalinux-image.bbappend"
Hello,

I'm following instructions below to build XRT 2019.2 for a ZCU102. I'm working on `2019.2` branch, using Petalinux 2019.2 and Vitis 2019.2, on a Ubuntu 18.04 LTS host.

https://xilinx.github.io/XRT/2019.2/html/yocto.html#create-petalinux-project-with-xrt-recipes

However, in my project there is no `project-spec/meta-user/recipes-core/images/petalinux-image.bbappend` file. Even even though

[2020-06-30 19:13] larry9523 commented on #3650
Can you try the name petalinux-image-full.bbappend instead of petalinux-image.bbappend

[2020-06-30 19:28] larry9523 commented on #3628
If your host application is linked to OpenCL.so, which is acting like an ICD loader, it will search for platforms under /etc/OpenCL/vendors. After installing XRT, you will have
#cat /etc/OpenCL/vendors/xilinx.icd
libxilinxopencl.so
which will be loaded by ICD loader.

[2020-06-30 19:50] boxerab commented on #3628
Thanks, @larry9523 !

[2020-06-30 19:50] #3628 closed

[2020-06-30 21:42] lucasbrasilino commented on #3650
Tried the suggestion. What I did:

* Cleaned project with `petalinux-build -x mrproper -f`.
* Reconfigured again with `petalinux-config --get-hw-description=<path to HDF dir>
* added the `project-spec/meta-user/recipes-core/images/petalinux-image-full.bbappend` file
* Ran `petalinux-config -c kernel`
* Ran `petalinux-config -c rootfs`
* Ran `petalinux-build`

No warning was issued. But XRT binarie

[2020-06-30 22:01] larry9523 commented on #3650
1) Do you have project-spec/meta-plnx-generated/recipes-core/images/petalinux-user-image.bb ? Is there zocl and xrt in your IMAGE_INSTALL=" " variable?

2) Or, did you add
"
IMAGE_INSTALL_append = " xrt"
IMAGE_INSTALL_append = " zocl"
"
in your project-spec/meta-user/recipes-core/images/petalinux-image-full.bbappend

[2020-06-30 22:19] lucasbrasilino commented on #3650
1. Yes, I do have a `project-spec/meta-plnx-generated/recipes-core/images/petalinux-user-image.bb` but there's no `zoctl` and `xrt` on it. Here goes its content:

[code]

2. I added those `IMAGE_INSTALL_append` to the `petalinux-image-full.bbappend` as described in [create-petalinux-project-with-xrt-recipes](https://xilinx.github.io/XRT/2019.2/html/yocto.html#create-petalinux-project-with-xrt-reci

[2020-06-30 22:24] larry9523 commented on #3650
Assuming we have a valid xrt_git.bb file, what does it say if you run
$petalinux-build -c xrt

[2020-06-30 22:33] lucasbrasilino commented on #3650
It ran ok and built libraries:

[code]

[code]

[2020-06-30 22:42] larry9523 commented on #3650
hmm, seems you are all set. :) I have no idea why full "petalinux-build" won't give you xrt but "petalinux-build -c xrt" does.
@mamin506 @chvamshi-xilinx, any clue?

one more thing you may want to try is delete the entire "./build" folder and rerun "petalinux-build"

[2020-06-30 22:45] larry9523 commented on #3650
oh, one more thing you can try is check your project-spec/configs/rootfs_config add following if they are not there
#
# xrt
#
CONFIG_xrt=y
CONFIG_xrt-dev=y
# CONFIG_xrt-dbg is not set

#
# zocl
#
CONFIG_zocl=y
CONFIG_zocl-dev=y
# CONFIG_zocl-dbg is not set

[2020-06-30 23:03] mamin506 commented on #3650
Hi @lucasbrasilino , please confirm if you missed below step in [create petalinux with xrt recipes](https://xilinx.github.io/XRT/2019.2/html/yocto.html#create-petalinux-project-with-xrt-recipes)

[code]

This is equivalence to what Larry suggested in rootfs_config. This step is to tell petalinux to build and install packages into rootfs.

[2020-07-01 12:49] lucasbrasilino commented on #3650
Hi @mamin506 ,
Those options does **not** appear in my rootfs configuration menu, as you can see _*below*_. However, in the `project-spec/configs/rootfs_config` their options show up:

[code]

**What can be happening for them to not show in menu?**

@larry9523 I will try setting them manually in `rootfs_config` file. Thanks.

![rootfs_config](https://user-images.githubusercontent.com/1413191/86245

[2020-07-01 13:27] boxerab opened #3653 "Question: upgrading from official XRT 2.5.309 release to locally built XRT 2.7.0"
I am on Ubuntu 18 with Vitis 19.2 .
I have an OpenCL kernel that I have built and run successfully on the Alveo U250.

Now, I have built XRT with the `-opt` deb package and installed it. Is there anything
I need to know about upgrading to this version of XRT?

[2020-07-01 17:25] mamin506 commented on #3650
If you didn't see them on the menu, it means you needs to do below step in petalinux 2019.2
Open `project-spec/meta-user/conf/user-rootfsconfig`
Add below lines
`
CONFIG_xrt
CONFIG_xrt-dev
CONFIG_zocl
CONFIG_opencl-clhpp-dev
CONFIG_opencl-headers-dev
`
In 2019.1 petalinux, it is the change Larry mentioned in `project-spec/meta-user/recipes-core/images/petalinux-image-full.bbappend`.
In before 2019

[2020-07-01 18:12] boxerab opened #3654 "libstdc++ version conflict with Vitis 2020.1 and XRT master"
Running this command:

`v++ -t hw --platform xilinx_u250_xdma_201830_2 --link Kernel.xo -o'Kernel.xclbin'`

I get this error at the very end:

[code]

My output from `strings`:

[code]

[2020-07-01 19:33] lucasbrasilino commented on #3650
With those modifications I am able to generate the rootfs with XRT. Thank all of you for the help.

[2020-07-01 19:33] #3650 closed

[2020-07-01 20:52] boxerab commented on #3653
Seems to be working fine. Closing.

[2020-07-01 20:52] #3653 closed

[2020-07-01 20:56] boxerab commented on #3654
The problem was that Vitis 2020.1 installs `libstdc++.s0.6` in two places:
[code]

As I am using GCC 10, and I built XRT locally, `xclbinutil` is expecting a newer version of `libstdc++.so.6`, but apparently the Vitis
.so files are being loaded instead of the system .so files.

My solution was to delete the .so files in the two directories above.

[2020-07-01 20:56] #3654 closed

[2020-07-02 05:00] keryell commented on #3654
It would be interesting to keep track of the full recipe to use a Xilinx FPGA in a modern environment.

[2020-07-03 19:20] boxerab opened #3663 "Error when compiling with hardware emulation"
Environment: Vitis 2020.1 and XRT master.

`v++ -g --profile_kernel data:all:all:all -t hw_emu --platform xilinx_u250_xdma_201830_2 -c -k Kernel -I'./' ./Kernel.cl -o Kernel250HWEMU.xo`

[code]

[2020-07-03 19:44] boxerab commented on #3663
Solution:

`export LIBRARY_PATH=$LIBRARY_PATH:/usr/lib/x86_64-linux-gnu`

[2020-07-03 23:13] keryell commented on #3507
Perhaps you have different versions of Boost on your system and the link phase picked a different one from the includes you are using?
While I am using Debian/unstable on my personal laptop, I have not compiled XRT recently on it...

[2020-07-03 23:16] keryell commented on #3663
Is it something that should be documented somewhere?

[2020-07-04 01:54] boxerab commented on #3663
Yes, I think so. This could go in `/opt/xilinx/xrt/setup.sh`

[2020-07-06 00:31] MahdiNazemi commented on #3507
I uninstalled all different versions of boost that were installed on the server and only kept version 1.67.0.

[2020-07-06 03:50] keryell commented on #3507
I gave a random try on `master` branch on `Debian/unstable` with GCC 9.3 and Boost 1.71 but the compilation fails for other reasons before:
[code]

[2020-07-06 13:29] boxerab opened #3669 "xclbin from software/hardware emu mode cannot be loaded by clBuildProgram"
I am only able to load the kernel generated from hardware link, not from emulation.

[2020-07-08 14:50] boxerab opened #3685 "Question: clEnqueueNDRangeKernel and cl_event* parameter"
The last parameter of `clEnqueueNDRangeKernel` allows a user to get a `cl_event` linked to the kernel.
https://www.khronos.org/registry/OpenCL/sdk/2.2/docs/man/html/clEnqueueNDRangeKernel.html
If I wait for this event to complete, does completion indicate that the kernel has been successfully enqueued, or that
it has been successfully executed? From timing I am seeing, it looks like it indicates e

[2020-07-11 17:38] stsoe commented on #3685
@boxerab The event indicates the kernel has finished executing.   Enqueue is complete when clEnqueueNDRangeKernel returns.

[2020-07-11 17:44] stsoe commented on #3669
@boxerab Please use clCreateProgramWithBinary to load xclbin.   It is necessary to set XCL_EMULATION_MODE to either sw_emu or hw_emu if the xclbin was created for either.

[2020-07-11 17:47] stsoe commented on #3507
@akasat do you want to check the indicated compilation failure with boost 1.71?

[2020-07-11 19:01] boxerab commented on #3685
Thank you!

[2020-07-11 19:01] #3685 closed

[2020-07-11 19:03] boxerab commented on #3669
Thanks. Actually, my mistake, I did use `clCreateProgramWithBinary`. So, I need to set `XCL_EMULATION_MODE` when calling
`clCreateProgramWithBinary` ?

[2020-07-11 19:08] stsoe commented on #3669
Yes,  run your application with XCL_EMULATION_MODE set per how the xclbin was created.
FYI, we do have a change request for determining the flow based on the xclbin metadata, but today you have to set the env var.

[2020-07-11 19:13] boxerab commented on #3669
Great, thanks. Yes, it would be handy to deduce emulation from the binary.

[2020-07-11 19:13] #3669 closed

[2020-07-22 05:09] MahdiNazemi commented on #3507
Installing boost-1.71.0 from `src/runtime_src/tools/script/boost.sh` certainly solves the problem.

[2020-07-28 03:19] MahdiNazemi commented on #3507
However, it still fails when installing the packaged `deb` file using `gdebi` or `apt`.

[2020-07-28 04:10] paroque28 opened #3756 "XRT does not support Boost 1.73.0"
XRT fails in compilation:
[code]
In 1.73.0 some macros and header files were deprecated.
For example:
`BOOST_BYTE_ORDER`
:
[code]

[2020-07-28 16:40] stsoe commented on #3507
This is a bug yes.  If you follow the build instructions in script/boost.sh, XRT will be statically linked with Boost, hence the generated package should not have a dependency on Boost, yet it does.   script/boost.sh is experimental to facilitate static linking of Boost, the DEB/RPM package scripts were not updated accordingly.  I will look at this.

What I don't understand is your problems buildi

[2020-07-29 04:58] MahdiNazemi commented on #3507
I am running the latest version of Debian and its corresponding Boost library (i.e. 1.67.0).

The required dependencies are installed when I run `xrtdeps.sh` and I haven't noticed any errors/warnings during the installation of dependencies.

[2020-07-29 05:04] stsoe commented on #3756
Correct we don't support boost 1.73.0.  A pull request would be greatly appreciated :-)

[2020-07-29 06:03] stsoe commented on #3507
XRT officially supports only the systems listed here: https://xilinx.github.io/XRT/master/html/system_requirements.html
While we appreciate the notification of problems building XRT on different distributions, it's difficult for us to keep up with all the distributions.

Wanting to duplicate your problem, I created a docker container from debian:latest, I used XRT:master, ran xrtdeps.sh, and then

[2020-07-29 10:04] keryell commented on #3507
I appreciate the effort!

[2020-07-29 12:08] gbonneau-hardent opened #3767 "XMA initialization fails with exception with software or hardware emulation"
On Linux the XMA initialization will fail with an exception when software or hardware emulation is requested:

Reproduce steps: Use the copy_encoder example of repository https://github.com/Xilinx/xma-samples . When the datamover application call xma_initialize() in the application with an xrt.ini configured for software emulation and you got the message:

terminate called after throwing an instan

[2020-07-29 13:01] keryell commented on #3756
Actually I have the same issue with `Debian/unstable` which comes with 1.71.

[2020-07-29 13:10] gbonneau-hardent opened #3770 "Use of "this pointer" in base constructor of xrt_core::system will fail calls of virtual derived function."
In system.cpp the this pointer is used in the base class constructor of xrt_core::system. Any derived class from base class system will fail when virtual method of derived class will be called.

`system::
system()
{
  if (singleton)
    throw std::runtime_error("singleton ctor error");
  singleton = this;
}
`

From C++ FAQ 10.7:

[2020-07-29 15:37] MahdiNazemi commented on #3507
Thank you very much for taking the time to investigate this issue. I will try to find the reason why it doesn't work on my machine. Meanwhile, would you please share the Boost version of your sicker?

[2020-07-29 15:42] stsoe commented on #3507
[code]

[2020-07-29 15:47] stsoe commented on #3756
I am positive we can build with 1.71, because that is the version used on Ubuntu 20.04.  You will get a deprecation warning but not a hard error.   Regardless this of course needs to be fixed.  The problem is we need to support boost all the way back to 1.53.0 (CentOS7.x), I may just disable the compilation check.

[2020-07-29 15:56] stsoe commented on #3770
Hi @gbonneau-hardent The FAQ is correct, but it talks about using virtual functions **within** the the base class constructor.  The base class constructor is called before the derived class is constructed, so it can't call virtual methods.  The system() constructor is not using the derived class.  Later use of singleton will work as expected because the derived class has been constructed.

[2020-07-29 16:02] stsoe commented on #3767
Host application for XMA and OpenCL should not link with xrt_core library.  XMA and OpenCL dlopens the proper xrt_core library depending on the value of XCL_EMULATION mode.    It's a confusing that xrt_core::config appears to be in the xrt_core library, in fact it is in xrt_coreutil so no need to link with xrt_core.

[2020-07-29 16:42] gbonneau-hardent commented on #3770
Yes. Agree. Let close it.

[2020-07-29 16:42] #3770 closed

[2020-07-29 16:59] gbonneau-hardent commented on #3767
I tried with the xilinx xma-samples. Dependencies with xrt_core remains and yield undefined reference. Using xrt_coreutil library only yield those undefined:

/git/XRT/build/Debug/opt/xilinx/xrt/lib/libxma2api.so: undefined reference to `xclExecWait'
/git/XRT/build/Debug/opt/xilinx/xrt/lib/libxma2api.so: undefined reference to `xclLogMsg'
/git/XRT/build/Debug/opt/xilinx/xrt/lib/libxma2api.so: unde

[2020-07-29 17:08] stsoe commented on #3767
Oh, yes that is no good.  Thanks for pointing this out.

[2020-07-29 17:11] gbonneau-hardent opened #3775 "XMA doesn't support software and hardware emulation"
While XMA is initialized the hardware configuration is probed with a call to xma_hw_probe(). However, a Hardware Abstraction Layer (HAL) is missing for software of hardware emulation which prevents the development and debugging of applications using emulation.

[2020-07-31 13:28] gbonneau-hardent opened #3791 "XMA testing script fail to pass on a clean install"
Trying to build the xma test executable on a clean install will fail. Reproduce step:
1- Build the XRT
2- Install the XRT
3- Go to the XRT/tests/xma directory
4- Run the xma_tests.sh script
5- The testing will fail.

Note: I didn't investigate the details of the failing.

[2020-08-05 13:29] gbonneau-hardent commented on #3767
After pondering about the undefined reference I remembered that under Linux (not sure for Windows) that you can delay the binding of the undefined reference until the shared library is loaded with **_dlopen_** . However you need to tell the linker to don't care about the undefined symbols with adding the linker option: -Wl,--allow-shlib-undefined . I am then able to have the software emulation lib

[2020-08-05 14:43] stsoe commented on #3767
I don't think XMA should have dependencies on libxrt_core directly, that's the root of the problem complicating emulation.   I am not keen on allowing shared objects with undefined symbols, but as you point out here may be the quickest work-around here, e.g. just dlopen the core library needed based on whatever flow you want to run.

We are in the process of adding native APIs to XRT that do not d

[2020-08-05 14:45] stsoe commented on #3775
As regards sw_emu, this is almost impossible to get to work without a lot of conditional code to work-around missing IP_LAYOUT, CONNECTIVITY, and MEM_TOPOLOGY.  We need to include these sections in the xclbin, but that will happen earliest 2021.1.   In reference to my comment in #3767, the native APIs that will be added in 2020.1 will also not support sw_emu for exactly this reason (missing sectio

[2020-08-05 15:02] sarab96 commented on #3767
XMA support hardware emulation. For software emulation use Xilinx's OpenCL library

[2020-08-05 15:02] #3767 closed

[2020-08-05 15:03] sarab96 commented on #3775
XMA support hardware emulation. For software emulation use Xilinx's OpenCL library

[2020-08-05 15:03] #3775 closed

[2020-08-05 15:04] sarab96 commented on #3791
Please ignore those XMA unit tests. those are obsolete. New XMA test will be added in future.

[2020-08-05 15:04] #3791 closed

[2020-08-06 14:43] xuluna opened #3813 "Installation fails on Ubuntu 18.04"
modprobe: ERROR: could not insert 'xclmgmt': Unknown symbol in module, or unknown parameter (see dmesg)

$ uname -r
4.15.0-112-generic

$dmesg
[  627.528855] xclmgmt: Unknown symbol fpga_mgr_unregister (err 0)
[  627.529014] xclmgmt: Unknown symbol fpga_mgr_register (err 0)

[2020-08-07 01:07] Hecmay opened #3818 "XRT cannot find newly-installed QDMA platform"
Hi, I have a U250 board with QDMA shell installed.

When running the compiled bitstream, the XRT complains that it cannot find the correct device. Here is the error message:

[code]

I have flashed the card after installing the QDMA shells. How should I reconfigure XRT to let it recognize the new platform?

[2020-08-07 01:32] maxzhen commented on #3813
you probably did not have linux-modules-extra-`uname -r` installed?

[2020-08-07 12:33] gbonneau-hardent opened #3822 "HwEmShim::xclExecBufWithWaitList function not implemented in hardware emulation shim.cxx"
XMA hardware emulation failed with an undefined symbol when calling to HwEmShim::xclExecBufWithWaitList is made by xma_plg_schedule_work_item in file xmaplugin.cpp

[2020-08-07 12:58] gbonneau-hardent opened #3823 "Update xma-samples repository with a working solution to be in sync with current XRT release"
It's painful to learn XMA. I've tried very hard to learn the API using a very simple example. The one which seems to be the more relevant was the copy encoder included with the xma-samples repository. Note that I don't want to use for now an accelerator PCIe board. Before committing to buying the hardware I want to learn at least the basic of the processing capabilities through either software or

[2020-08-17 21:45] mariodruiz commented on #3818
Hi @Hecmay,

The card seems not to be flashed with the qdma shell see this line `Trying to program device[0]: xilinx_u250_xdma_201830_2`
What is the output of `sudo xbmgmt flash --scan`?

I think this is not an issue with XRT, but that the Alveo is not flashed properly. Did you cold-reboot after flashing qdma shell?

[2020-08-18 17:51] xuluna commented on #3813
Yes, thank you!

[2020-08-18 17:51] #3813 closed

[2020-08-19 20:28] boxerab opened #3894 "Concurrent kernels not being generated"
Following the documentation [here](https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/buildingdevicebinary.html#yzb1524519238289), I have add a cfg file with line

`nk=FOO:3`

which I reference when I run the vitis linker.

But, when I call `clCreateKernel` with kernel name `FOO_1`  :

`auto kernel = clCreateKernel(program, "FOO_1", &error);`

I get the following XRT error:

`[XRT] ERROR: ker

[2020-08-20 17:56] boxerab commented on #3894
It looks like:

`FOO:{FOO_1}` will work. The documents should probably be updated to reflect this.

[2020-08-21 15:11] gbonneau-hardent opened #3906 "Enumeration of encoder and decoder type should be symmetric"
enum XmaEncoderType and enum XmaDecoderType should be symmetric. The type XMA_COPY_DECODER_TYPE should be added to the XMA decoder type

[2020-08-24 12:30] gbonneau-hardent opened #3912 "In file xmabuffers.h Comment should be generic and not application specific."
In file xmabuffers.h Comment specific to an application doesn't make sense with a streaming architecture that should be generic by design. This makes the code reading confusing. Comments like **_//For use by FFMPEG/Plugins; Not managed by XMA in file_** should be replaced with a generic comment. If a defined variable is dedicated to being privately used by an application by design then the comment

[2020-08-28 21:32] zohourih opened #3953 "Thread-safety issue with enqueueMapBuffer() and parallel buffer allocation on Alveo boards"
Trying to debug a "Bus error (core dumped)" crash on our Alveo U50 board, I realized that it seems there is some thread-safety issue with using the `enqueueMapBuffer()` API followed by OpenMP-parallelized buffer allocation using the host pointer, which is easily reproducible. Disabling OpenMP allows the code to run without any issues. The same code with OpenMP parallelization runs fine on MPSoC bo

[2020-09-01 19:36] boxerab opened #3974 "Alveo: does XRT OpenCL support setting a global work group offset ?"
https://www.khronos.org/registry/OpenCL/sdk/2.2/docs/man/html/clEnqueueNDRangeKernel.html

[2020-09-02 15:12] boxerab commented on #3974
Does the library support a non-zero global work offset ?

[2020-09-04 19:17] boxerab opened #4002 "Support for 5.4+ kernel ?"
When may we expect support for newer kernels, and Ubuntu 20.04, for example ?

[2020-09-04 19:55] boxerab commented on #4002
As a matter of fact, it looks like at least the U250 is supported now on Ubuntu 20, using Ubuntu 18 deb packages.

[2020-09-04 20:06] boxerab opened #4003 "Error when installing U50 deployment package"
Environment:

Ubuntu 18.04
Latest release of XRT (2.7)

[code]

[2020-09-10 19:08] acdy147 opened #4029 "xbutil query segmentation fault"
Hello,

$ /opt/xilinx/xrt/bin/xbutil query terminates with SIGSEGV.

Ubuntu 18.04.5 LTS
Kernel 4.15.0-115-generic
XRT 2.3.1301

It works fine on 4.15.0-112-generic.

Please advise.

(gdb) bt
#0  0x000055cda17d5ab3 in pcidev::pci_device::get_sysfs_path(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::__cxx11::basic_string<char, std::char_traits<char>, std

[2020-09-10 20:41] keryell commented on #4002
At least we are using XRT compiled from master branch with Ubuntu 20.04 and 5.4 kernel.

[2020-09-11 12:18] boxerab commented on #4002
Yes, I am able to run the U250 with the 5.4.0-42 kernel.

[2020-09-11 12:18] #4002 closed

[2020-09-11 18:13] keryell opened #4036 "Broken links in the .rst documentation"
For example on https://github.com/Xilinx/XRT/blob/master/src/runtime_src/doc/toc/system_requirements.rst the links are broken.

[2020-09-14 19:01] boxerab opened #4046 "Buffer created with flag CL_MEM_READ_ONLY | CL_MEM_HOST_WRITE_ONLY is still copying buffer data from card to host when mapped with clEnqueueMapBuffer"
I have created a buffer marked `CL_MEM_READ_ONLY | CL_MEM_HOST_WRITE_ONLY`, meaning that the kernel can only read from the buffer and the host can only write to the buffer.

Therefore, there is no need to copy the data back to the host when I call `clEnqueueMapBuffer` with
`CL_MAP_WRITE` .

Using `xbutil top`, I see that the data is in fact copied.

[2020-09-15 06:56] uday610 commented on #4046
@boxerab , Can you try clEnqueueMapBuffer with CL_MAP_WRITE_INVALIDATE_REGION ?

[2020-09-15 06:59] uday610 commented on #4029
@acdy147, this is very old release, I recommend you to try the latest 2020.1_PU1 release (downloadable from xilinx.com) or even 2020.1 release.  There maybe something else going on, so it will be good if we can check with latest release

[2020-09-15 07:24] uday610 commented on #3894
@boxerab , that syntax is documented in host coding section (your link is pointing to the kernel compilation section).

https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/devhostapp.html#kol1557424570275__section_kxw_rvc_ljb

[2020-09-15 12:56] boxerab commented on #4046
@uday610 yes! that fixed the issue. Thank you.

[2020-09-15 12:56] #4046 closed

[2020-09-30 03:36] jo7ueb opened #4131 "XRT Build Failure Caused By Deprecated Protobuf API Calls"
I encountered following error when running `build.sh`.
Deprecated Protobuf API is called many times.

[code]

[2020-10-06 18:18] zohourih commented on #4003
If you are using a supported version of CentOS or Ubuntu, you can just use the pre-compiled XRT package from here:
https://www.xilinx.com/products/boards-and-kits/alveo/u50.html#gettingStarted

If you want to build XRT from source, you should follow the build instructions posted here:
https://xilinx.github.io/XRT/master/html/build.html
Specifically, you need Vitis installed and `XILINX_VITIS` set

[2020-10-07 00:26] boxerab commented on #4003
Thanks @zohourih . I am using the latest XRT release binary along with supported version of Ubuntu.
But, I still get this error.

[2020-10-07 00:56] zohourih commented on #4003
Have you installed all the three packages in the "Deployment Target Platform" package? The firmware is installed by one of those.

[2020-10-07 01:33] boxerab commented on #4003
Thanks, this issue is now resolved. Card now validates and is recognized by `clinfo`.

[2020-10-07 01:33] #4003 closed

[2020-10-07 23:50] #3974 closed

[2020-10-07 23:58] boxerab opened #4185 "Run summary not being generated by kernel"
Environment:

Ubuntu 18.04
Latest XRT release
Latest Vitis release
Alveo U250

Using [this document](https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/profilingapplication.html#xmv1511400547463) as my guide, I have linked my kernel with profiling enabled:

`v++ -t hw --platform xilinx_u250_xdma_201830_2 -g --link --profile_kernel data:all:all:all --profile_kernel exec:all:all:all --config co

[2020-10-08 00:04] #4185 closed

[2020-10-09 19:49] zohourih commented on #2747
Based on the information I have gathered so far, standard base platforms for MPSoC boards do **not** support run-time reconfiguration and only "dfx" platforms such as the one [here](https://github.com/Xilinx/Vitis_Embedded_Platform_Source/tree/master/Xilinx_Official_Platforms/zcu102_base_dfx) do. Hence, the issue we are all facing here with the base platform for ZCU104 is not actually an issue wit

[2020-10-11 15:34] uday610 commented on #4131
Maybe you can put more details, like which branch you are trying to build, which OS and versions? whether you have run xrtdeps.sh before the build, etc

[2020-10-11 15:36] uday610 commented on #4036
when linking one .rst file from another .rst file, I have seen the link does not work. After creating the HTML files those work. You can check the HTML files https://xilinx.github.io/XRT/index.html there link should be working

[2020-10-11 16:27] keryell commented on #4036
Could you make them to work for both, like in https://github.com/triSYCL/triSYCL/blob/master/doc/testing.rst ?

[2020-10-13 04:26] keryell commented on #4036
This is probably a limitation of the GitHub ReST renderer with the `:ref:` syntax

[2020-10-13 17:19] #3894 closed

[2020-10-13 17:22] boxerab opened #4224 "U50: runtime errors from HBM channels"
I have four concurrent OpenCL kernels, and each kernel is linked to the HBM channels as follows:

[code]
However, I have no pragmas in the OpenCL kernel linking memory buffers to HBM channels.

I get these errors;

[code]

[2020-10-17 17:47] rashmi2383 opened #4260 "Build failure on Ubuntu 18.04"
I am seeing the following error while running the build script.

[ 89%] Building CXX object runtime_src/core/pcie/tools/xbmgmt/CMakeFiles/xbmgmt.dir/firmware_image.cpp.o
In file included from /usr/local/boost_1_67_0/boost/process/detail/execute_impl.hpp:24:0,
                 from /usr/local/boost_1_67_0/boost/process/child.hpp:22,
                 from /usr/local/boost_1_67_0/boost/process/async_

[2020-10-19 09:29] alexanpatr commented on #2747
@zohourih I confirm that. Only DFX platform can be reconfigured at runtime, and it was not a problem with XRT.

[2020-10-19 12:09] FenrisTC commented on #2747
Is there some mention of this in any official documentation? I couldn't find any mention that only DFX platforms are supported for acceleration on embedded platforms and there were incomplete code-paths in the zocl driver for 2019.2 that handled full bitstream programming (up to a the point I mentioned in the Issue).

And from the looks of it, the current master zocl driver seems to handle full bi

[2020-10-19 18:20] boxerab opened #4268 "Question: support for OpenCL popcount ?"
This is a 1.2 feature

https://manpages.debian.org/unstable/opencl-1.2-man-doc/popcount.3clc.en.html

Is it present in XRT ? If not, is there a library I can use to perform efficient popcount on Alveo boards ?

Thanks!

[2020-10-19 21:54] zohourih commented on #4224
Have you explicitly allocated your buffers in the appropriate HBM channel as described below?

[2020-10-19 22:35] boxerab commented on #4224
Thanks, yes I have:

[code]

[2020-10-23 02:14] stsoe commented on #3953
Thank you for this bug report.    The issue is not OpenCL specific.  It is fixed by #4297 .

[2020-10-23 02:14] #3953 closed

[2020-10-23 02:16] zohourih commented on #3953
Thank you for the fix.

[2020-10-23 02:30] stsoe commented on #4260
Hello.  Thank you for your report.  boost_1_67_0 appears to be some locally installed version Boost.  The system version we use to build XRT on Ubuntu18.04 is 1.65.1. We support building of XRT in stock version Ubuntu 16.04, 18.04, and 20.04 with the assumption that the dependent libraries are installed with default apt get or by sourcing xrtdeps.sh per https://xilinx.github.io/XRT/master/html/bui

[2020-10-23 02:38] stsoe commented on #4224
Hello. It looks like both in_bank and out_bank are allocated in same bank, but that is not the connectivity you are showing for the linking.

[2020-10-26 16:10] pdisho commented on #4131
I get the same error when trying to build 2019.2 XRT on Ubuntu 18.04. I ran xrtdeps.sh before the build and can't seem to find where I should disable the check for "[-Werror=deprecated-declarations]" or if that would be a bad idea. Any help would be appreciated.

[2020-10-27 08:53] siniGAL opened #4326 "U250 validate"
Hi,

community.

I am setting up a development environment. Installing packages is fine.
At the stage of validation, the check does not end, it goes on forever.
I am attaching the dmesg log files and the output of other commands.

/opt/xilinx/xrt/bin/xbutil validate
INFO: Found 1 cards

INFO: Validating card[0]: xilinx_u250_xdma_201830_2
INFO: == Starting Kernel version check:
INFO: == Kernel vers

[2020-10-28 13:02] pdisho commented on #4131
I took out -Werror in src/runtime_src/CMakeLists.txt and it built successfully.

[2020-10-29 11:38] MarchSakura opened #4345 "Cannot set valid device to make helloworld_ocl"
My device is kintex ultrascale+ KU115, but the info shows:

[code]
I wonder how to set a correct device.

[2020-10-30 10:36] tinlans commented on #4131
No matter which distribution is used, everyone could reproduce this issue with the latest protobuf library. My distribution is Gentoo Linux and the protobuf version is 3.13.0. Simply replace all ByteSize() calls with ByteSizeLong() could solve this error.

By the way, the pragma message related to BOOST_BYTE_ORDER will become an preprocessor error because the header file boost/detail/endian.hpp is

[2020-10-30 16:11] #4345 closed

[2020-11-02 08:42] alexanpatr commented on #2747
@FenrisTC I apologize for the delay.

We can see this in [Vitis 2020.1 documentation section](https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/usingembeddedplatforms.html#mym1591997179666):

The situation that we observed is exactly what is mentioned in this documentation section. The PL was never programmed and only the metadata was loaded.

[2020-11-03 00:26] uday610 commented on #4326
Can you provide dmesg.
Which XRT version you are using? Are you building XRT by git clone?

[2020-11-03 00:27] uday610 commented on #4268
Are you talking about OpenCl kernel code? Can you please confirm.
Please show the usage with some sample code.

[2020-11-03 00:45] boxerab commented on #4268
Thanks, yes, this is for kernel code.

[2020-11-03 06:46] siniGAL commented on #4326
Sorry, I forgot to answer. The problem was solved. I was building the XRT package from git. I saw a new commit and decided to try building the package again, after that the problem was solved.

[2020-11-04 11:56] FenrisTC commented on #2747
Oh ok, I completely missed that, thanks for the Info!

[2020-11-04 11:56] #2747 closed

[2020-11-05 04:08] uday610 commented on #4268
@boxerab , you can ask this in general Vitis support forum as XRT does not involve with the kernel support.  But in general, if you see Vitis examples, C Kernels are much more used and preferred for kernel coding. With C kernel you can get all functionalities and there are also several libraries.

[2020-11-05 04:17] #4326 closed

[2020-11-05 13:52] boxerab commented on #4268
Thanks, @uday610 but I am a bit confused. By kernel code, I mean code I can put into an OpenCL kernel:

[code]

Isn't this handled by XRT ?

[2020-11-05 13:56] boxerab commented on #4268
I see now, I will ask about this on Vitis support forum.

[2020-11-05 13:56] #4268 closed

[2020-11-11 23:38] stsoe commented on #67
-zdef added long ago

[2020-11-11 23:38] #67 closed

[2020-11-11 23:41] stsoe commented on #73
No longer relevant.  version.h has information.

[2020-11-11 23:41] #73 closed

[2020-11-11 23:42] stsoe commented on #101
No longer relevant.

[2020-11-11 23:42] #101 closed

[2020-11-11 23:50] stsoe commented on #3756
References to endian.hpp were removed

[2020-11-11 23:50] #3756 closed

[2020-11-15 17:24] Zaryob opened #4466 "Ubuntu 20.04 and 20.10 Vivado and XRT running well but not supported via installer."
Hi,

I am using Ubuntu 20.10. before the fresh install I used Vivado and XRT in Ubuntu 18.04 and it was working very well.

I cannot installed Vivado 2020.2 on Ubuntu 20.10. It just waiting on white screen after first page and in the first page, it says "just listed environments are supported."

I applied that [solution](https://forums.xilinx.com/t5/Installation-and-Licensing/Xilinx-Unified-Instal

[2020-11-16 22:37] keryell commented on #4466
After trying various ways, we reached the recipe https://github.com/triSYCL/sycl/blob/sycl/unified/master/sycl/doc/GettingStartedXilinxFPGA.md#install-vitis-20201 that worked for us for Ubuntu 20.04 & 2020.1. We upgraded the machine to 20.10 and it is still working.
Since we do not have tried 2020.2 yet with the installer on 20.10 from scratch I cannot be sure yet, but as we are skipping the non-w

[2020-11-19 13:58] mclayton1000 opened #4487 "BUG: libQDMA: libqdma_init() fails with DEBUG_SPINLOCK enabled"
Hello everyone, hi @karenx-xilinx , hi @houlz0507 , hi @sonals , hi @akum-xilinx , hi @pranjalv-xilinx,

on Linux with DEBUG_SPINLOCK option enabled i get:

**[  250.590576] xocl:libqdma_init: dma req. opaque data size too big 136 > 128.**

This happens in **libqdma_init()** and is due to the fact that the structure **qdma_sgt_req_cb**
has a field of type wait_queue_head_t which is a structure tha

[2020-11-19 15:07] mclayton1000 commented on #4487
Hi all,

if one change the **wq** type to pointer the module loading go ahead but stop on **libqdma4**:

**[ 1720.255593] xocl:libqdma4_init: dma req. opaque data size too big 128 > 80.**

The two errors look similar.

[2020-11-25 16:41] gbonneau-hardent opened #4497 "Wrong xmaapi.h header copied to includes folder of XRT by the builder"
Once the build which was started with the script build.sh is finished, I have found that the Legacy XMA xmaapi.h header was copied to the includes folder of ../opt/xilinx/xrt/include/lib. This cause an issue for building an application that relies on this header since the XmaSingleton structure has changed with the new XMA 2 API. I am using branch 2020.1

[2020-11-25 20:04] boxerab opened #4498 "Debian packages for recent 2020.2 release ?"
Where can I find the .deb files for this release ?  Thanks.

[2020-11-26 20:29] boxerab opened #4502 "master failing tests"
build command:  `./build.sh -opt`

[code]

[2020-11-27 09:33] mclayton1000 opened #4504 "CMake Error: install(EXPORT "xrt-targets" ...) includes target "xilinxopencl" more than once in the export set."
Hello @stsoe ,

recent commits causes the XRT not to build anymore. Here is the error:

**-- Preparing XRT find_package
-- Configuring done
CMake Error: install(EXPORT "xrt-targets" ...) includes target "xilinxopencl" more than once in the export set.
-- Generating done
CMake Generate step failed.  Build files cannot be regenerated correctly.**

The offending commits are:
c2ce13de41d507edd37edfb7e

[2020-11-27 15:54] stsoe commented on #4504
Hello @mclayton1000 ,  Please provide more context.  XRT builds on all the platforms we support officially.

[2020-11-27 17:58] mclayton1000 commented on #4504
Hi @stsoe ,

thank you for the reply and support.

I found that the problem is related to the following files:
src/runtime_src/core/common/CMakeLists.txt
src/runtime_src/core/pcie/emulation/cpu_em/CMakeLists.txt
src/runtime_src/core/pcie/emulation/hw_em/CMakeLists.txt
src/runtime_src/core/pcie/linux/CMakeLists.txt
src/runtime_src/xocl/CMakeLists.txt
src/runtime_src/xrt/CMakeLists.txt

In particula

[2020-11-27 18:30] stsoe commented on #4504
Thanks.  Which OS are you building on?

I will fix this once I am able to reproduce, one of the EXPORTs should be removed (I think the one from the COMPONENT release) but I need to double check.

[2020-11-27 18:42] mclayton1000 commented on #4504
Hi @stsoe ,

I'm on **Slackware-current** but I saw that the same cmake version is also used on Arch Linux.

Please, ask me if you need any help.

Thank you for your support.

[2020-11-27 18:46] stsoe commented on #4504
Hi @mclayton1000.  It would be great if you could try remove the EXPORT from the second INSTALL command (the one with XRT_DEV_COMPONENT) in each of the make files you mentioned.    I will do the same on my end and check if I can still use find_package.  Thanks!

[2020-11-27 19:05] mclayton1000 commented on #4504
Hi @stsoe ,

removing the second INSTALL commands solved the issue.

Thank you for the support, best regards.

[2020-11-27 19:38] stsoe commented on #4504
Hi @mclayton1000.  Just to clarify, you removed the EXPORT from the second INSTALL command, not the command itself, right?
I will commit this change as it also worked with find_package on my side.   Thank you for pointing this out.

[2020-11-27 21:26] mclayton1000 commented on #4504
Hi @stsoe ,

I confirm you that I only removed the EXPORT option from the second install command.

Best regards.

[2020-11-27 21:29] #4504 closed

[2020-11-28 16:29] stsoe commented on #4502
hi @boxerab As you can imagine, master doesn't fail for us when we build XRT.  Can you provide some more context please?

[2020-11-28 17:05] boxerab commented on #4502
Thanks, @stsoe . I pulled the code just now and there are no errors.

[2020-11-28 17:05] #4502 closed

[2020-11-28 17:13] boxerab opened #4506 "XRT Master: 20 seconds to initialize OpenCL"
Didn't have this with previous 2.7 release of XRT. When I use OpenCL to query the platform and device, it takes a very long time to return.

This is the call that takes 20 seconds:

 `cl_int status = clGetPlatformIDs(0, NULL, &numPlatforms);`

[2020-11-28 17:15] boxerab opened #4507 "XRT Master: exception during program exit"
I am running this code:  https://github.com/GrokImageCompression/latke/blob/master/tests/wide_vadd/wide_vadd_main.cpp

on a U250, with latest XRT master.

On exit, I get:

[code]

Here is the stack trace:

[code]

[2020-11-29 00:12] sarab96 commented on #4497
XMA legacy headers are in /opt/xilinx/xrt/include (to be removed in near future)
XMA2 headers are in /opt/xilinx/xrt/include/xma2

[2020-11-29 01:45] gbonneau-hardent commented on #4497
Indeed! Thanks for the head-up. However, this is somewhat confusing because the compile path of xmaapi.cpp for example uses the path "lib/xmaapi.h" with the correct version 2 include headers. Yet the build installs the include files of the legacy XMA within a folder with the same name lib. But this is probably for compatibility issues. Great then we can close this issue. - Thanks.

[2020-11-29 01:45] #4497 closed

[2020-12-01 20:35] gbonneau-hardent opened #4516 "XMA CU Kernel command start fail when Kernel is not a dataflow kernel"
This was tested with the HW Emulator. If the HW emulation behavior is consistent then the issue is likely to be present when HW emulation is not used. The problem seems to be related to the wrong assumption from the function xma_plg_schedule_work_item() that an ERT packet must be created with all the 3 extra data masks. This seems to be related to the specification of the ERT Packet command. Howev

[2020-12-02 12:19] martin31821 commented on #4498
While the packages for ubuntu 18.04 have been added on the website, those for 20.04 are still missing.
Can we just use the 18.04 on 20.04?

[2020-12-02 13:12] boxerab commented on #4498
@martin31821 you can build the packages from source, and they will run on 20.04

[2020-12-03 14:35] gbonneau-hardent opened #4524 "Build of XRT of releases branch 2020.2 fails on Ubuntu 18.04 (with boost 1.65.1)"
In file included from /usr/include/boost/process/detail/posix/executor.hpp:15:0,
                 from /usr/include/boost/process/detail/execute_impl.hpp:24,
                 from /usr/include/boost/process/child.hpp:22,
                 from /usr/include/boost/process/async_system.hpp:22,
                 from /usr/include/boost/process.hpp:24,
                 from /home/guy/git/XRT/src/runtime_

[2020-12-03 14:54] gbonneau-hardent commented on #4524
Note: The workaround is to cherry pick: commit ID 129a11a CR-1079673 XRT build failure with cmake 3.17 and boost 1.65.1 (#4461)

[2020-12-03 17:33] mclayton1000 opened #4525 "BUG: libXDMA: mutex taken in atomic context"
Hello everyone, hi @karenx-xilinx , hi @houlz0507 , hi @sonals , hi @akum-xilinx , hi @pranjalv-xilinx

with mutex debugging enabled on Linux kernel I get the following on **xclmgmt.ko** module loading:

**[  169.414728] xocl 0000:01:00.1:  ffff8a09f4d408b0 __xocl_subdev_create: Created subdev dma.xdma inst 5242880 level 0
[  169.414731] xocl 0000:01:00.1:  ffff8a09f4d408b0 __xocl_subdev_create: s

[2020-12-08 14:48] stsoe commented on #4507
Hi @boxerab

I think the host code is the reason for the crash. I spend some time debugging this, andit looks like the reference counts on the OpenCL objects are not managed correctly.  For example:

- `DeviceManagerOCL` calls `clReleaseCommandQueue` for the one reference it manages on the command queue (this is good).
- However, wide_vadd_main.cpp passes the ownership of `dev->queue` to `cl::Comm

[2020-12-08 19:29] stsoe commented on #4506
Hi @boxerab This is not XRT spending 20 seconds, in fact the speed of clGetPlatformIDs itself was improved quite significantly in 2020.2 where it now avoids driver calls to open available devices.  Are you maybe using the ICD loader and impacted by other vendors libraries or just dynamic runtime loading on libraries in general?

[2020-12-08 20:08] zohourih opened #4541 "Disable run-time reconfiguration"
Is there a way (environmental variable or function flag in host code) to disable run-time reconfiguration of the FPGA in Vitis? The goal is to program the FPGA manually using "xbutil program" and then running the host code without the "xclbin" file being present. The run-time somehow automatically detects when the FPGA is already configured with the bitstream that is provided (e.g. if you run the

[2020-12-08 21:31] stsoe commented on #4541
Hi @zohourih  Multi-process control of kernels is not supported without all processes having access to the xclbin.  This is because in order to control the kernels, a process needs to obtain meta-data which is available only in the xclbin, not in the bitstream that is loaded on the device.   The good news is that only one process will be loading the bitstream, once loaded, subsequent loading of th

[2020-12-08 22:00] boxerab commented on #4507
Thanks, @stsoe , you are right, and sorry for the noise.

[2020-12-08 22:00] #4507 closed

[2020-12-08 22:04] houlz0507 commented on #4525
@mclayton1000, Thanks for finding this. We will fix it.

[2020-12-08 22:10] zohourih commented on #4541
@stsoe The issues is not related to multi-processing, it is a much simpler matter. I am trying to pre-program the FPGA using `xbutil program`, then delete the bitstream, and then run the host code without needing the bitstream since the FPGA is already programmed with it. I think I have found a work-around for this, so I will close this issue for now.

[2020-12-08 22:24] #4498 closed

[2020-12-08 22:24] boxerab commented on #4224
@stsoe right you are! thanks.

[2020-12-08 22:24] #4224 closed

[2020-12-08 22:49] zohourih commented on #4541
Looks like I have to re-open the issue. What I trying to do right now is programming the FPGA with the `xclbin` file, stripping away the "BITSTREAM" section from the `xclbin` file and saving the resulting file in a new file, and then running the host code using the new `xclbin` which does _not_ include the BITSTREAM section, hoping that XRT is smart enough to avoid run-time reconfiguration. Howeve

[2020-12-09 05:49] stsoe commented on #4541
@zohourih As I mentioned even without stripping the bitstream, XRT will not re-program the device if it is already programmed with the same bitstream.   However, stripping the bitstream, to reduce file size for subsequent reading from disk, is something we have done in the past and I just verified that it does indeed work.    However the command to strip the bitstream while pretending the xclbin i

[2020-12-09 17:16] zohourih commented on #4541
@stsoe Thank you for the tip, adding `--skip-uuid-insertion` to the command line solves the issue for me.

[2020-12-09 17:16] #4541 closed

[2020-12-09 20:29] sarab96 commented on #4516
Good check on HW emulation. We will look into it. Note that XMA does supports HW emulation but not software emulation

[2020-12-09 23:02] mamin506 commented on #4525
@mclayton1000, fix is merged. Please verify this at your end as well. Thanks for reporting. I would close this issue now.

[2020-12-09 23:02] #4525 closed

[2020-12-11 08:43] stsoe commented on #4524
Hi @gbonneau-hardent  The mentioned cherry pick was merged to 2020.2 to resolve your build issue.

[2020-12-11 08:43] #4524 closed

[2020-12-15 11:24] doonny opened #4564 "WARNING: Incomplete CU profile trace detected. Timeline trace will have approximate CU End"
I am test my design with Vitis 2020.1 on a Ubuntu 18.04 machine with the U50 boards.
The XRT generates the following warning when performing hw emulation:
[code]
The xrt.ini setting is as follows:

[Debug]
profile=true
#power_profile=true
timeline_trace=true
data_transfer_trace=fine
#stall_trace=all
trace_buffer_size=512M
[Emulation]
debug_mode=batch

[2020-12-18 04:02] ydajwz123 opened #4576 "Build failure on Ubuntu 18.04"
I want to install Vitis accroding to the guide. However, I cannot build XRT with the guide.
Is there something wrong?
BTW, I use the latest release.
[code]

[2020-12-18 07:25] ydajwz123 commented on #4576
I make it by clone the latest code. That works without error!

[2020-12-18 07:25] #4576 closed

[2020-12-19 16:12] jimw567 opened #4577 "pip3: command not found"
Got the error below while running xrtdeps.sh, which doesn't check if pip3 is installed.

src/runtime_src/tools/scripts/xrtdeps.sh: line 452: pip3: command not found

[2020-12-21 07:13] Blaok opened #4581 "host-kernel streaming causes Linux memory leak"
Hi,

It seems that host-kernel streaming is causing memory leak in the Linux kernel. The active memory usage (`grep 'Active(anon)' /proc/meminfo`) keeps increasing as I repeatedly run [this example from Xilinx/Vitis_Accel_Examples](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/host/streaming_host_bandwidth). Each execution is successful and exits cleanly ([after I disable the non-bloc

[2020-12-21 08:40] jiagh2010 opened #4582 "How to use XRT FFMPEG hard decoding to MAT image?"
It's best to use the Python interface@ all

[2020-12-21 18:09] maxzhen commented on #4581
@mamin506 , could you take a look and see if this is kds issue?

[2020-12-22 19:59] mamin506 commented on #4581
@maxzhen It doesn't looks like kds issue. On my test, for each run, the Active(anon) memory increased about 2,300,000 kB.
I saw below error by dmesg.

[  514.786898] xocl 0000:05:00.1: dma.qdma.u.5242881 ffff9d6b3bf3f410 queue_rw: queue_rw ret 1073741824, kiocb 0x          (null).
[  514.787699] xocl 0000:05:00.1: dma.qdma.u.5242881 ffff9d6b3bf3f410 queue_rw: queue_rw ret 1073741824, kiocb 0x

[2020-12-26 23:08] gbonneau-hardent opened #4585 "xma_xclbin_file_open() doesn't check for file existence."
When a call is made to open the xclbin file if it doesn't exist -1 is returned from infile.tellg() causing a bad alloc memory and a throw.

Can I suggest that a std::vector size of zero should be returned to provide a mean to check that the call to xma_xclbin_file_open is unsuccessful and provide a mean to return from xma_initialize(...) with an error. As much as possible all internal call paths s

[2020-12-27 00:11] keryell commented on #4585
But if it returns an `.empty()` `std::vector` you need *also* a C++ program anyway...

[2020-12-27 00:55] gbonneau-hardent commented on #4585
Not if you use the XMA API. xma_xclbin_file_open() is called from the C++ XMA layer and is not an external XMA API. Thus it is an issue.

[2021-01-05 16:39] houlz0507 commented on #4581
fixing it by https://github.com/Xilinx/XRT/pull/4595

[2021-01-05 19:49] Blaok commented on #4581
I built from 0a1d003924781858856f38060e9b0d103aa26384 and it works. Thank you!

[2021-01-05 19:49] #4581 closed

[2021-01-20 22:09] nanortemis opened #4643 "armv7 compilation problem"
Hi,

I'm trying to compile XRT v2020.2 on armv7 Ubuntu 20.04. I'm getting this error:

[code]

Is this a known issue?

[2021-01-21 02:14] michael-barrow opened #4645 "XRT conflict with Vitis during build on Ubuntu 20.04"
I am trying to follow the https://xilinx.github.io/XRT/master/html/build.html build instructions, but these conflict with the method for setting XILINX_VITIS via the supplied settings64.sh for the Vitis tool.

Vitis ships with cmake 3.2.x but this library requires cmake > 3.5.x

the workaround was to modify build.sh such that CMAKE=/usr/bin/cmake but this is not ideal for other distros

[2021-01-21 22:15] keryell commented on #4645
I looked at https://xilinx.github.io/XRT/master/html/build.html and there is nothing about `settings64.sh` there.

Sourcing `settings64.sh` is used to set up the environment to run Vitis. Unfortunately it is so intrusive that if breaks almost everything else. So, my advice is: do not use this in a shell where your plan is not to use only Vitis.

You should not source Vitis configuration file by de

[2021-01-24 23:40] stsoe commented on #4643
We do not support building XRT on armv7 / aarch32.  You can build XRT on armv8 / aarch64.

[2021-01-24 23:40] #4643 closed

[2021-01-24 23:42] stsoe commented on #4645
I am closing this issue based on @keryell feedback

[2021-01-24 23:42] #4645 closed

[2021-01-24 23:43] stsoe commented on #4577
Hi @jimw567  That  is not enough context.
We use xrtdeps.sh all the time and there is no problem with this script.

[2021-01-24 23:43] #4577 closed

[2021-02-01 12:58] jstamel opened #4677 "OpenCL kernels keep reference count of their arguments until they are released"
When a buffer is created using the OpenCL API, its reference count is set to 1. Upon invocation of clSetKernelArg(kernel, index, buffer) function, the buffer's reference count is incremented. However upon completion of the kernel execution task, the reference count is not decremented. A call to clReleaseMemObject(buffer) won't actually release the buffer since its reference count will not be zero.

[2021-02-03 21:14] stsoe commented on #4677
The deviation from spec is true.   We are aware of this.  We will however not change this.

XRT's implementation caters to uses cases that allows kernels to be re-executed without changing all argument, for example just scalar args can be changed for sub-sequent execution.   The internal ref count on the cl_mem is released when the cl_kernel is released or when the kernel argument holding the cl_m

[2021-02-03 21:27] stsoe commented on #4677
Sorry @jstamel , I did not mean to close.  I wanted to ask what makes it difficult or impossible to control the lifetime of the cl_mem objects by managing the lifetime of the kernel objects?

[2021-02-04 11:36] jstamel commented on #4677
Thanks @stsoe for the explanation.

The example I included in my first comment is how we actually came across this issue, meaning that we were relying on the clReleaseMemObject() and we were getting CL_OUT_OF_RESOURCES error. We did try the alternative of "releasing" and "re-creating" a kernel object, as a whole, before allocating a new buffer but this would introduce up to 1ms overhead.

Wouldn't

[2021-02-04 16:20] stsoe commented on #4677
@jstamel Thank you for the detailed explanation.

If the "task buffer" fills the memory bank, then another buffer cannot be allocated until kernel finishes execution and is done using the task buffer, right?  So (a) can not overlap with (b)? But I understand the predicament, you have to release the kernel in order to make room for the next task buffer.    I am surprised if releasing and recreating

[2021-02-05 08:33] DaveAimee opened #4696 "Arm服务器上Xilinx XRT的编译问题"
1. 编译报错

![图片1](https://user-images.githubusercontent.com/27729297/107008131-5f9d4b80-67ce-11eb-91f1-33e879a291e5.png)
2. 编译时是否需要安装Xilinx Vitis Software Platform
目前已经尝试下载了Xilinx_Unified_2020.2_1118_1232_Lin64.bin，但是在安装的时候提示：
![image](https://user-images.githubusercontent.com/27729297/107008201-780d6600-67ce-11eb-984a-1e00e4512ab3.png)

[2021-02-05 11:32] jstamel commented on #4677
@stsoe
Exactly, (a) cannot overlap with (b) in such case. The overhead does not include the release of a buffer, just the clReleaseKernel() and clCreateKernel() calls, right after the kernel has finished its execution. In other words no clReleaseMemObject() is called so far. Also, please find below more detail on the measured time for 2 tasks:

I totally understand your approach and is well aligne

[2021-02-05 15:40] uday610 commented on #4677
Hello @jstamel  ,
Is there any reason you cannot reuse the buffer instead? The new buffer allocation through the setting of the kernel arguments only possible current kernel execution is finished. So in that case, you can just reuse the same buffer.. Write on the Buffer itself or the mapped pointer for the next transaction. Even if the next transaction needs a different amount of data that can be

[2021-02-05 16:30] maxzhen commented on #4696
@DaveAimee please let us know the Linux kernel version (uname -r).

[2021-02-08 10:49] jstamel commented on #4677
Hi @uday610,

Your approach makes sense and is reasonable but I think that it doesn't apply in the general case.
For example, let's say you have a PLRAM of 2MB available and that you have allocated a cl_mem buffer of 1.5MB. On the next execution you need a 2MB buffer on the PLRAM. Is it possible to extend the cl_mem buffer size? On the other hand, you can't just allocate all the memory in case you

[2021-02-08 19:51] uday610 commented on #4564
You may check if you are getting the same message in hardware flow as well.
One of the reasons is that your host code execution finished but the internal simulation is still running . Perhaps any event in the host code did not finish. Can you make sure you have cleaned all OpenCL objects in the host code? Thanks

[2021-02-16 11:30] vmayoral opened #4734 "XILINX_VITIS documentation"
After extending the simple example provided at [the tutorials](https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/Part4.md) with other setups (involving artifacts generated and placed in different folders) I noticed It'd be nice to get **more documentation** on the behavior/importance/meaning of the `XILINX_VITIS` variable.

https://www.xilinx.com/html_docs/xilinx2020_1/vi

[2021-02-16 11:54] vmayoral opened #4735 "Using CMake modules instead of files, extensibility and composability"
**Context**: I'm engaged in a project making heavy use of acceleration and I'm considering to build on top of XRT as a submodule instead of reinventing the wheel and rewriting my own framework/runtime.

---

Current CMake structure `include()` *files* instead of *modules*. While the difference could seem small, it actually isn't extensibility-wise and/or composability-wise. When using XRT as a sub

[2021-02-16 11:55] vmayoral opened #4736 "Hardcoded paths in CMake setup, issues for extensibility and composability"
Current XRT codebase uses harcoded paths pointing to `/usr/src/*`, `/opt/xilinx/xrt/share/*` or `/usr/lib64/*`among others. While this is a reasonably design choice for stability of the runtime itself on a given set of targeted platforms, if planning to use it as a submodule, such hardcoded paths become a hurdle.

Are you willing to accept changes that either install files relative to `CMAKE_INSTA

[2021-02-16 18:58] stsoe commented on #4736
Hi @vmayoral.   I believe XRT is installing relative to CMAKE_INSTALL_PREFIX, but I do see CMAKE_INSTALL_PATH hard-coded.  Can you point specifically to other hard-coded paths that are a problem?

[2021-02-16 19:01] stsoe commented on #4735
Hi @vmayoral This sounds reasonable.  Is the only required change to replace` include(foo.cmake)` with `include(foo)`?

[2021-02-16 19:03] vmayoral commented on #4735
Hey @stsoe, yes, that'll do. Will need to happen though in quite a few files. Let me know if you want a PR for that.

[2021-02-16 19:12] stsoe commented on #4735
Thanks @vmayoral, it would be great with a PR.

[2021-02-16 19:30] vmayoral commented on #4736
Sure:

- https://github.com/Xilinx/XRT/blob/master/src/CMake/dkms-aws.cmake#L6
- https://github.com/Xilinx/XRT/blob/master/src/CMake/dkms.cmake#L6
- https://github.com/Xilinx/XRT/blob/master/src/CMake/icd.cmake#L10
- etc

Something like the following would do for those of us aiming to extend it:

[code]

[2021-02-16 19:46] stsoe commented on #4736
Got it thanks.   I'd like the various needed prefixes consolidated in one place (e.g. src/CMakeLists.txt) and individual .cmake files to use the consolidated prefixes.   I see that src/CMakeLists.txt also blindly sets CMAKE_INSTALL_PREFIX so this along with the necessary prefixes could be guarded as you suggest in this one place, right?  @vmayoral you mind creating a PR that you have a verified wo

[2021-02-18 22:01] uday610 commented on #4734
@vmayoral , can you please elaborate a bit what you thought would be nice inside the vitis_doc running application section regarding XILINX_VITIS variable?

[2021-02-19 02:36] DaveAimee commented on #4696
My "uname -r" shows 4.14.0-115.el7a.0.1.aarch64, does xrt hava specific version requirements?

[2021-02-19 07:24] DaveAimee commented on #4696
Checked once again,found I forgot to run './build.sh clean' to clean some stale configs. My compile problem has been solved, Thanks!

[2021-02-19 07:24] #4696 closed

[2021-02-19 08:08] vmayoral commented on #4734
@uday610, I believe that beyond XRT, `XILINX_VITIS` relates to Vitis source. I don't have access to this so my perspective is terribly biased and *purely based on my experimentation*, which isn't much for now.

Note the following may **NOT** be accurate at all (that's why I was hoping to get *official* documentation in place). So far, my notes indicate the following:
- `XILINX_VITIS` variable isn'

[2021-02-24 20:52] rudolpjo opened #4792 "XRT build error - protobuf generated files version mismatch"
I have a more thorough explanation of the issue on the Xilinx forum here: https://forums.xilinx.com/t5/AI-and-Vitis-AI/Xilinx-Run-Time-XRT-build-script-error-protobuf-version/td-p/1210669

The following errors after the initial one mentioned in the post are all related to the protobuf library in one way on another.

[2021-03-01 16:50] rudolpjo commented on #4792
Can someone please take a look at this?

[2021-03-02 08:13] Sriengchhun commented on #3626
How can you fix this problem?

[2021-03-04 03:08] sonals commented on #4792
XRT uses native libraries that ship with the Linux distribution. Can you use native protobuf that comes with Ubuntu? Install the following packages with **apt install** and remove your own build of protobuf:

[code]

[2021-03-04 15:44] rudolpjo commented on #4792
Thank you for responding to this issue, I tried what you suggested but got the same errors. Interestingly enough, after I removed the protobuf files from `/usr/include/google` and ran apt install, nothing was downloaded or updated. Got the message that all was up to date. Perhaps I am missing something with the location of the needed dependencies.
When the issue first occurred, I was using the nat

[2021-03-05 15:18] rudolpjo commented on #4792
Solved:
Check version with command
`protoc --version`
mine was 3.14
Go to `google/protoc/stubs/common.h` look for version number.
The version installed was `3015000`, 3.15
Remove 3.15, download and install 3.14 from github.

[2021-03-05 15:18] #4792 closed

[2021-03-08 20:40] uday610 commented on #4734
@vmayoral , I dont think that is accurate. XILINX_VITIS path is required for emulation. To make things seamless for the user we always recommend to set XILINX_VITIS path, if you see the top of the page

https://www.xilinx.com/html_docs/xilinx2020_1/vitis_doc/runningapplication.html

"Set up the command shell or window as described in Setting up the Vitis Environment prior to running the builds."

[2021-03-09 08:49] vmayoral commented on #4734
@uday610 thanks for answering but I disagree. Everything above is meant on the "embedded" environment.
Please read again my comments with that perspective in mind. Of course in the workstation those variables are set if you follow the instructions. In the board **however**, such variable is recommended to be set but nowhere documented. If it is, point me out to where please.

[2021-03-10 19:52] keryell commented on #3507
@MahdiNazemi Is this issue still a problem?

[2021-03-10 19:58] keryell commented on #4131
After few months of rest, I have just tried to compile the latest XRT and there is still this bug after 6 months and at least 4 folks reporting it... :-(

My modest contribution: https://github.com/Xilinx/XRT/pull/4895

[2021-03-10 19:59] MahdiNazemi commented on #3507
@keryell I spent hours trying to fix the issue but was unsuccessful. Since @stsoe did not face any issues while installing the software on a clean OS, I suspect there is a conflict with one of the packages on my machine. Please feel free to close the issue when you see fit.

[2021-03-16 12:21] chandruFromTamil commented on #565
okay

[2021-04-09 23:26] keryell opened #5081 "Typing error"
This is a followup to: https://github.com/Xilinx/XRT/pull/4418
While looking at it, it looks that there is a real issue in the code today even if actually it does not seem to impact us as this was just uncovered by looking at some other issues.

A few questions:
- curious it was not found by tools like Coverity. Probably because of the various type cast involved?
- if I understand correctly this c

[2021-04-19 16:57] boxerab opened #5117 "Question: where to get deployment target platform for master build of XRT"
Hello,
I am able to build master branch of XRT on Ubuntu 20.10 Groovy.
However, I cannot get the deployment target installed for my U250,
which I downloaded from here

https://www.xilinx.com/products/boards-and-kits/alveo/u250.html#gettingStarted

Errors below:
[code]

and here is the xsabin log file:

[code]

[2021-04-21 12:51] #5117 closed

[2021-04-24 04:20] lucasvr opened #5156 "modprobe xocl: hung task"
Hello there, folks

I've just cloned the XRT tree and built it on Ubuntu 20.04.1 LTS. I've got a SmartSSD from Samsung (based on the Kintex Ultrascale+, according to the docs). Everything worked like a charm: firmware files are produced and binary packages for Release mode are automatically created too.

However, when installing the DEB package I just built, `modprobe` just hangs while loading the

[2021-04-24 14:30] lucasvr commented on #5156
I just tried with the most recent **stable** release and it works. Closing this issue as that works for me.

[2021-04-24 14:30] #5156 closed

[2021-04-28 11:19] j-stephan opened #5168 "Kernel driver: deprecated gem_vm_ops has been removed in Linux 5.11"
In Linux 5.4, several members of `struct drm_driver` have been deprecated in favour of their counterparts in `struct drm_gem_object_funcs`. In 5.11, they have been removed. This causes the DKMS compilation to fail on up-to-date Linux distributions, such as Ubuntu 21.04:

https://github.com/Xilinx/XRT/blob/05c9c23f38a111998a5adcb324fdbe681e9d9780/src/runtime_src/core/pcie/driver/linux/xocl/userpf/x

[2021-04-30 00:10] keryell commented on #5168
Ouch... I have just updated my laptop to Ubuntu 21.04... :-|

[2021-05-07 11:40] vmayoral commented on #4734
`XILINX_VITIS` has dissapeared from https://github.com/Xilinx/Vitis-Tutorials/blob/master/Getting_Started/Vitis/Part4.md. Has this variable been removed completely from tutorials, should we then close this ticket?

[2021-05-07 22:18] akira-nishiyama opened #5225 "xblutil program does not finish with specific xclbin data."
Hi.
I encounted a problem that xblutil program does not finish with specific xclbin data.

[problem detail]
"xblutil program -p krnl_fast.xclbin.bk" is succeeded.
"xblutil program -p krnl_fast.xclbin" is not finished.
The [krnl_fast.xclbin](https://github.com/Xilinx/XRT/files/6442393/krnl_fast.zip) is attached as krnl_fast.zip.

"krnl_fast.xclbin.bk" includes resize and fast kernel from Vitis_Libr

[2021-05-08 06:23] vmayoral commented on #4734
@randyh62 thanks for the answer. Do you mean `XILINX_VITIS` needs to set in the workstation to launch emulations? If that's the case, I agree and let's close this. Otherwise, if what you mean is that we need that variable inside of QEMU emulations, then that doesn't match my experience so far. I can perfectly run emulation without `XILINX_VITIS` (either simulating or emulating PL, `sw_emu` or `hw_

[2021-05-09 05:11] akira-nishiyama commented on #5225
I regenerated the SD card image and the problem went away.

[2021-05-09 05:11] #5225 closed

[2021-05-09 16:45] vmayoral commented on #4734
Closing for now.

[2021-05-09 16:45] #4734 closed

[2021-05-10 13:55] m-kru opened #5229 "Python bindings status"
Python bindings are available, however they are not documented (except internal source code documentation). Are these bindings stable and usable?

Also going through the Python code I have realized it uses unpythonic  convention to use `xrt` and `xcl` prefixes in names. Why not provide `xrt` and `xcl` modules or packages instead? This is natural way for namespaces in Python.

[2021-05-14 01:18] keryell commented on #5168
For the Xilinx team, there is the machine `xsjsycl40` with Ubuntu 21.04 and kernel 5.11 to compile. There is some local storage in `/var/tmp` and `/storage`.
But anyway, since the new Linux API is available since Linux 5.4, any relatively recent Linux distribution has a kernel by default supporting the new API, such as Ubuntu 20.04 LTS.
This is blocking the upgrade of `xsjsycl41` with an Alveo U20

[2021-05-17 11:26] doonny opened #5255 "sub-buffer does not work"
Hi, everyone, I am trying to utilize sub-buffer to read a portion of data from a buffer.  I have followed the instructions of
https://www.xilinx.com/html_docs/xilinx2020_2/vitis_doc/devhostapp.html.

The host code is as follows:
[code]
The kernel code is very simple, it only bypasses the data from input buffer to output buffer

[code]

However, the output_b_buf works correctly, but the content of

[2021-05-17 13:17] sgpthomas opened #5256 "Segmentation fault with `pyopencl`"
`pyopencl` causes a segmentation fault upon import because `libxilinxopencl.so` doesn't define `clSetProgramSpecializationConstant`. Here's how I reproduced this:

[code]

This is my XRT version info:
[code]

[2021-05-18 04:23] zohourih opened #5264 "[XRT] ERROR: no such xclbin section"
I am currently trying to debug an XRT run-time error on a custom platform for the ZCU104 board. Target application is the `hello_world` example from Vitis_Accel_Examples repository.

The run output is:
[code]

Output of `xbutil query`:
[code]

Relevant part of `dmesq` log:
[code]

And finally `xclbin` info:
[code]

Please let me know what could possibly be causing this issue and how I can debug it

[2021-05-18 16:21] sonals commented on #5256
Can you provide more details:

1. What Linux distribution and version are you using?
2. Are you using the OpenCL ICD loader that came with your distribution?
3. Did the PyOpenCL come with the Linux distribution?
4. XRT support OCL 1.2 with some features of 2.0. Normally the ICD loaders do not fail if OCL symbols are missing in the vendor library. clSetProgramSpecializationConstant() was added in 2

[2021-05-18 21:11] sgpthomas commented on #5256
I think it was an issue with some other python environment stuff. I tried in a `virtualenv` wrapper and it worked fine. Sorry for the bother.

[2021-05-18 21:11] #5256 closed

[2021-05-19 08:32] JianmingTONG opened #5276 "python_binding (SEGFAULT)"
Hi

I'm using the latest master branch with commit id ```edeb730b9ba2b1d9d36d4bbc99ef454be0264246```.
- UBUNTU 18.04
- cmake 3.20.0
- pybind11 [https://github.com/pybind/pybind11] master branch commit id (f61855b9d8821e2576960109a2a67379a6c2366f)
- python3.7

I'm running into an issue when building the package using the latest version of the XRT library, as shown below:

[code]

I've tested the py

[2021-05-19 19:51] zohourih commented on #5264
I was under the impression that XRT is backward-compatible, but it seems it is not the case. Downgrading XRT on the board to `202020.2.8.743` solved the problem.

[2021-05-19 19:52] #5264 closed

[2021-05-19 21:14] stsoe commented on #5255
@doonny  Thank you for pointing this out.   There is indeed a bug that fails to update the host buffer associated with the sub buffer.

I want to point out though, that since, in your example, the parent buffer is allocated with CL_MEM_ALLOC_HOST_PTR, the sub buffer also will be allocated with this flag (it is inherited per spec).  This means the sub-buffer will not only be offsetting into the par

[2021-05-19 23:51] doonny commented on #5255
@stsoe thx for the use instructions.

[2021-05-19 23:58] #5255 closed

[2021-05-20 13:21] sonals commented on #5276
Was pybind11 installed using pip3? This has been tested with pybind11 that comes with pip3 and gets installed into /usr/local/lib
Also look inside the test log file generated by cmake to see why the test failed--
cat build/Debug/Testing/Temporary/LastTest.log

[2021-05-20 13:25] sonals commented on #5229
The python bindings are maturing and the documentation will be included in the top level XRT doc.

Would you like to work on creating the xrt module? You can make the changes and provided a Pull Request./

Have you looked into pyxrt pybind11 binding that is coming in 2021.1?

[2021-05-20 16:10] JianmingTONG commented on #5276
Thanks for your reply

I install the pybind11 by following the following instruction and use this repo. And I install this repo to satisfy both CMake requirement and python requirement as following:

I'm confused that if I delete the pybind11 in /usr/local/lib then the CMake will complain about the following issue. Might I ask how to satisfy the CMake requirement without having pybind lib files in

[2021-05-20 18:23] sonals commented on #5276
For XRT use you do not need to clone pybind11. You can simply install pybind11 using pip3. The problem is unique to your setup. Can you remove the copy of pybind11 that you have installed by cloning and building it from https://github.com/pybind/pybind11?

[2021-05-21 06:58] milo168 opened #5288 "System Freeze"
Hi, I am trying to use the [clPollStream](https://github.com/Xilinx/XRT/blob/05c9c23f38a111998a5adcb324fdbe681e9d9780/src/include/1_2/CL/cl_ext_xilinx.h#L350) option. During configuration inside the host code, I set the STREAM_OPT_AIO_MAX_EVENT to be 65536 for the stream I want to poll with [clSetStreamOpt](https://github.com/Xilinx/XRT/blob/05c9c23f38a111998a5adcb324fdbe681e9d9780/src/include/1_2

[2021-05-21 15:56] m-kru commented on #5229
@sonals Yes I have looked into it, but I have not used it yet. However, I am sure I will at least try.

I could potentially make the Python code to be more Pythonic. Are you Xilinx authoritative employee able (and willing) to merge?

[2021-05-22 01:38] keryell commented on #3507
@MahdiNazemi I guess you can close this by yourself.

[2021-05-26 17:08] keryell commented on #5168
Problem also mentioned in https://forums.xilinx.com/t5/Vitis-Acceleration-SDAccel-SDSoC/Patch-XRT-install-for-use-with-newer-Linux-kernels/td-p/1244066
I just want to make sure we are not duplicating the effort if someone is motivated by fixing the issue. :-)
Thus, someone starting working on this could write something here to avoid mid-air work collision.

[2021-05-26 20:17] anadon commented on #5168
Got it.  I'll see about a patch tonight, the cosmos permitting.

[2021-05-27 17:04] sonals commented on #5229
Can you provide a pull request with the suggested changes for say two APIs: xrtBOAlloc() and xrtBOFree()? That will help us understand the design.

[2021-05-28 01:19] sonals commented on #5288
Streaming APIs are being deprecated starting 2021.1. Please migrate to Slave Bridge (Host Memory) based design.

[2021-05-28 19:34] milo168 commented on #5288
Understand. What are the implications for the QDMA subsystem in the future? Will new APIs be created for it?

[2021-06-01 17:46] sonals commented on #5276
@JianmingTONG , let me know if you are good now. I would close the issue.

[2021-06-02 04:52] JianmingTONG commented on #5276
Thanks, the problem is still there.

Because if I only install pybind 11 using pip3. Then it will report

[code]

The only way I know to solve it is to clone the pybind 11 and build locally then followed by installation.

Might I get some suggestions

Thanks again for your kind help and consideration.

[2021-06-04 00:53] sonals commented on #5276
Are you using native cmake? Ubuntu 18.04 cmake version is 3.10 but you are using cmake 3.20.0. This is not a tested configuration.

If you want to use your cmake you may have to tweak the following makefile to help cmake look for the missing files/versions:
`src/python/pybind11/CMakeLists.txt `

[2021-06-04 00:55] sonals commented on #5288
QDMA is supported in MM mode. Streaming interfaces are not supported in XRT/Alveo.

[2021-06-10 08:45] joosthooz opened #5401 "Kernel address space size hardcoded to 64k"
It is currently not possible to use a Vitis RTL kernel with an address space size larger than 64k, because it seems to be hardcoded in xrt:

https://github.com/Xilinx/XRT/blob/6f18dad00c37748db3a7c9b940cce47a1603bdf1/src/runtime_src/core/common/api/xrt_kernel.cpp#L595

The error is `[XRT] ERROR: Cannot read or write outside kernel register space`
My XRT version info:
[code]

The address space size

[2021-06-12 06:21] stsoe commented on #5401
Investigating.  Normally the address range is part of of the xml meta data in xclbin, however this show 4k by default.

[2021-06-15 10:51] m-kru opened #5408 "undefined reference to `xrt::device::device(unsigned int)'"
I am trying to build some C++ application with the xrt. I am following this tutorial: https://xilinx.github.io/XRT/2020.2/html/xrt_native_apis.html.

My xrt vesrion is
[code]

During the linking phase I get following error:
[code]
I use following command for the linking:
[code]
and following for compilation:
[code]

The error suggests that the library has been found however, the `xrt::device::devi

[2021-06-15 10:54] m-kru commented on #5408
SOLVED: The order of `-l` flags. They must be at placed at the end.

[2021-06-15 10:54] #5408 closed

[2021-06-16 00:09] keryell commented on #5168
Any news from the cosmos permissions? :-)

[2021-06-16 13:38] anadon commented on #5168
Well, I knocked out a lot of work on a hidden markov model header only
library.  I can start looking into this soon.  Not sure how much thrashing
about I'll end up doing yet, so there might be some extra noise on mailing
lists coming from me.

On Tue, Jun 15, 2021, 20:10 Ronan Keryell ***@***.***> wrote:

[2021-06-18 01:02] keryell commented on #5168
That sounds like a good idea. You feed your model with the Linux git history to learn about how modernizing the kernel driver API has been done in the past and then it can generate automatically the patch for you... ;-)

[2021-06-21 15:31] joosthooz commented on #5401
Is there something I can do to help resolving this? I guess a fix would involve more than a simple patch...

[2021-06-21 15:44] stsoe commented on #5401
@joosthooz .  Please confirm what the address range is in the xclbin embedded meta data section.
% xclbinutil --dump-section EMBEDDED_METADATA:raw:<file> --input <xclbin>
Check for the value of `range` attribute in the xml file as shown here:
[code]
The hardcoded part of XRT will be changed to get the range from here.

[2021-06-21 15:52] joosthooz commented on #5401
Hi,
This is the requested lines from the dump of my xclbin:
[code]

[2021-06-21 16:04] stsoe commented on #5401
Thank you.

[2021-06-22 17:15] #5276 closed

[2021-06-22 17:16] sonals commented on #5276
Python integration works on supported platform configurations.

[2021-06-24 06:47] #5288 closed

[2021-06-24 07:32] KarimH22 opened #5436 "lock_guard vs unique_lock in destructor"
Hello
I met an issue on xrt stop, the scheduler is blocked inside kds stop
looking cplusplus reference about condition_variable
https://cplusplus.com/reference/condition_variable/condition_variable/?kw=condition_variable
in destructor it is used unique_lock and not lock_guard

`#0  0x00007f0ec7b0498d in pthread_join ()
   from /lib/x86_64-linux-gnu/libpthread.so.0
#1  0x00007f0ec8ccab97 in std::th

[2021-06-30 01:33] #3507 closed

[2021-07-03 09:08] JianmingTONG commented on #5276
Thanks, even though it does not work on my side, it does not affect the correctness of generating xmodel for FPGA. So I just ignore it.

[2021-07-05 11:28] abajpai-xlnx opened #5468 "chrono include is interfering in compiling with C API in header xrt_graph.h"
[code]
in header XRT/src/runtime_src/core/include/experimental/xrt_graph.h interferes in compiling with C API.

[code]

[2021-07-05 12:05] joosthooz commented on #5401
Hi,
Thanks for merging a fix. I wanted to try it so I built xrt (master) from source and linked my app to the new library, but then the whole server froze when the app tried to load the bitstream... Unfortunately I don't have any logs or dumps that survived the crash. What could have caused this? Should I wait for a new release and then install the complete XRT instead?

[2021-07-07 16:28] anupcs-xlnx commented on #4564
Please see previous comment from @uday610

[2021-07-07 16:28] #4564 closed

[2021-07-08 22:14] stsoe commented on #5436
Hello @KarimH22   Thanks for your report.

std::unique_lock is only required by the std::condition_variable::wait functions.   It is not needed by code that intends to modify a shared variable.   See https://en.cppreference.com/w/cpp/thread/condition_variable for more details.

As such you are running into some other problem that may be a bug in XRT or some place else.   At any rate, the code you

[2021-07-08 22:14] #5436 closed

[2021-07-08 22:43] stsoe commented on #5401
Hi @joosthooz .  Without access to xclbin and host code it is difficult to say what is causing the crash you are observing.
Is it possible to get access to xclbin and host code?

[2021-07-08 22:46] #5468 closed

[2021-07-09 13:32] KarimH22 commented on #5436
Hi
indeed no issue seen with last version 2021.1 2.11.634
thank you

[2021-07-12 15:59] joosthooz commented on #5401
Hi,
Please find the xclbin file here: https://bitbucket.org/joosthooz/tta-simd-streamingio/src/crashing_bitstream/xclbin_hw_build/hbm_tta_vec2add.xclbin
and the host code here:
https://bitbucket.org/joosthooz/tta-simd-streamingio/src/crashing_bitstream/vivado_srcs/hbm_tta_vec2add/exports/src/host_nativeAPI.cpp

The 64k limit is still in effect when targeting `hw_emu` (see https://github.com/Xilinx

[2021-07-12 21:06] stsoe commented on #5401
@joosthooz Thanks for providing access to xclbin and host code.

I looked at host_nativeAPI.cpp and first problem appears to be that it allocates buffers in memory bank "4" which is not connected per xclbin.     It's btw preferable to use the C++ APIs  which manages lifetime and throws on error; the C-API have to  be checked for errors.

Please additionally provide how to run the host code, e.g. w

[2021-07-13 08:39] joosthooz commented on #5401
Hi,
Thank you for taking the time to look into this, I really appreciate it!
I started out with the example host code that was generated by Vivado (the RTL Kernel wizard). But because I want to manually control my kernel, I've converted it to using the native API. I will look into using the C++ API, thanks.

The strange memory bank indexes were in the generated example code. It is a mystery to me

[2021-07-13 16:25] stsoe commented on #5401
Hi @joosthooz

No problem.  Your case is good to verify that the expanded register read/write works as expected.   Besides the hw emulation limitation you pointed out, everything is good.  The problem appears to be in the host code at this point.

For the memory connectivity; you are trying to allocate buffers for the 3 kernel global arguments, kernel arg no 4, 5, and 6.  You must allocate the buf

[2021-07-13 21:53] stsoe commented on #5401
Change request CR-1105172 created for HW emulation support of dynamic address range.

[2021-07-15 02:57] #4260 closed

[2021-07-15 02:59] stsoe commented on #4466
Not an XRT issue.

[2021-07-15 02:59] #4466 closed

[2021-07-15 02:59] boxerab commented on #4506
This issue is fixed in latest XRT version. Closing.

[2021-07-15 02:59] #4506 closed

[2021-07-15 03:00] stsoe commented on #4029
2.3.x no longer supported, please use later release.

[2021-07-15 03:00] #4029 closed

[2021-07-15 03:01] stsoe commented on #3173
CentOS7.3 is not supported.

[2021-07-15 03:01] #3173 closed

[2021-07-15 03:03] stsoe commented on #3457
Resolved

[2021-07-15 03:03] #3457 closed

[2021-07-15 11:18] keryell commented on #4466
I guess there is a hierarchy of issues.
Working with a work-around while not supported is still great compared to not working at all.
Ping on https://github.com/Xilinx/XRT/issues/5168...

[2021-07-21 08:20] strocode opened #5511 "trap divide error in in libxrt_coreutil.so.2.8.743 when loading XCLBIN"
Hi,

I have a kernel I'm trying to run on a U280

XRT fails to load it with the following dmesg:
[code]

2 kernels are in the XCLBIN as folows. I suspect XRT doesn't like partiitoned arrays on AXILITE
[code]

Perhaps XRTis confused because the xclbininfo shows the incorrect signature
[code]

see the sum.xclbin in the attached zip file, which can be made with
[code]
[test_lut.zip](https://github.co

[2021-07-21 16:27] uday610 commented on #4736
no response, hence closing.

[2021-07-21 16:27] #4736 closed

[2021-07-21 16:27] uday610 commented on #4735
no response, closing

[2021-07-21 16:27] #4735 closed

[2021-07-21 17:09] stsoe commented on #29
Obsolete

[2021-07-21 17:09] #29 closed

[2021-07-22 01:17] strocode commented on #5511
I have a bit more info. The stacktrace of the coredump is below:
[code]

[2021-07-22 11:59] durgabhavaniv opened #5517 "XRT_docs"
I am not able to generate XRT_docs.

command used :
./build.sh -docs -ertfw /opt/xilinx/xrt/share/fw/sched.bin
Facing issue:
make xrt_docs
make: *** No rule to make target 'xrt_docs'.  Stop.

[2021-07-22 12:39] durgabhavaniv commented on #5517
Hi able to fix this but facing issue as follows:
![Screenshot 2021-07-22 18:07:23](https://user-images.githubusercontent.com/42232855/126640330-4ea56ba0-9916-4ffd-a736-8fc97522967d.png)

[2021-07-22 12:44] sarab96 commented on #103
Not applicable now

[2021-07-22 12:44] #103 closed

[2021-07-22 12:51] sarab96 commented on #3822
This was fixed recently. Please try again with 2021.1 release

[2021-07-22 12:51] #3822 closed

[2021-07-22 12:52] sarab96 commented on #4585
No change at this time

[2021-07-22 12:52] #4585 closed

[2021-07-22 12:55] sarab96 commented on #4516
This is HW emulation only issue where cu_mask entries are not handled properly

[2021-07-22 12:57] sarab96 commented on #3823
Please use Xilixn github examples and U30 software stack examples

[2021-07-22 12:57] #3823 closed

[2021-07-23 16:49] chvamshi-xilinx commented on #5168
We tried to fix this , but there are lot of changes required to support 5.11 kernel as drm_driver changed lot of its interfaces . We need to verify so many cases before pushing the changes. This is targeted for next release.

[2021-07-23 19:59] keryell commented on #5168
Good to know someone has looked at it!
I can see now the 2022.1 milestone. This is not the next release, but 2 or 3 releases from now, isn't it?
Is there a branch with the current changes you have?
Thanks.

[2021-07-27 00:23] uday610 commented on #5511
Hello @strocode

XRT and VITIS flow does not support ap_memory interface. Only supported interfaces are s_axilite and m_axi. Please review this section for supported interface, you can see a table:

https://www.xilinx.com/html_docs/xilinx2021_1/vitis_doc/managing_interface_synthesis.html#ariaid-title3

So I suggest you to change the interface to make it work with Vitis/XRT flow.

Thanks

[2021-07-27 04:17] strocode commented on #5511
Hi @uday610,

So as far as you know is there any way of having a programmable lookup
table of values in VITIS that doesn't use a whole m_axi interface?

On Tue, 27 Jul 2021 at 10:23, uday610 ***@***.***> wrote:

--
Keith Bannister

[2021-07-27 15:13] uday610 commented on #5511
As you see in the table, there are only m_axi, s_axilite interfaces are possible for XDMA based recent platforms. So you can read those scalar arrays from s_axilite interface.. But generally people read them using m_axi interface utilizing burst transfer. For smaller constant table you can try PLRAM as that is faster (instead of DDR or HBM).

[2021-07-28 08:31] HSqure opened #5539 "XRT 2021.1 build ERROR"
### Operation Describe

According to [XRT Xilinx Docs](https://xilinx.github.io/XRT/master/html/build.html#building-the-xrt-installation-package) , I completed the **Installing Building Dependencies** checking.

### Environment

`Ubuntu 18.04`
`Cmake 3.10.2`

### ERROR Log

[code]
What should I do to solve this problem to install the XRT? NEED HELP!

Thanks!

[2021-07-29 01:42] uday610 commented on #5539
@HSqure , have you run xrtdeps.sh (require sudo) as mentioned in the link?

If you already executed xrtdeps.sh by sudo, can you logout from machine and login again and try to build?

[2021-07-29 01:45] uday610 commented on #5517
@durgabhavaniv , document generation may not outside Xilinx. We don't support doc generation flow outside Xilinx.

XRT team generates document and publish here: https://xilinx.github.io/XRT/master/html/index.html , so you can look into these HTML files if you require any information.

[2021-07-29 02:06] HSqure commented on #5539
Thanks for replying!

Yeah, I executed `xrtdeps.sh` with sudo and here's log below:

[code]
I'll try to re-logging.

[2021-07-29 02:37] HSqure commented on #5539
Hi, @uday610 .

The problem has been solved! According to:
[code]
I reinstalled these dependencies one by one for the specified version and it works.
Thanks again.

[2021-07-29 02:37] #5539 closed

[2021-07-29 11:15] jstamel opened #5546 "[XRT 2.11.0] Re-programming FPGA from different thread crashes the whole server"
Running a simple OpenCL application that acquires a context for a device and then programs it from a different thread, causes the device as well as the whole server to crash. This happens only upon trying to reconfigure the device with a different xclbin file (not in case of 'skip reloading' xclbin).

The above scenario has been tested **On-Prem** as well as on **Amazon AWS** and **Microsoft Azure

[2021-07-29 22:55] stsoe commented on #5546
@jstamel Thank you for a very good and simple test to reproduce.  I am seeing the same problem.

[2021-07-30 20:28] stsoe commented on #5511
@strocode Thanks for the report.  We will trap the divide error, which occurs because
Error: Invalid kernel offset in xclbin for kernel (read_pointer_sum2) argument (nzero).
The offset (0x8000) and size (0x8000) exceeds kernel address range (0x4096): Invalid argument

I looked the kernel code.  As @uday610 points out we don't support ap_memory, and secondly declaring scalars of size 8K will never

[2021-07-30 20:48] #53 closed

[2021-07-30 20:49] uday610 commented on #383
obsolated today

[2021-07-30 20:49] #383 closed

[2021-07-30 20:50] uday610 commented on #425
QDMA is no longer supported

[2021-07-30 20:50] #425 closed

[2021-07-30 20:51] uday610 commented on #450
obsolated

[2021-07-30 20:51] #450 closed

[2021-07-30 20:52] uday610 commented on #451
fixed in recent releases

[2021-07-30 20:52] #451 closed