[2021-07-30 20:53] uday610 commented on #452
no longer applicable

[2021-07-30 20:53] #452 closed

[2021-07-30 20:55] uday610 commented on #493
after shell package install, the reboot is required, this is a standard usage now.

[2021-07-30 20:55] #493 closed

[2021-07-30 20:56] uday610 commented on #548
build and test documentation page is upgraded. no longer applicable

[2021-07-30 20:56] #548 closed

[2021-07-30 20:57] uday610 commented on #554
all XRT APIs documentations are in github.io,

[2021-07-30 20:57] #554 closed

[2021-07-30 20:58] uday610 commented on #725
No longer issue

[2021-07-30 21:00] uday610 commented on #725
@houlz0507 , do you know anything about this issue? is this still relevant?

[2021-07-30 21:01] uday610 commented on #813
obsolated

[2021-07-30 21:01] #813 closed

[2021-07-30 21:02] uday610 commented on #922
should not be an issue today, closing

[2021-07-30 21:02] #922 closed

[2021-07-30 21:02] uday610 commented on #928
closing

[2021-07-30 21:02] #928 closed

[2021-07-30 21:03] uday610 commented on #994
documentation will be provided with new XRT API development , so this request is obsolate

[2021-07-30 21:03] #994 closed

[2021-07-30 21:07] uday610 commented on #1154
today obsolated

[2021-07-30 21:07] #1154 closed

[2021-07-30 21:14] uday610 commented on #1544
7.5 is no longer supported

[2021-07-30 21:14] #1544 closed

[2021-07-30 21:17] uday610 commented on #1654
Should be supported today...

[2021-07-30 21:17] #1654 closed

[2021-07-30 21:24] uday610 commented on #2145
latest XRT release provides xrt::ini  class in the path: ./include/experimental/xrt_ini.h , please see the example here: https://github.com/Xilinx/XRT/blob/master/tests/xrt/00_hello/main.cpp#L97

[2021-07-30 21:24] #2145 closed

[2021-07-30 21:24] uday610 commented on #2414
pyopencl is no longer supported.

[2021-07-30 21:24] #2414 closed

[2021-07-30 21:26] uday610 commented on #2462
this should not be an issue now, closing.

[2021-07-30 21:26] #2462 closed

[2021-07-30 21:27] uday610 commented on #2485
please reach out WTS for this kind of questions, thanks

[2021-07-30 21:27] #2485 closed

[2021-07-30 21:29] uday610 commented on #2610
Not supported

[2021-07-30 21:29] #2610 closed

[2021-07-30 21:31] uday610 commented on #2623
Windows build is not supported for external environment

[2021-07-30 21:31] #2623 closed

[2021-07-30 21:33] uday610 commented on #2624
this testcase no longer part of XRT repo

[2021-07-30 21:33] #2624 closed

[2021-07-30 21:35] uday610 commented on #2656
no longer applicable now as file has changed

[2021-07-30 21:35] #2656 closed

[2021-07-30 21:37] uday610 commented on #2727
This is fixed now,

[2021-07-30 21:37] #2727 closed

[2021-07-30 21:38] uday610 commented on #2728
it should be working now. 7.5 is no longer officially supported though

[2021-07-30 21:38] #2728 closed

[2021-07-30 21:40] uday610 commented on #2754
this should be working,

[2021-07-30 21:40] #2754 closed

[2021-07-30 21:41] uday610 commented on #2841
closing this discussion

[2021-07-30 21:41] #2841 closed

[2021-07-30 21:42] uday610 commented on #3130
closing

[2021-07-30 21:42] #3130 closed

[2021-07-30 21:43] uday610 commented on #3216
Please reach out to Vitis support as seems like v++ compilation issue

[2021-07-30 21:43] #3216 closed

[2021-07-30 23:17] houlz0507 commented on #725
tried this. It seems gone.

[2021-07-30 23:17] #725 closed

[2021-07-31 01:40] #5546 closed

[2021-07-31 02:51] uday610 commented on #3818
closed as not XRT issue

[2021-07-31 02:51] #3818 closed

[2021-07-31 16:01] #5511 closed

[2021-07-31 16:08] stsoe commented on #3381
This must be obsolete by now.   We build XRT in our CI on CentOS7.6 and I believe folks are building locally on RHEL7.6 also.  You probably have to debug this and figure out why it is failing.  We don't have the resources to track this type of error down given that we build and release on CentOS7.6.

[2021-07-31 16:08] #3381 closed

[2021-07-31 16:15] stsoe commented on #3493
Our C++ APIs (xrt::device) support access to various device properties.   In 2021.2 `xrt::device::get_info` is extended with platform  `info::device::platform` property, which includes the serial number requested.

[2021-07-31 16:15] #3493 closed

[2021-07-31 17:02] vmayoral opened #5560 "Add support for KV260 edge platform (and recipe/instructions for adding other edge platforms)"
Hello all,

I was hoping to test some XRT-powered acceleration kernels with KV260 when I bumped into the following errors:

[code]

When introspecting the system with `xbutil`, I realized things were certainly wrong:

<details><summary>xbutil introspection of KV260</summary>

[code]

</details>

The official KV260 platforms are available at https://github.com/Xilinx/kv260-vitis but none of these a

[2021-08-02 10:10] keryell commented on #5168
Note this is a problem known since 2019...

[2021-08-02 11:54] nevilshah235 commented on #2841
We are working on petalinux 2020.2 based xlnx-linux kernels, we were able to generate the kernels and install them on the device. But during installation of XRT - edge zocl, we are getting the following error.

Has anyone encountered this error before? Please can someone help to resolve the same.

![error_xrt_installation](https://user-images.githubusercontent.com/42417038/127857870-3947e443-363c-

[2021-08-02 21:00] vmayoral commented on #5560
Kindly pinging maintainers @stsoe, @sonals, @chienwei-lan, @mamin506, any chance you could provide feedback on this?

I'm being told that XRT has been used to produce Kria K26 app (e.g. [smartcam](https://github.com/Xilinx/smartcam)) as a dependency of [Vitis-AI](https://github.com/Xilinx/Vitis-AI). I scanned the source code of smartcam and didn't see a clear XRT connection. The output of `xbutil`

[2021-08-02 21:28] uday610 commented on #5517
closed as per previous comment

[2021-08-02 21:28] #5517 closed

[2021-08-03 06:54] Saikiranbelana commented on #2681
still waiting for a reply on this issue

[2021-08-04 10:06] chvamshi-xilinx commented on #5560
Can you run xbutil2 examine -r host. Looks like zocl module is not loaded.

[2021-08-04 14:20] vmayoral commented on #5560
@chvamshi-xilinx was extremely helpful debugging this and providing a solution so kudos for him! With his help, we found the non-trivial (at least to me) issue. In a nutshell, though the file system had all the necessary components, the device tree didn't contain the necessary entry for ZOCL. This led to an incomplete embedded setup, with some missing directories under `/dev`. Fixing the device tr

[2021-08-04 14:20] #5560 closed

[2021-08-05 03:49] uday610 commented on #4487
@houlz0507 , this is old QDMA related issue. Is this still relevant? Let me know or close this.

[2021-08-05 04:26] houlz0507 commented on #4487
@uday610 , I do not know this. @karenx-xilinx  may know the detail.

[2021-08-05 14:44] uday610 commented on #4487
@karenx-xilinx , is this QDMA issue still relevant? Has this been fixed already or do we have internal story/cr to track this? Let me know or we can close this...

[2021-08-10 17:33] stsoe commented on #5401
@venkatp-xilinx Please mark this issue fixed when CR-1105172 is fixed.  Thanks!

[2021-08-10 21:58] sonals commented on #5229
Please try the updated XRT. Added support for generating pybind11 documentation. Also going forward the focus will remain on pybind11 as supported python API.

[2021-08-11 12:25] mashemat opened #5611 "python_binding (Failed)"
Hello,

I tried to install but I faced the following Error:
 5/11 Test  #5: python_binding ....................***Failed

Traceback (most recent call last):
  File "/home/mashemat/XRT/src/../tests/python/200_binding/200_main.py", line 18, in <module>
    import pyxrt as pp
ImportError: /home/mashemat/XRT/build/Debug/opt/xilinx/xrt/python/pyxrt.cpython-36m-x86_64-linux-gnu.so: undefined symbol: PyT

[2021-08-12 13:28] evansmal opened #5621 "Dynamic loading in `xrt_xocl::hal::load_xdp()` assumes install directory is always `XILINX_XRT/lib`"
# Summary
Trying to load OpenCL platforms or XRT devices will fail when the XRT libraries are not installed in `$XILINX_XRT/lib`. For example, if the binaries are installed in `/usr/lib64`, the following behavior is seen:

#### When using the OpenCL host API

[code]

This one is very confusing - since there are no errors and we instead get that there are no platforms.

#### When using the XRT API

[2021-08-13 19:21] HFTrader commented on #5168
So just a heads up, XRT is officially broken with respect to Ubuntu 20.04 LTS.
A recent apt update/upgrade upgraded my kernel to 5.11 and DKMS failed silently.

[2021-08-14 08:17] keryell commented on #5168
Ouch!
@HFTrader thanks for the information.
You are right https://ubuntu.com/about/release-cycle#ubuntu-kernel-release-cycle https://www.phoronix.com/scan.php?page=news_item&px=Ubuntu-20.04.3-LTS-Coming
This means we are in a mess and @sonals needs to put this issue at the top priority.
An interesting example of technical debt in practice, appearing in 2019 and exploding in 2021.

[2021-08-17 20:26] #1515 closed

[2021-08-17 20:48] uday610 commented on #4487
As per @karenx-xilinx , this issue already raised in github QDMA driver . This is not a high priority item. Hence closing

[2021-08-17 20:48] #4487 closed

[2021-08-17 21:31] uday610 commented on #3252
@chienwei-lan , can you see if these messages are still come? This issue was regarding PR #2134

[2021-08-18 16:27] uday610 commented on #5611
Can you please let us know on what OS you are trying to build? Also what is Python version in your system?

[2021-08-18 16:34] uday610 commented on #5621
If XRT is not installed then xilinx.icd file should be missing, and there is no way to load Xilinx library, ICD file is a must for OpenCL flow to pick the correct XIlinx runtime library. This is not the same with native XRT flow. So in that sense, this behavior is correct and there is no platform is reported.
Please let us know if you see something else.
Thanks
Uday

[2021-08-18 18:15] chienwei-lan commented on #3252
@uday610 , most of XRT messages are printed as KERN_DEBUG level, and PR #2134 is added another level as warning instead of treat the group of messages as error, the total amount of log printed is the same.

If users like to make it less verbose, they can run "dmesg -n 6" to filter out KERN_DEBUG, which means only the message's priority is higher than KERN_DEBUG will be printed out.

Here is how to

[2021-08-18 18:21] evansmal commented on #5621
In my case the ICD file is present and points to the correct runtime library. This issue persists with the OpenCL flow when the ICD is installed correctly.

As I mentioned above, the issue is that the dlopen call that occurs in `xrt_xocl::hal::load_xdp()` assumes that the XRT shared objects are always located in `XILINX_XRT/lib`. This assumption is not documented and not all custom platforms will

[2021-08-18 19:00] wilderfield commented on #2623
CMake Error: Could not create named generator Visual Studio 16 2019 Win64

Your problem is with CMake.

[2021-08-19 00:33] strocode opened #5650 "Empty profiling traces when using pybind11 XRT API"
Hi,

I have an XCLBIN build for U280 I want to profile.

If I drive it with C++ host code via the OpenCL API I get profiling information I can view with vitis_analyzer. I'm most interested in kernel enqueues:
![image](https://user-images.githubusercontent.com/1912169/129988200-6d199178-6357-4b10-a5f8-d107e86bb8df.png)

If I drive it with python via pybind11 XRT API it produces a new device_trace_0

[2021-08-23 06:20] mashemat commented on #5611
Hi uday610,
Thanks for your reply! I am using ubuntu 18.04 & python 3.6. Would it be OK? Is there any package to install on ubuntu not from source?

Thanks,

[2021-08-23 18:30] chvamshi-xilinx commented on #5611
Hi @mashemat . That should be fine. Can you please check what is the output of
ldd /home/mashemat/XRT/build/Debug/opt/xilinx/xrt/python/pyxrt.cpython-36m-x86_64-linux-gnu.so

[2021-08-24 01:07] uday610 commented on #5650
Hello @strocode , I see you are using the latest 21.1 XRT, which is good. Can you please use the following switch in the xrt.ini file? Please remove all other switches under [Debug] and first try with only the switch below and see if you see something. I believe this will generate a new file named native_trace.csv

[Debug]
native_xrt_trace=true

[2021-08-24 16:02] stsoe commented on #5621
@jvillarre @uday610 I think load_xdp is dead code so I am not really following @evansmal 's comment?  Any way, it is likely that other variants of the xdp DSO loading suffer the same problem.  Assigning to Jason so he can decide appropriate action, which I recommend should be a documentation fix.

[2021-08-24 16:37] evansmal commented on #5621
The exception thrown is the on the line I linked above. You can see it [here](https://github.com/Xilinx/XRT/blob/7aba37d5ea0659ff7298a562447eba1f613965ad/src/runtime_src/xrt/device/hal.cpp#L280). I couldn't find any other occurrences of `throw std::runtime_error("Library " + libname.string() + " not found!");` in the source code, so I assumed it came from there.

[2021-08-25 22:11] #5621 closed, assigned to jvillarre

[2021-08-27 01:46] doonny opened #5693 "Incorrect results when using clEnqueueMigrateMemObjects with MIG (PL-DDR) on Zynq"
Hi, I am working on the ZC706 board with MIG (PL-DDR) enabled in a custom vitis platform.

When using clEnqueueMigrateMemObjects to write buffers, the content of the buffers on the device side are not consistent with the memory object pointed by host_ptr.  However, when I switched to clEnqueueWriteBuffer, the results are correct.

Followings are the host code that creates and manipulate the buffer

[2021-08-27 08:25] joosthooz opened #5696 "High system load after updating to 2021.1"
After updating XRT to the latest release 2021.1, the system load is constantly high (12), with several blocked kworker threads.
We've tried a couple of kernel versions. Ours is a dual socket system with 40 threads in total.

[code]

blocked threads:
[code]

kworker backtrace:
[code]

[code]

[code]

[code]

dmesg
[code]

[2021-08-31 08:31] joosthooz commented on #5696
Thanks for the response! If we need this resolved quickly I'll build from master, but for now we can wait for a new release.

[2021-08-31 08:31] #5696 closed

[2021-09-02 10:27] keithbe opened #5723 "High CPU load from 2021.1 and also from master"
CPU load is very high after installing XRT 2021.1, and is still high building from master today. CPU load is 64 on a 16-Alveo server with no other activity. Uninstalling XRT brings load back to ~zero.

- The change that introduced the problem was on 25-may-2021, commit f62bc26245f64eb95cbae104b04ed32093a6ccbe
- Subsequent changes to file mailbox.c, correcting the arguments to usleep_range() and re

[2021-09-09 03:18] stsoe commented on #5401
HW emulation support in https://github.com/Xilinx/XRT/pull/5710.
Closing this issue as it should be fixed now.

[2021-09-10 14:54] stsoe commented on #5401
@joosthooz, the dump you show looks correct.  Could you by any chance either provide the xclbin or debug and catch the throw with a stack trace?

[2021-09-11 16:02] joosthooz commented on #5401
Hi,
I pushed my xclbin here:
https://bitbucket.org/joosthooz/tta-simd-streamingio/src/range_not_found_xclbin/xclbin_build/hbm_tta_vec2add.xclbin
I don't know if it has any influence, but it was created with the new XRT sourced. It is a hw_emu bitstream.
The way I'm running it is from the `vivado_srcs/hbm_tta_vec2add/exports` dir, build the runtime with `make` and then
[code]

[2021-09-11 16:04] joosthooz commented on #5401
I'm still using the C API so no exception to catch...

[2021-09-14 15:32] RivenChen opened #5785 "Problem with XRT shell, please check it, thanks"
hi, I use default  image in "XRT/src/runtime_src/core/pcie/tools/cloud-daemon/aws/aws_dev.h" (DEFAULT_GLOBAL_AFI), and I can use it to do smiple xdma read&write.

But when I use the others image(through aws tos download), the  smiple xdma read&write can't work.
except shell ,does role ip should do something to support xdma read&write ? If it does,  I want to know the role-ip implementation about t

[2021-09-14 15:36] RivenChen commented on #5785
@xuhz @maxzhen @kennylau-arista

[2021-09-14 15:36] RivenChen commented on #5785
@xuhz @maxzhen @kennylau-arista
please check this problem, thanks very much.

[2021-09-14 16:07] xuhz commented on #5785
first of all, I assume you run in a aws f1 instance, instead of pegasus.
secondly, DEFAULT_GLOBAL_AFI is loaded to change the device id of the FPGA, but for your purpose, you can just think of it as loading a helloworld kernel to FPGA through xrt. In this case, xrt has mem topology info of the card, then you can run xdma read&write (xbutil mem read/write)
thirdly, if you load an image with aws too

[2021-09-14 17:06] RivenChen commented on #5785
Yes, I run in a aws F1 instance.
 I use the xdma driver directly not xrt api to test dma read&write, and write data to FPGA ddr. I wondle why I can use xdma driver with xrt image...
Does "DEFAULT_GLOBAL_AFI" helloworld kernel have code? I want to have a check on it  because I guess if my CL(custom logic) lacks some interface to shell. Does the CL still needs to be implemented to get access to the

[2021-09-14 17:42] xuhz commented on #5785
xrt (xocl driver) includes the xdma driver. One can use either xrt or xdma driver directly to access xdma IP. Either way, when the dma engine is programmed, we need to tell the engine the physical addr of the ddr.
If xrt (xocl) is being used, once a design is loaded through xrt, the memory topology (in xclbin metadata) is known to xrt, so we can do dma test.
Regarding to DEFAULT_GLOBAL_AFI, i don'

[2021-09-14 17:55] RivenChen commented on #5785
thanks  @xuhz   I understand your answer.
I currently have a requirement to use the xdma driver to run our business. Above the xdma are the user-mode apis that we encapsulate. These apis implement functions similar to the bo cu in xrt.  Can I directly call the read/write of xdma to work with the image compiled by Vitis xrt?

[2021-09-14 20:06] stsoe commented on #5401
The emulation fix is not correct.  @venkatp-xilinx see the CR

[2021-09-15 04:35] uday610 commented on #5693
@chvamshi-xilinx

[2021-09-15 04:38] uday610 commented on #5650
@strocode , have you check this? I am closing this as I did not receive any response. Please feel free to file another issue if you still have problem

[2021-09-15 04:38] #5650 closed

[2021-09-15 04:41] uday610 commented on #2566
Possibly running a small testcase, there is no "xbutil validate" for embedded platform. Already discussed with @chvamshi-xilinx . Closing this

[2021-09-15 04:41] #2566 closed

[2021-09-15 04:43] uday610 commented on #4036
I unable to fix this, hence closing. When we have a techdoc expert we can address this issue.

[2021-09-15 04:43] #4036 closed

[2021-09-16 09:53] keryell opened #5801 "Improve the commit message quality"
Often when I look at commits in this project it is not obvious to figure out what is going on.
For example https://github.com/Xilinx/XRT/pull/5789
It would be nice on this project to have useful commit messages that explains what is going on, why it is done, etc.

Some suggestions I found quickly:
- https://www.freecodecamp.org/news/writing-good-commit-messages-a-practical-guide/
- https://joshuat

[2021-09-16 16:35] stsoe commented on #5801
Thank you @keryell for the pointers.  I will take an AI to create a summary on our internal documentation and share with our developers in one of our bi-weekly meetings.  Wholeheartedly agree with you on both commit messages and code commenting.

[2021-09-16 19:41] uday610 commented on #5801
@keryell , thanks for reminding these important practices again :)

[2021-09-16 23:57] sonals commented on #5785
@RivenChen XRT and Vitis are compatible with each other. Using XDMA driver directly with Vitis compiled design is not supported. Can your host application move to XRT API?

[2021-09-17 00:32] xuhz commented on #5785
@sonals
i helped him out. He can use xdma driver directly moving data now

[2021-09-17 03:06] RivenChen commented on #5785
@sonals XRT use xdma driver as well. Xdma read/write api can also work when user  gets the memory topology of the fpga ddr, and move data to ddr. But in XRT, memory topology  is analyzed through programing image.
@xuhz help me with this problem, thanks a lot.

[2021-09-19 02:08] trevor-crowley commented on #5168
work-around:  as read on the Xilinx site, rolling the kernel back to 5.4.0-84-generic works on Ubuntu 20.04.3 LTS

[2021-09-19 15:49] stsoe commented on #5401
@joosthooz .  Should be fixed now with https://github.com/Xilinx/XRT/pull/5808

[2021-09-19 15:49] #5401 closed

[2021-09-22 23:20] #5785 closed

[2021-09-23 04:14] xym341 opened #5833 "Configure "force_program_xclbin" in ini to reset the kernel, but failed"
1,ver
commit 859b95f89315cdd220734ef4bb8240e62e97ea77 (HEAD -> master, origin/master, origin/HEAD)
Date:   Mon Sep 13 15:59:35 2021 -0700
2,demand
**I wanted to forcibly reset the kernel, but I didn't see the effect**。The user layer is configured as follows：
xrt::ini::set("Runtime.force_program_xclbin", true);
3,debug
I tracked the code and saw the judgment of flag in "src/runtime_src/core/pcie/dr

[2021-09-27 03:05] sqPoseidon commented on #2632
Hi,

I met the same problem on my local host: `5.4.0-62-generic #70~18.04.1-Ubuntu SMP Tue Jan 12 17:18:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`.

[code]

How did you solve this problem?

Thank you in advance.

[2021-09-27 03:07] pyhundan opened #5856 "The question about the IO path from storages to devices"
Hi,
    I had read some example codes from  **Vitis_Accel_Examples**. I read one of [codes](https://github.com/Xilinx/Vitis_Accel_Examples/blob/master/host/p2p_bandwidth/src/host.cpp)

   I learned that the interface used to transfer data to the device should be `enqueueMigrateMemObjects` and I read the source code in this repository. I don't know whether my understanding is wrong, when using this

[2021-09-28 02:00] rajkumar-xilinx commented on #5833
Fixed this issue using https://github.com/Xilinx/XRT/pull/5858 .  It is merged into XRT master branch.
Please sync to latest XRT and verify. Thank you.

[2021-09-29 22:19] stsoe commented on #5856
@pyhundan, correct clEnqueueMigrateMemObjects transfers data to/from device.
The code that does the migration is *not* what you highlighted, but rather one line above at line 96.  When event dependencies are satisfied, the enqueue action is called.

The enqueue action for migration is xocl::enqueue::action_migrate_memobjects defined [here](https://github.com/Xilinx/XRT/blob/512c814d916029687b930bc

[2021-09-30 08:40] xym341 commented on #5833
Verify again. It's solved. Thank you.

[2021-09-30 08:40] #5833 closed

[2021-09-30 19:59] keryell commented on #5168
It looks like there is some progress on this: https://github.com/Xilinx/XRT/pull/5867

[2021-10-01 02:42] keryell commented on #5168
I have just tried today by upgrading our `xsjsycl41` machine: XRT passes now the validation on my U200, Ubuntu 21.04, Linux kernel 5.11!
Let's see next week how it goes with the new Ubuntu 21.10 release... :-)

[2021-10-01 07:59] pyhundan commented on #5856
Hi, @stsoe
Thank you for your answer.  Your answer has solved my doubts well, but I still have the following questions to ask you.

1、I've found a function implementation for data migration, but I don't understand [sync()](https://github.com/Xilinx/XRT/blob/512c814d91/src/runtime_src/xocl/core/device.cpp#L741), and I can't find an implementation for this function, which jumps to strange locations.

[2021-10-01 14:33] stsoe commented on #5856
@pyhundan The level of detail you asking for are best explored using gdb.  You will find that the sync() call ultimately ends up in a [low-level shim library](https://github.com/Xilinx/XRT/blob/709e4e35f8b965af032c40b408023716e5f4d712/src/runtime_src/core/pcie/linux/shim.cpp#L847)  that makes a call into the kernel driver to do the DMA.

As for 2), this is profiling code that annotates time line f

[2021-10-03 21:33] HFTrader commented on #5168
Has anyone tested it with 20.04.03 LTS?

[2021-10-11 03:20] pyhundan commented on #5856
Hi @stsoe ,

I have run the Vitis_Accel_Example such as this [code](https://github.com/Xilinx/Vitis_Accel_Examples/blob/master/hello_world/src/host.cpp)

However, no matter the Vitis compiler is used to debug the code, or GDB is used to debug the code from the command line, but the final error will be reported.

Error notification in VItis is `Can't find a source file at "/opt/xrt/src/runtime_src/

[2021-10-11 20:19] doublez13 opened #5918 "Installing on RHEL8"
When trying to install `xrt_202110.2.11.634_8.1.1911-x86_64-xrt.rpm` on RHEL 8.4, we are seeing this error in the DMKS build log.

Kernel Version: `4.18.0-305.19.1.el8_4.x86_64`
GCC Version: `gcc (GCC) 8.4.1 20200928 (Red Hat 8.4.1-1)`

[code]

Any help would be much appreciated.

[2021-10-13 15:26] chvamshi-xilinx commented on #5693
We will try to reproduce at our end. 2.6.0 is pretty old release. Can you please switch to the latest release and try once.
I am suspecting, this is something related to cache.

[2021-10-13 16:30] #5918 closed, assigned to nobody

[2021-10-15 19:52] evansmal opened #5935 "XCLBIN containing multiple kernels fails after second enqueue"
# Summary

I am experiencing an issue where my application hangs when enqueuing a kernel twice, but only when my xclbin contains multiple kernels.

In the case where I link a single kernel into my xclbin, I can successfully run my application as many times as I want without issue. When multiple kernels are inside a single xclbin, my program hangs after running the same kernel a second time. It doe

[2021-10-18 17:28] oscarkramer opened #5940 "XRT fails build with: Imported target "Boost::filesystem" includes non-existent path "/include""
I cloned the XRT repo from github and followed the directions in a [link](https://xilinx.github.io/XRT/master/html/build.html) provided in the XRT/README.rst. When I run the XRT/build/build.sh script, I get:
[code]
Same when I run using `sudo`. I added the print out of `Boost_INCLUDE_DIRS` and `Boost_LIBRARY_DIRS` in the CMakeLists.txt and that is indeed correct for my installation.

I also tried

[2021-10-19 01:21] stsoe commented on #5940
Awesome.  Thanks for confirming.  I will close this issue then.

[2021-10-19 01:21] #5940 closed

[2021-10-19 17:19] j-stephan opened #5942 "Ubuntu 21.10: Faulty CMake script causes build to fail"
I recently upgraded to Ubuntu 21.10 and decided to build XRT. However, the build of the current `master` branch fails immediately due to a CMake error:

[code]

[code]

The cause seems to be here:

https://github.com/Xilinx/XRT/blob/41e86d79499d7ec6906576c9ddb9e98cc22185fe/src/CMake/glibc.cmake#L18

Removing the `-` behind `libc-` fixes the issue for me. I have no idea why this appears now, maybe

[2021-10-19 17:45] j-stephan opened #5943 "Kernel driver: drm_prime_sg_to_page_addr_arrays was removed in Linux 5.12"
In Linux 5.12 the function `drm_prime_sg_to_page_addr_arrays` was split into two parts (AFAIK with no previous deprecation warning):

1. `drm_prime_sg_to_page_array` - marked as deprecated
2. `drm_prime_sg_to_dma_addr_array` - not deprecated, seems to be the suggested replacement for the above.

This causes DKMS to fail on up-to-date Linux distributions, such as Ubuntu 21.10:

[code]

[2021-10-26 18:44] #5942 closed, assigned to stsoe

[2021-11-01 14:48] sonals commented on #5611
@mashemat, is this still an issue?

[2021-11-01 15:21] mashemat commented on #5611
Thanks for your email. Actually it was solved. The problem was the OFED
version that could not communicate with FPGA. I upgrade it and was solved.

On Mon, Nov 1, 2021 at 3:48 PM Sonal Santan ***@***.***>
wrote:

[2021-11-03 12:48] doonny commented on #5693
@chvamshi-xilinx Is there anyway to update XRT only without changing the customized platform and petalinux image ?

[2021-11-04 13:54] rogumag commented on #5943
Hello, I have the same error using Kernel 4.18.0-348.el8.x86_64 (Centos 8).

`CC [M]  /var/lib/dkms/xrt/2.12.427/build/driver/xocl/userpf/xocl_bo.o
/var/lib/dkms/xrt/2.12.427/build/driver/xocl/userpf/xocl_bo.c: In function ‘xocl_gem_prime_import_sg_table’:
/var/lib/dkms/xrt/2.12.427/build/driver/xocl/userpf/xocl_bo.c:1175:8: error: implicit declaration of function ‘drm_prime_sg_to_page_addr_arrays

[2021-11-05 03:37] sonals commented on #5611
Closing based on @mashemat feedback.

[2021-11-05 03:37] #5611 closed

[2021-11-05 03:38] sonals commented on #1136
Closing as obsolete.

[2021-11-05 03:38] #1136 closed

[2021-11-05 03:40] sonals commented on #1652
Closing as obsolete.

[2021-11-05 03:40] #1652 closed

[2021-11-05 03:41] sonals commented on #3541
@malith199122 is this issue resolved with standard Linux install? Do you still the hack?

[2021-11-07 03:53] Hecmay opened #5974 "Error: Failed to find Xilinx platform"
Hi,

I am trying to run sw emulation using Vitis on a machine that does not have FPGA devices attached.

Supposedly you would not need any real FPGA hardware to run emulation. However, I am getting this error from XRT when running this function. XRT complains that `Error: Failed to find Xilinx platform`

[code]

If I switch to another machine with FPGAs installed, then it worked fine. How should I

[2021-11-08 05:01] NadeemAtif-Alig opened #5975 "XRT disappeared from default location after "sudo" upgrading on Ubuntu"
I recently "sudo" upgraded my ubuntu OS (20.04 LTS) by using the "**sudo apt update && sudo apt upgrade**". After that, my xrt folder from the default location /opt/xilinx disappeared automatically. Can anyone please explain what is the matter? Thanks.

[2021-11-10 23:50] keryell commented on #5974
Just curious about the context. Have you installed XRT with a shell for a specific board?
I use this on my laptop to give demos with the emulator for a U200 without any real board.
Actually not with this `xcl::` host API but the OpenCL one, but it should work the same.

[2021-11-11 00:32] keryell commented on #5975
Perhaps related to a problem I mention in https://github.com/triSYCL/sycl/blob/sycl/unified/next/sycl/doc/GettingStartedXilinxFPGA.md#installing-the-xilinx-xrt-runtime

Search for `sudo apt-mark hold xrt` in the file.

[2021-11-11 19:50] Hecmay commented on #5974
@keryell thanks for your reply.

I was using an XDMA shell for the U280 board. I got the example from Vitis Accel Example repo. So are you using the standard OpenCL runtime APIs instead of the `xcl` APIs by XRT?

Can you please provide some reference code if possible? appreciate it

[2021-11-12 00:47] keryell commented on #5974
I do not have a simple code sample because I use the board through a framework which happens to use the OpenCL API to control the FPGA.

[2021-11-24 22:11] danchitnis opened #6021 "XRT and WSL2"
Hello, I am trying to install the Alveo U250 software package for development only (I don't have the card) on WSL2 in Win11 Insider preview. Do I need to install the XRT module for development only? In that case, when I install xrt using `sudo apt install xrt...`, the installer goes into an infinite loop:

[code]

I believe xocl and xclmgmt are Xilinx's kernel drivers for PCIe.

[2021-11-29 23:08] sonals commented on #5229
@m-kru, please try the pybind11 APIs.

[2021-11-29 23:08] #5229 closed

[2021-11-29 23:53] keryell opened #6027 "Strange XILINX_VITIS default paths"
While trying to solve how to compile ERT as an outsider, I ran into some strange configurations found in the source tree:
- around https://github.com/Xilinx/XRT/blob/master/build/build.sh#L227 :
[code]
- around https://github.com/Xilinx/XRT/blob/master/build/run.sh#L10 :
[code]
  it is *very unlikely* it is always the preferred Vitis install of the reader. :-)

While this sounds like a good idea t

[2021-11-30 10:01] ghost opened #6028 ""xbutil reset" should always works, even with cloud boards"
Xbutil should be aware of the specificities of the board on which XRT is running and be able to reset the board even if it is not an on-prem Alveo.

For instance:
* On AWS VT1, "xbutil reset" does not work and make the FPGA unusable. There is a doc somewhere in the Video SDK that say that the VT1 must not be reset. But in practice, it will be more user friendly that the xbutil command works on thi

[2021-11-30 10:12] xlz-jgoutin opened #6029 ""xbutil examine" with "-f" and no "-o" should output the result in STDOUT in the specified format."
When no output file is specified, the output in STDOUT should be in the format specified by "-f".

For instance "xbutil examine -f JSON" should output the result in STDOUT in JSON format instead of "text" format.

This will be helpful when using the command in script, because it allow to not have to read an extra file each time.

[2021-11-30 22:49] sonals commented on #6021
WSL2 is not a supported platform so this will require your help to resolve.

Can you dig through to see what is the causing the infinite loop -- the log files left behind by the installer may be helpful here.

[2021-11-30 23:52] danchitnis commented on #6021
WSL2 doesn't have `systemd` (yet). So when `xrt` is trying to install a service and start it, it fails and goes to an infinite loop. This will cause a problem when installing inside containers since in the majority of scenarios there is no root access for `systemd`. The service startup doesn't seem essential for development purposes, since my Vitis seem to function correctly.

Where can I find the

[2021-12-01 08:55] j-stephan commented on #5943
Until a proper fix / modernization is available, the following workaround works for kernel 5.13:

https://github.com/Xilinx/XRT/blob/34849b8e31fc6f054c3cdb5e257f48a0580b38b7/src/runtime_src/core/pcie/driver/linux/xocl/userpf/xocl_bo.c#L1177-L1178

needs to be changed to

[code]

@rogumag Your second error should have been fixed as part of #5867. I guess the check for Red Hat's backported kernel fe

[2021-12-01 16:26] whyaysd opened #6033 "system freeze while installing XRT"
Hi,

I am installing XRT for vck5000. However, the system always hang when I install the xrt package. I have try this in two methods, both of them freezed.
1. using the install.sh script provided in Visit-AI
2. build XRT from source code of 2021.2.

My OS is ubuntu 20.04 kernel 5.4.0

I need your help to solve this problem.

Thank you!

[2021-12-02 00:35] stsoe commented on #6027
@keryell .  Yeah run.sh is not really meant for public consumption and the defaults value are no good.  I agree.
I am not sure what I can do about the default in build.sh other than update it to a more recent version.

[2021-12-02 01:06] keryell commented on #5943
@j-stephan thanks for your continuous support. By the way, Xilinx is hiring... ;-) @sonals @stsoe

[2021-12-02 01:21] uday610 commented on #6029
If we plan to support this would be a major enhancement as we need to be consistent with all tools and their commands and subcommands. We will discuss this request for future release plan, and when we decide I will mark this issue with the XRT release version accordingly.

[2021-12-02 01:23] uday610 commented on #5975
Closing this as solution is provided by @keryell , please reopen if something else required.

[2021-12-02 01:23] #5975 closed

[2021-12-02 01:40] xuhz commented on #6028
1.  for aws vt1, h/w reset of board is impossible. 'xbutil reset' in user vm can still run, but it only does things like killing apps, but no h/w reset on board. In this case, the 'xbutil reset' behavior can be improved to return 'failure as not supported'
2. for aws f1, it is xilinx FPGA chip but not xilinx board, the mgmt lib provided by aws doesn't support hw reset on the board. There is a 'cle

[2021-12-02 02:09] xdavidz commented on #6033
@whyaysd please provide more info:
1) What shell pkg you have installed or you don't have shell installed?
2) What sc version you have installed or you don't have sc pkg installed?
3) Where is the pkg of XRT in Vitis-AI?
4) Could you please list your vck5000 device id by "lspci -vd 10ee:"?

[2021-12-02 03:35] whyaysd commented on #6033
1. bash?
2. Sorry, I don't understand the sc pkg
3. https://github.com/Xilinx/XRT/releases/tag/202120.2.12.427
4. the output is
[code]
5.there are some log in dmesg saying: xclmgmt: module verification failed: signature and/or required key missing - tainting kernel

[2021-12-02 03:42] heeran-xilinx commented on #5974
Hi @Hecmay ,
Can you share which particular example of Vitis Accel Examples you are trying?

You can find list of Native XRT based example Here:
https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/host_xrt

These examples works for emulation flow without FPGA card. Did you try the Makefile flow provided there? I hope emconfig was also successfully running before emulation run.

-Heera

[2021-12-02 04:11] xdavidz commented on #6033
1. Not the bash shell. The pkg for the vck5000 card, should be something like "xilinx-vck5000-gen3x16-xdma-base_1-3378008_all.deb". If you never installed this, then it is not related to vck5000 board itself. You can verify by removing the card and re-install XRT. You might see the same error.
2. I am pretty sure you haven't installed No.1, otherwise it will request you to install the sc-pkg. Sate

[2021-12-02 05:12] whyaysd commented on #6033
thank you very much.

As you recommended,  I have tried to power off my computer and remove the power cable of vck5000 and then re-install XRT, but the problem is all the same.

[2021-12-02 13:59] Hecmay commented on #5974
@heeran-xilinx thanks for you reply. I tried again with XRT native APIs. The

[code]

[2021-12-02 17:26] whyaysd commented on #6033
There are some more details:
1. First of all, I install a new ubuntu 20.04.1 LTS OS.
2. I install git vim using apt
3. download the XRT source code release
4. install dependent software using the script provided in XRT source code
5. compiling
6. shutdown my computer, plug in the VCK5000, and restart my computer
7. using lspci to check my vck5000 is conected
8. using apt to install the compiled xr

[2021-12-03 17:08] rspotoaz commented on #5943
After making the prescribed changes, I was still unable to compile the drivers on 4.18.0-348.  I had to make an additional change to xocl_drm.c.

https://github.com/Xilinx/XRT/blob/d807afc565f444bc61f2ad065a5f5c3f5777a913/src/runtime_src/core/pcie/driver/linux/xocl/userpf/xocl_drm.c#L511-L525

I don't know exactly which kernel versions apply or when the source changed, but I essentially modified l

[2021-12-04 00:36] keryell commented on #6027
I would say to just remove these default values, so it does not gives the false impression it works everywhere while it just works by chance and we do not understand why it does not work when it is tried outside of Xilinx.

[2021-12-04 00:52] keryell commented on #6021
Are you compiling from the sources?
This comes probably from https://github.com/Xilinx/XRT/blob/master/build/debian/xrt-xocl-dkms.postinst
You can instrument this file, rerun it after you stopped the failing install.
I find replacing `#! /bin/sh` by `#! /bin/sh -vx` useful to debug shell scripts.
PR welcome. :-)
I am curious about whether GitHub Action allows to try this with Windows + WSL2...

[2021-12-04 01:04] keryell commented on #5943
@j-stephan can you make a PR so you are credited for it, at least for normal kernels like the ones found in Debian/Ubuntu?
For RedHat kernel, it is more difficult with their Frankenstein's kernel. :-( But if people are using RedHat, this is to pay to get support. So one can just ask RedHat how much is it to have XRT fixed??? ;-)

[2021-12-04 18:27] whyaysd commented on #6033
Hi,

I have tried it for other days. And I can update some information regarding your questions.

And I have installed the shell package, but I found that I can't finish the `xbutil validate`. When I execute this, my computer will freeze, leaving the following message:
[code]

Even if i do not use vck5000, I mean, do not do anything about vck 5000, my computer will also freeze.

My board is ES boa

[2021-12-04 23:41] xdavidz commented on #6033
Please adjust your steps from:

1. First of all, I install a new ubuntu 20.04.1 LTS OS.
2. I install git vim using apt
3. download the XRT source code release
4. install dependent software using the script provided in XRT source code
5. compiling
6. shutdown my computer, plug in the VCK5000, and restart my computer
7. using lspci to check my vck5000 is conected
8. using apt to install the compiled

[2021-12-05 04:42] whyaysd commented on #6033
I think the main difference is the order between install xrt and vck5000. If I don't plug in vck5000, installing xrt will not stuck my OS.

If I install xrt with vck5000 installed, I should using kernel 5.8.0-63-generic, or my os will also freeze during the installation.

Regarding to:

The system will definitely stuck if I using xbutil validate. others operation seems ok, but sometimies my system

[2021-12-05 07:11] xdavidz commented on #6033
may you please provide more details?
have you done step6? which passed without an issue correct?
in step7, your system won't boot?

There is no need to re-install XRT in step7.

Please just reproduce the exact steps that I have just asked.

[2021-12-05 08:19] whyaysd commented on #6033
I have done step 6
In step 7 my system boot successfully and I can login successfully, but system will hang for a while or hang immediately If I execute xbutil validate.

I do not re-installed XRT in step

Should I change my kernel version? If I don't It will hang in step 6

[2021-12-05 19:41] xdavidz commented on #6033
It seems your OS system is ok, because step6 passed. meaning you can install XRT without vck5000 card.
Even the step7 passed. meaning you can load driver with vck5000 card.

I think you haven't told me that output of step8 and step9, which is very important for me to narrow down the issue.

Let's hold off "xbutil validte" for now. It is not even in my list till step 10.

If any steps between 1 to

[2021-12-06 04:10] whyaysd commented on #6033
For step 8, I have already post its result before:
[code]

For step 9, I can install those package successfully.

[2021-12-06 04:17] xdavidz commented on #6033
I guess you mean step10 is also good? What are the outputs of xbutil examine and xbmgmt examine?

[2021-12-06 22:30] danchitnis commented on #6021
@keryell I used [this link](https://www.xilinx.com/bin/public/openDownload?filename=xrt_202120.2.12.427_20.04-amd64-xrt.deb) in the Alveo U250 page. It may differ with the [source](https://github.com/Xilinx/XRT/blob/master/build/debian/xrt-xocl-dkms.postinst) because the messages seem to be different.

The crucial question is whether the development (i.e. SW and HW emulation) works without install

[2021-12-07 00:12] keryell commented on #6021
All this is unsupported platform, so you will not be able to install the official XRT package.
You can always deconstruct the `.deb`, edit the control files and reassemble it so it skip or at least does not fail on the `systemctl` part.
Otherwise another way to get XRT working might be to compile it to the platform but skipping the device-driver install because anyway it cannot work yet on WSL2.

[2021-12-07 13:03] j-stephan commented on #5943
I'll try to submit one this (European) evening. Unless @rbramand-xilinx wants to do this first?

[2021-12-08 05:37] rbramand-xilinx commented on #5943
@j-stephan thanks for making the changes, please go ahead and submit your PR.

[2021-12-08 05:52] vishnuchebrolu commented on #5974
Hi @Hecmay ,
I see the design passing locally.
Logs :
XCL_EMULATION_MODE=sw_emu ./hello_world_xrt -x ./build_dir.sw_emu.xilinx_u280_xdma_201920_3/vadd.xclbin
Open the device0
Load the xclbin ./build_dir.sw_emu.xilinx_u280_xdma_201920_3/vadd.xclbin
Allocate Buffer in Global Memory
synchronize input buffer data to device global memory
Execution of the kernel
Get the output data from the device
TEST

[2021-12-08 18:01] danchitnis commented on #6021
correct, I think the script can check if `systemctl` returns without error and then exits the postinst process. I will create a pull requires on this later.

I have created a [repository](https://github.com/danchitnis/xrt-dev-only) to test the xrt installations. It doesn't have the infinite loop which I encountered in my WSL install. Eventually, I will expand it to a full installation (excluding V

[2021-12-08 19:19] abejgonzalez opened #6053 "Speeding up MMIO R/W latency"
I am porting a project from using the AWS EC2 F1 platform to locally hosted U250s and I noticed a large performance difference between the two platforms when using MMIO R/W requests.

Here are the numbers that I collected (measuring around the `ip::write_register` `ip::read_register` API):

*Vitis/XRT U250 MMIO R/W latencies:*

Read (Mean, Median, Min, Max): 123, 113, 105, 685 usec
Write (Mean, Me

[2021-12-08 22:57] keryell commented on #6021
Thank you for working on this!
@lforg37: I guess you had a similar issue when trying to make a Docker image with Vitis + XRT? I guess it was not failing that hard?

[2021-12-09 10:15] rogumag commented on #5943
Thanks for the modification. I will try it. Best regards

[2021-12-10 16:04] stsoe commented on #6027
I can't remove the default from build.sh as it would require everyone building XRT to have XILINX_VITIS set.  Our developers don't do that and build.sh is used primarily by our developers.   I think I will warn if XILINX_VITIS is not set **and** the default path is not available.

[2021-12-10 17:24] Mellich opened #6061 "Xilinx OpenCL Pipes lead to error: Global program variables are not supported."
Hi everyone,

I tried to synthesize and execute an OpenCL design that makes use of [pipes](https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Reducing-Kernel-to-Kernel-Communication-Latency-in-OpenCL-Kernels) with Vitis 2020.2 and XRT 2.9 for the platform `xilinx_u280_xdma_201920_3`.

Execution of the kernels throws the error `[XRT] ERROR: Global program variables are not suppor

[2021-12-11 01:02] keryell commented on #6027
It seems easy to educate your developers to have `XILINX_VITIS` set with some configuration file rather to pick an old `/proj/xbuilds/2021.1_released/installs/lin64/Vitis/2021.1` or obsolete `/proj/xbuilds/2019.2_released/installs/lin64/Vitis/2019.2` and banging one's head on why it works on some machines and not on another ones.
So, at the end you think that our developers are not motivated enoug

[2021-12-11 01:43] stsoe commented on #6027
Yes, I have much more confidence that you and motivated customers understand how to build XRT than I do educating the vast number of internal customers :-)  Maybe the 'how-to-build' section needs updating to be more specific, I haven't checked.

[2021-12-14 00:46] boxerab opened #6069 "clEnqueueMapBuffer fails with error on zcu102"
I have created a CL_WRITE buffer on zcu102, but when I try to map it
to copy host data to the buffer, I get an error :

[code]

Related issue

https://support.xilinx.com/s/question/0D52E00006pgZyZ/xrt-error-unexpected-error-memidx-1-when-running-gettingstarted-example?language=en_US&t=1639443016968

Reproducer  (haven't included code to create context and device)

[code]

[2021-12-14 19:15] boxerab commented on #6069
Found the problem - kernel argument must be set to cl buffer before it can be mapped.

[2021-12-14 19:15] #6069 closed

[2021-12-18 18:01] boxerab opened #6081 "clCreateProgramWithBinary : can't call twice in a single application with different xclbin binaries"
Error:

[code]

Hardware:  zcu102

[2021-12-19 03:08] #6081 closed

[2021-12-21 22:53] keryell commented on #5943
While debugging my installation recipe https://github.com/keryell/sycl/blob/vitis-2021.2/sycl/doc/GettingStartedXilinxFPGA.md, it looks like in current `master` https://github.com/Xilinx/XRT/commit/6b2803fec528093671179b36433b491cb8283acb the kernel driver compiled on my machine also with 5.13, besides the expected 5.11 I am using in the meantime.
I had to merging locally https://github.com/Xilinx

[2021-12-22 18:28] keryell commented on #5943
There is also https://github.com/Xilinx/XRT/pull/6092 which should improve the situation.

[2021-12-23 02:51] pyhundan opened #6096 "The question about XRT source code Sync()"
Hi,
  When I read XRT source code and the XRT [Test](https://github.com/Xilinx/XRT/blob/master/tests/xrt/02_simple/main.cpp#L63) code I have a question.
  like this code
 ` bo0.sync(XCL_BO_SYNC_BO_TO_DEVICE, DATA_SIZE, 0);`

Firstly, I want to realize the data how to transfer between host and device, and I have read the [website](https://xilinx.github.io/XRT/2020.2/html/xrt_native_apis.html), foun

[2021-12-23 13:43] stsoe opened #6098 "CMake warnings"
Copied from #6092

I have tried this branch on my personal laptop which runs Debian/unstable with `Linux 5.15.0-2-amd64 #1 SMP Debian 5.15.5-1 (2021-11-26) x86_64 GNU/Linux`:
- it compiles;
- the kernel drivers `xocl` and `xclmgmt` are correctly loaded. :-)

I have not tried running some FPGA validation because I do not have an FPGA board.
So I suggest we merge this if it passes the Xilinx CI.

@s

[2021-12-28 13:57] pyhundan commented on #6096
I have another question. When I changed the code in XRT, it was like this [code](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/pcie/driver/linux/xocl/subdev/xmc.c#L553),I added some information inside xocl_info that I wanted to output。
But I run the `test/xrt/02_sample` and use `dmesg` didn't show the corresponding information in the terminal.
the `dmesg` just show like this:
`[10

[2021-12-28 14:01] rahulsingh701 commented on #6033
We have received a VCK5000 Card in the xilinx adaptive computing challenge, we are getting this same error.
@whyaysd @xdavidz have you got any working solution for this

[2021-12-28 17:53] xdavidz commented on #6033
@rahulsingh701 please try the exact following steps:

1. First of all, I install a new ubuntu 20.04.1 LTS OS.
2. I install git vim using apt
3. download the XRT source code release
4. install dependent software using the script provided in XRT source code
5. compiling
6. using apt to install the compiled xrt deb package
7. shutdown my computer, plug in the VCK5000, and restart my computer
8. using

[2021-12-29 09:39] rahulsingh701 commented on #6033
@xdavidz we tried until step 7, When I insert the card and try to boot my pc is not starting.
Because of the kernel module installed in the XRT, here is the error image:
![image](https://user-images.githubusercontent.com/52104109/147648226-cc91613d-aac8-43a4-b9ad-33e68c0f4601.png)
@xdavidz can you help me on this?

[2021-12-29 14:14] vkomenda opened #6101 "`xbmgmt program` cannot create a shell partition"
I'm puzzled by this error message while trying to program the shell partition. Do you know what could be wrong there?

[code]

I'm actually on the latest branch from PR #6092.

I also submitted a [support request](https://support.xilinx.com/s/question/0D52E00006uVLA2SAO/u55n-flashing-the-shell-partition-doesnt-work?language=en_US). Please have a look for more info.

[2021-12-29 17:16] ombhilare999 commented on #6033
We got some work around @xdavidz .
We installed xrt from master itself as the latest release was failing.

[2021-12-29 18:07] xdavidz commented on #6033
@rahulsingh701 thanks for the info. This error indicates that you've installed a shell pkg (vck5000-xdma etc..) doesn't match the existing shell flashed on to the card. This is a known issue. Do you have jtag usb connected to the card? I can help to revert back to recovery mode and re-flash the card.
@ombhilare999 if I understand it correctly, you can run "xbutil examine" multiple times, however i

[2021-12-29 18:14] VedantParanjape commented on #6033
Hey @xdavidz I am working with @rahulsingh701 on the same card. What do you mean by JTAG USB ? The micro usb port on the card ?

Also, we weren't able to install anything on the card, can you please help us revert back to recovery mode and reflash.

Regards and Thanks,
Vedant

[2021-12-29 18:17] xdavidz commented on #6033
Are you working for Xilinx? Please slack me.

[2021-12-29 18:23] VedantParanjape commented on #6033
Hello, No, we got the Engineering sample for a competition by Xilinx. What's your Slack or teams ID ? (I don't think we are on same server)

[2021-12-29 18:28] xdavidz commented on #6033
search davidzha@xlinx.com please

[2021-12-29 18:36] VedantParanjape commented on #6033
I have emailed you.

[2021-12-29 19:03] VedantParanjape commented on #6033
@xdavidz what's the use of the micro usb port on the card ?

[2021-12-29 22:18] xdavidz commented on #6033
@VedantParanjape I think officially I should support you guys here. The micro usb is used for programing the board by Vivado.
I don't know your cards status, but if you have the micro usb connected, then we can check more info on the card. The card is running a petalinux onto it.

[2021-12-30 03:49] VedantParanjape commented on #6033
Thanks David for the support. Can you list the commands, I'll run on my host pc to which the micro usb is connected.

[2022-01-03 15:59] stsoe commented on #6096
@pyhundan Yeah it is not exactly obvious to find the ioctl entry point called by xclSyncBO.  You will want to look at xocl_bo.c in particular xocl_sync_bo_ioctl()

[2022-01-03 16:16] stsoe commented on #6061
@Mellich Looks like our documentation is not quite accurate and that example links should be updated.  We no longer support pipes, the recommended approach is to use hls::stream for kernel-to-kernel streaming.  You will find several such examples under https://github.com/Xilinx/Vitis_Accel_Examples, e.g.  https://github.com/Xilinx/Vitis_Accel_Examples/blob/master/cpp_kernels/dataflow_stream/src/ad

[2022-01-03 17:11] vkomenda opened #6104 "DMA vaildation fails"
I have DMA vaildation test failure as follows.

[code]

`dmesg` output
[code]

[2022-01-03 17:15] vkomenda opened #6105 "Bandwidth kernel validation fails"
I have a failure of the "Bandwidth kernel" test as follows.

[code]

`dmesg` output
[code]

[2022-01-03 20:20] VedantParanjape commented on #6033
Hello any update?

[2022-01-03 20:26] xdavidz commented on #6033
@VedantParanjape please contact me via email davidzha@xlinx.com

[2022-01-04 14:33] vkomenda commented on #6104
The same DMA error blocks execution of [Vitis tutorial examples](https://github.com/vkomenda/Vitis-Tutorials/tree/2021.2/Hardware_Acceleration/Introduction). Which effectively makes XRT useless (on kernel 5.15). Can you maybe suggest how to debug this?

[2022-01-04 19:21] stsoe commented on #6053
Hi @abejgonzalez  Sorry for the delay in responding.  We checked the code internally and noticed that the xrt::ip::write/read_register has a sysfs call overhead per invocation.   This probably explains the difference as the code you pointed to for F1 and Vitis is otherwise identical in terms of reading and writing the bar.  We will work on fixing this in XRT:master branch.

[2022-01-05 09:20] pyhundan commented on #6096
Hi, @stsoe
     I looked at this before, but I saw the [BO_ENTER](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/pcie/driver/linux/xocl/userpf/xocl_bo.c#L812) in the code, and I looked at the definition and I actually used `printk` as a kernel function, but I didn't find any messages in `dmesg`, so I added some `printk` in this code, and even though I recompiled it, But I still ran

[2022-01-05 14:28] stsoe commented on #6096
@pyhundan I assume you are inserting the modified kernel modules, or that you are installing the .deb that has your changes?

[2022-01-05 23:04] #6053 closed

[2022-01-05 23:10] uday610 commented on #6061
We will update ug1393 to remove/deprecate OpenCL kernel development section.

[2022-01-06 11:02] Mellich commented on #6061
@stsoe Thank you for the clarification.

[2022-01-06 17:02] vkomenda commented on #6104
This issue arises in 2.13 with a patch #6092 for kernels 5.14+.

[2022-01-06 17:05] vkomenda commented on #6105
This issue arises in the current master. Same output on 5.10, 5.11, 5.15. The latter requires a patch #6092 for kernels 5.14+. It's possibly a regression because 2.12.427 works fine.

[2022-01-06 18:39] houlz0507 commented on #6105
Hi Vkomenda, I am not able to reproduce this failure on my test machine. Could you please do a cold reboot. Then re-run the test and send the entire dmesg?

Thanks,
Lizhi

[2022-01-07 09:51] cqianqiao opened #6119 "What is the new xbutil command for the previous xbutil clock?"

[2022-01-07 14:23] vkomenda commented on #6105
Hi Lizhi. Are you on Discord? Can you give me your handle?

[2022-01-07 16:51] houlz0507 commented on #6105
I am not on Discord. Could you e-mail the dmesg log to lizhih@xilinx.com?
It sounds this issue reproduces on you machine these steps?
    1. cold reboot
    2. xbutil validate -d 0000:42:00.1 --verbose -r "Bandwidth kernel"

[2022-01-11 12:11] simplelins opened #6131 "new a buffer larger or equal than 4G will cause XRT "unable to sync BO: Input/output error""
Hi, I had new a buffer by `cl::Buffer buffer0(mContext, CL_MEM_READ_WRITE, size=4G, data=void, &err))`, then try to write buffer with `mQueue.enqueueWriteBuffer(mBuf_tw, blocking_write, 0, size=2304MB, ptr, null, null)`, will cause error
[code]
system info
'5.4.0-86-generic #97~18.04.1-Ubuntu'
XRT build version: 2.11.634
Build hash: 5ad5998d67080f00bca5bf15b3838cf35e0a7b26
Build date: 2021-06-08 2

[2022-01-11 12:20] pyhundan commented on #6096
@stsoe Thanks for your reminder. I packaged my compiled XRT and reinstalled it to solve my doubts.

[2022-01-11 12:20] #6096 closed

[2022-01-11 17:04] #6027 closed

[2022-01-12 09:52] Blatts01 commented on #6033
Hi xdavidz,

@xdavidz
can I contact you to check my vck5000 via console? I can log in to the petalinux system on the card. But my system crash while loading the xocl.ko module.

Best Regards
Stefan

[2022-01-12 15:01] Blatts01 commented on #6033
Ok, blacklist help booting the system, but it crash if i try to load the xocl.ko module, while the vck5000 card is installed

[2022-01-12 17:16] boxerab opened #6139 "XRT hangs on clCreateProgramWithBinary in hw emulation mode"
My system:

OS: Ubuntu Hirsute 21.04
Vitis 2021.2
XRT built from source in Debug mode, using 2021.2 branch
Emulation target : zcu 102 base

I have generated the `emconfig.json` file, placed in binary directory, also set

`$ export  XCL_EMULATION_MODE=hw_emu`

When I run my application and it runs `clCreateProgramWithBinary`,
XRT hangs in the while loop below:

[code]

It is trying to create a UNIX

[2022-01-12 19:15] Blatts01 commented on #6033
i just send you a slack Invitation, lunzt_es_euch_rein ,the david hasselhoff guy :)

[2022-01-12 19:20] xdavidz commented on #6033
seems I cannot accept invitation from request outside the company. let's debug the issue here.
1) could you please balcklist xocl and xclmgmt when server start.
2) once your system is up, please ONLY load the xclmgmt driver by "modprobe xclmgmt".
3) meanwile, please keep all dmesg by dmesg -w or config it to at system log

Please let me know what exactly you have in the dmesg during modprobe xclmg

[2022-01-12 20:18] Blatts01 commented on #6033
Hi xdavidz,

here the modprobe console:

$ sudo modprobe xclmgmt
[sudo] Passwort für blattmann:
modprobe: ERROR: could not insert 'xclmgmt': Unknown symbol in module, or unknown parameter (see dmesg)
$ uname -r
5.8.0-50-generic

dmesg -w output

[   78.524338] xclmgmt: Unknown symbol fpga_mgr_create (err -2)
[   78.524488] xclmgmt: Unknown symbol fpga_mgr_unregister (err -2)
[   78.524600] xclmgmt

[2022-01-12 21:11] xdavidz commented on #6033
adjusted steps:
1) could you please balcklist xocl and xclmgmt when server start.
2) once your system is up, please ONLY load the xclmgmt driver by "modprobe fpga_mgr; modprobe xclmgmt".
3) meanwile, please keep all dmesg by dmesg -w or config it to at system log

[2022-01-12 22:15] uday610 commented on #6101
The help was provided in the support request thread!! If you still has issue please reply the support request thread in support.xilinx.com .... So I am closing this thread.

[2022-01-12 22:15] #6101 closed

[2022-01-13 01:39] houlz0507 commented on #6105
@vkomenda , are you still seeing this issue with above 2 steps? If yes, could you send me the dmesg by e-mail? Thanks.

[2022-01-13 02:41] uday610 commented on #6119
Hi @cqianqiao ,
There is no xbutil clock command for the new tool. We are discarding the dynamic clock frequency changes during the runtime. So creating a new XCLBIN with new clock frequency is a recommended approach so that the clock frequency is frozen in the XCLBIN itself.

Thanks

[2022-01-13 03:16] uday610 commented on #6131
Hi @simplelins ,
Buffer 4GB or larger is not supported through XRT. This is also written in the Vitis Documentation: https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Buffer-Creation-and-Data-Transfer . So please work with buffer less than 4Gb size.
Thanks

[2022-01-13 03:18] uday610 commented on #5974
closed as there was no reply!

[2022-01-13 03:18] #5974 closed

[2022-01-13 03:20] #5935 closed

[2022-01-13 07:14] oimasa5 opened #6143 "how to cross-compile XRT for edge"
I referred to https://github.com/Xilinx/XRT/issues/2841, but it seemed to be about self-building for the edge.
I would like to know how to cross-compile XRT for a ZCU102 board using Ubuntu on an x86 machine without Petalinux.
Is it possible to make for edge by adding the -driver option to build.sh in build directory?

Add the -driver option to build.sh, change CPU = `uname -m` to CPU = aarch64, an

[2022-01-13 07:26] simplelins commented on #6131
so， are there any component that support for Buffer 4GB or larger ?  and what's meaning for issue [2075](https://github.com/Xilinx/XRT/pull/2075), does it support for some linux kernels version?

[2022-01-13 10:13] keryell commented on #6131
Any ETA to have bigger buffers in XRT?

[2022-01-13 10:59] Blatts01 commented on #6033
i cant load fpga_mgr the module is not compiled for the kernel.
I used the vck5000 install.sh script from vitis-ai. Only the xclmgmt.ko and xocl.ko are compiled while xrt installation

[2022-01-13 12:09] vkomenda commented on #6105
Sure, I recompiled the latest master and had the same error. I emailed the log to you.

[2022-01-13 14:00] simplelins commented on #6131
sorry, what's meaning of ETA?

[2022-01-13 18:19] boxerab commented on #6139
More info: I built the `vadd` demo kernel for hw_emu target, and I get the hang on this binary.
I am attaching the binary here, in case it helps.

[vadd_hw_emu.zip](https://github.com/Xilinx/XRT/files/7865096/vadd_hw_emu.zip)

[2022-01-13 20:14] houlz0507 commented on #6105
@vkomenda, this might be shell related. And I noticed you are using "xilinx_u55n_gen3x4_xdma_base_1" which is old. Could you try "xilinx_u55n_gen3x4_xdma_base_2" shell?

[2022-01-13 23:30] uday610 commented on #6131
Hi @simplelins , the lines of code you are referring to simply creating the buffer, but creating the buffer is not the same as using the buffer. As I said officially we dont support more than 4GB buffer means we have not experimented or done any testing for buffer >= 4GB buffer. So as you see you have faced an issue.

We have a plan to support and to official flow testing using 4G buffer, but that

[2022-01-14 08:05] #6119 closed

[2022-01-14 09:09] keryell commented on #6131
Sorry for the obfuscation. :-)
https://en.wikipedia.org/wiki/Estimated_time_of_arrival

I mean: "when is it planned for general availability?".

[2022-01-15 05:12] abejgonzalez commented on #6053
As a followup, I can confirm that the changes did result in a large improvement:

Vitis/XRT U250 MMIO Latencies:
Write: ~2.4usec on average
Read: ~3.5usec on average

For now, AWS F1 is still faster (maybe there are some optimizations that can be done?) but this is much improved and for now is sufficient! Thanks!

[2022-01-18 06:02] tommy-ietomi opened #6152 "The memory bank index for edge MPSoC/ embedded Ubuntu / XRT"
Now I'm currently experimenting acceleration applications on the newly released Embedded [Ubuntu](https://ubuntu.com/download/xilinx) [/XRT/xcl ](https://xilinx-wiki.atlassian.net/wiki/spaces/A/pages/2037317633/Getting+Started+with+Certified+Ubuntu+20.04+LTS+for+Xilinx+Devices#Pre-Installed-Packages) and MPSoC(Kria SOM).

With referring [here ](https://xilinx.github.io/XRT/master/html/opencl_exten

[2022-01-18 15:45] CheungBH opened #6153 "Error when running build.sh"
(base) hkuit155@hkuit155-System-Product-Name:~/Desktop/XRT$ cd build/
(base) hkuit155@hkuit155-System-Product-Name:~/Desktop/XRT/build$ ./build.sh
****************************************************************
* XILINX_VITIS is undefined or not accessible                  *
* MicroBlaze firmware will not be built                        *
**********************************************************

[2022-01-18 15:47] CheungBH commented on #6153
Actually, I tried to modify "pip3" to "pip". It works

Collecting pybind11
  Downloading pybind11-2.9.0-py2.py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 16.3 MB/s
Installing collected packages: pybind11

However, another problem occurs when running build.sh

****************************************************************
* XILINX_VITIS is undefined or not accessible

[2022-01-18 18:52] stsoe commented on #6152
Hi @tommy-ietomi.
Q1) yes, all methods of buffer allocation should be available.
Q2) the error says that the connectivity of 'k1' compute unit associated with 'convolutor_dna' is not valid with the buffer being used.  You could check the xclbin in more detail and check the actual connectivity of 'convolutor_dna:k1'.  Start finding the IP_LAYOUT index of the compute unit, then look a CONNECTIVITY s

[2022-01-19 02:16] tommy-ietomi commented on #6152
Hi @stsoe
Thank you very much for you reply.
  //Then, I'm very sorry, if possible, would you please edit and remove my IP name "conv**_*na" from your post?
  //This was my mistake, I do apologize for any inconvenience caused.

I'm clear Q1) & Q3).

And about Q3), I dumped CONNECTIVITY section with
`xclbinutil --dump-section CONNECTIVITY:HTML:connectivity.json --input myip.xclbin`
This is the resu

[2022-01-19 02:44] CheungBH commented on #6153
Problem solved when I switch the gcc version from 5.4 to 8

[2022-01-19 02:44] #6153 closed

[2022-01-19 19:01] stsoe commented on #6152
I understand that you cannot upload your IP meta data directly.  Can you maybe obfuscate the names you want to keep hidden?

[2022-01-20 01:04] tommy-ietomi commented on #6152
@stsoe

Thank you very much for your concern.
And exactly, it's difficult to submit all current my .xclbin metadata.
I will experiment with a small design and then report here.

Anyway, what I want to know is how to get the "memory bank index" for specifying a Buffer location.
So, a little more detail on your answer below.
And now I believe "mem_data_index" of "CONNECTIVITY section" in .xclbin is

[2022-01-20 01:29] stsoe commented on #6152
Ok.  Let me try explain what you should do.
Dump these sections of the xclbin
[code]

1. Locate the `zzz:k1` IP in the ip_layout section (`i.json)`.  Record its index counting from 0 in the array, say this is `k1_idx`.
2. In the connectivity section (`c.json`) find the entry where `m_ip_layout_index` is same as `k1_idx` and `arg_index` is same as the argument you are setting (1).  Record the corre

[2022-01-20 13:07] boxerab commented on #6139
@stsoe @venkatp-xilinx @akasat have you guys been able to reproduce this issue ?

[2022-01-20 18:59] akasat commented on #6139
HI @boxerab  - I see that you have compiled XRT of your own. Can you please confirm if you are able to use pre-built XRT that comes with the Petalinux image for zcu102 base platform. Are you seeing any issues there? Have you made any modifications to the hw emulation driver, and if so can you please share those details as well.

If there is any error message that you see, that will be helpful to k

[2022-01-20 19:32] boxerab commented on #6139
@akasat thanks - can you point to where I can download this version of XRT for Ubuntu Hirsute ?

[2022-01-21 06:55] akasat commented on #6139
Couple of clarifications:
1. I am assuming you are using Ubuntu as your development machine, and not running on the embedded PS.
2. If targeting zcu102 or other embedded platforms, the embedded linux needs to be booted on QEMU. Please see github examples here for embedded platforms:  https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/hello_world. When you run Makefile, you will need to tel

[2022-01-21 17:54] boxerab commented on #6139
@akasat thanks, I have now set up petalinux under qemu and it boots.
Unfortunately, the disk space is only 300 MB for the zcu 102 image - it is possible to "resize" the image
so that there is more space available ?

[2022-01-21 19:31] boxerab commented on #6139
@akasat thanks. Are you saying that hw emulation will not work on an x86 host  ?

[2022-01-24 22:57] boxerab commented on #6139
So, I have switched to an 18.04 Ubuntu installation, where I installed the latest XRT deb package from the Xilinx site.
I still get the exact same call stack when the program hangs:

[code]

[2022-01-25 15:12] boxerab commented on #6139
@stsoe @venkatp-xilinx @akasat this does look like a bug to me. It would be useful to know if I should expect hw emulation to work on x86 when targeting the zcu 102 - didn't see this in the documentation. Thanks!

[2022-01-25 17:17] randyh62 commented on #6139
Hardware emulation runs on the X86 processor in the QEMU environment, as described here:
https://docs.xilinx.com/r/en-US/ug1393-vitis-application-acceleration/Running-Emulation

This process is supported for the zcu102 platform, as demonstrated in this tutorial:
https://github.com/Xilinx/Vitis-Tutorials/tree/2021.2/Getting_Started/Vitis

Can you use this to test your system and post your results?

[2022-01-25 19:34] boxerab commented on #6139
@randyh62 thanks. One question - on the actual zynq hardware, the boot.bin specifies a single xclbin file that can be loaded on the PL, and no other. Is this also true for hardware emulation on QEMU, or can I load any xclbin file ?

[2022-01-25 20:23] boxerab commented on #6139
Alright, I can run the qemu petalinux on my x86 machine using the following steps:

1. `$ mkdir ~/vitis/installs/petalinux/2021.2`
1. Download [petalinux](https://www.xilinx.com/support/download/index.html/content/xilinx/en/downloadNav/embedded-design-tools.html)
1. run petalinux installer :
`$ ./petalinux-v2021.2-final-installer.run -d ~/vitis/installs/petalinux/2021.2/`
1. On Ubuntu, reconfigure

[2022-01-25 20:47] akasat commented on #6139
You are down on wrong path. Please see my earlier reply and the hello_world example link. If you are running PS + PL, then you need to use Vitis tools, and not petalinux. You can use Petalinux tool just to build a customized image if needed, but it is recommended to start with a pre-built image (link shared earlier).

[2022-01-26 01:01] lforg37 opened #6180 "Potential infinite loop in unix_socket::sk_read"
It seems that `unix_socket::sk_read` in runtime_src/core/pcie/emulation/common_em/unix_socket.cxx does not take into account the possibility of having less data on the socket than required.

The `(r = read(fd, buf + rlen, count - rlen)) < 0` condition will never be reached if the socket is closed (0 would be assigned to r) producing an infinite loop.

This behaviour has been observed on standard c

[2022-01-26 09:49] jzymessi opened #6183 "The problem of reading the power of VCK5000"
When I read the power data of the VCK5000 using the following instructions in the official document (ug1531-vck5000_WtMkX.pdf),
![image](https://user-images.githubusercontent.com/51226649/151140727-eeccf415-8778-4aa7-8f5e-11ffdfe58212.png)
the displayed power consumption data is N/A 。

About firmware, I use "xilinx_vck5000_gen3x16_xdma_base_1" version:

[2022-01-26 13:45] boxerab commented on #6139
Thanks @akasat and everyone else on this thread - I was able to get pre-built petalinux image working with my kernel.

Is it possible to hw emu to load a second kernel after boot ? This would really help speed up my dev cycle, as I could create a new kernel and then just scp the binary to a running petalinux instance.

[2022-01-28 01:48] doonny opened #6193 "Incorrect behavior of kernel events in 2021.1 on edge"
I have upgrading from 2020.1 to 2021.1, but I have found inconsistent behavior of the xrt on the zcu102 edge device.

I am testing with parallel kernels as a producer and a consumer mode to move data from DDR and backto DDR as loopback test.
But the kernel event needs to wait much longer time on one kernel than  the other:

![图片](https://user-images.githubusercontent.com/8196382/151471951-ba664be4

[2022-01-29 01:29] boxerab commented on #6139
thanks, guys, my issue has been resolved. closing.

[2022-01-29 01:29] #6139 closed

[2022-01-29 07:03] doonny opened #6202 "Error: cannot get kernel start time ! with v2021.2"
I am upgrading my project from 2020.1 to 2021.2, and the profiling function does not seems stable in the new version.
I have a group of kernels that will be launched  for multiple iterations during execution, and in some iteration , the following error shows up:
``
[XRT] ERROR: Profiling info not available, make sure profiling is enabled
Error: cannot get kernel start time ![XRT] ERROR: Profiling

[2022-02-07 20:01] keryell opened #6239 "Incorrect object owning in OpenCL stack between kernel and context"
It looks like when a `cl_context` is released before a `cl_kernel` depending on that context is released, at `cl_kernel` release time
an exception is thrown with `No context manager for device` message, which seems to happen in:
[code]
Problem encountered by @lforg37.
@stsoe I have looked quickly on how dependencies are handled there but I am lost.

[2022-02-07 20:45] stsoe commented on #6239
@keryell You are down the wrong path.   The code you are looking at has nothing to do with cl_context or cl_kernel or how these object ownerships are managed.

The code is managing contexts on compute units, e.g. managing calls to xclOpenContext and xclCloseContext.    Before a kernel can use a kernel compute unit, it (the compute unit) must be acquired by the calling process.  The context on a co

[2022-02-09 19:29] lforg37 commented on #6239
Hello,

Here is the call stack from the debugger:
[code]
The program fails at each run, but the error is not always the same:

+ Under debugging it seems to be consistently this `std::system_error`,
+ without the debugger, the error is mostly the `std::runtime_error` shown above,
+ but sometimes the termination is even due to a segfault.

Each time, according to the trace, the issue comes in the c

[2022-02-09 19:38] stsoe commented on #6239
@lforg37 Can we get a CR please, with a STR (steps-to-reproduce)?  Thanks!

[2022-02-09 22:02] lforg37 commented on #6239
That is CR-1121712. It seems that the bug disappear when no custom xrt.ini is provided, so for the record, here is the problematic xrt.ini:

[code]

[2022-02-10 08:33] jzymessi opened #6257 "XRT build error"
When I run build.sh this script, the following problems occur
`XRT/XRT-2020.2/build$ ./build.sh
cmake -DRDI_CCACHE=0 -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_TOOLCHAIN_FILE= ../../src
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- wo

[2022-02-11 03:33] stsoe commented on #6239
A CR has been filed against profiling.  XRT's object ownership appears correct.

[2022-02-11 03:33] #6239 closed

[2022-02-11 03:35] stsoe commented on #6257
@jzymessi Did you run xrtdeps.sh before attempting to build XRT?

[2022-02-11 03:38] stsoe commented on #6193
@jvillarre Can you help comment on this?

[2022-02-11 03:41] stsoe commented on #6180
Hi @akasat Please help assign this issue properly.  Not sure why you removed the assignment without assigning someone else?

[2022-02-11 05:04] xdavidz commented on #6033
I got update from @VedantParanjape he successfully installed vck5000 on R740.
If anyone still have issues please try to use dell R740 as the host server.

close this issue for now.

[2022-02-11 05:04] #6033 closed

[2022-02-14 14:11] ghost opened #6271 "vmalloc called when in atomic"
Bug reported by _slab/slub_ memory checks:

In function`zocl_xclbin_read_axlf`, a call to `zocl_read_sect ` is protected by the `spinlock zdev->attr_rwlock` while this  function calls the `vmalloc` primitive,  which one may block. This could lead to dead lock.

The call to `zocl_xclbin_read_axlf` is already synchronized by a _mutex_, is this _spinlock_ necessary ?

[2022-02-14 22:26] jvillarre commented on #6202
The error message "Profiling info is not available, make sure profiling is enabled" is generated from the OpenCL function clGetEventProfilingInfo and requires that the associated command queue of the event was created with the CL_QUEUE_PROFILING_ENABLE property set.  As a shortcut, the "profile=true" option in the xrt.ini file enables this property on all OpenCL command queues.  In 2020.1, the "pr

[2022-02-15 05:36] saifuddin-xilinx commented on #6271
I will take a look and come back. Thanks.

[2022-02-16 00:13] keryell opened #6278 "XRT does not compile with Clang"
Compiling with
[code]
or some other versions of Clang/LLVM shows compilation failures like
[code]

or
[code]

[2022-02-16 10:24] mgehre-amd opened #6282 "Contributing a docker image to build XRT?"
I wanted to build XRT locally without installing the required dependencies into my system. Thus I created a small Dockerfile
[code]
This is then run via
[code]
in the top level folder. The resulting build is in `build/Debug` and  `build/Release`  on the host.

Is there interest in adding this to the repository and allowing others to build the same way?

[2022-02-16 19:44] keryell commented on #6180
I created a work-around for this in https://github.com/Xilinx/XRT/pull/6269

[2022-02-18 08:25] mgehre-amd opened #6295 "XRT headers depend on boost, but xrt_<version>-amd64-xrt.deb does not require libboost-dev"
I installed the xrt deb package `xrt_202210.2.13.0_18.04-amd64-xrt.deb`  on Ubuntu 18.04.
Building a host application with `g++ main.cpp -o main.o -I/opt/xilinx/xrt/include -c`
results in
[code]
This can be fixed by `apt install libboost-dev`, or more specifically `apt install libboost1.65-dev`.

Can the `xrt_<version>-amd64-xrt.deb` please depend on `libboost1.65-dev` so users automatically have

[2022-02-18 19:01] keryell commented on #6180
This is tracked internally with https://jira.xilinx.com/browse/CR-1120194 and there is a non-SYCL pure XRT & HLS reproducer example in https://jira.xilinx.com/browse/XRT-937

[2022-02-18 20:48] jentenma opened #6300 "xocl and xclmgmt driver build using kmods-via-containers fails to start service"
Rhel 8 build using podman and kmods-via-containers
Latest release of XRT 2.13.0

 - build xrt normally
 - the tarball is then used by the kmods-via-containers to build a containerized version of the drivers. The drivers are installed by starting a service that interacts with the container. When service starts it compares kernel versions and driver versions to determine if a rebuild is needed.

The

[2022-02-22 17:46] keryell commented on #5943
What is the status of this?
I am just trying the latest `master` branch and it looks like it compiles on Ubuntu 21.10 Linux 5.13.0-30.
I have not tried whether it works with our U200 because the machine is booked by some debugging work.

[2022-02-22 17:50] stsoe commented on #5943
I believe this is fixed.   Sorry don't remember PR number, but I think there were several.

[2022-02-22 17:50] #5943 closed

[2022-02-22 18:09] keryell commented on #5943
Great!
Thanks.

[2022-02-23 03:09] pyhundan opened #6314 "The question about reading the XRT source codes"
I want to understand how data is transferred from the host memory to the memory on the FPGA.

And I see this code [here](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/pcie/driver/linux/xocl/xocl_drv.h#L802) .

In this code, I found that `DMA_OPS(xdev)->migrate_bo(DMA_DEV(xdev),sgt, to_dev, paddr, chan, len) : 0) `

Maybe migrate_bo migrates bo, and then I go on to find the `migrat

[2022-02-23 09:04] jzymessi commented on #6257
@stsoe Thanks，it has been solved successfully according to your method

[2022-02-23 09:12] #6257 closed

[2022-02-28 20:21] kapoor7997 commented on #2747
Hi I am trying to get this working. I want to  build the hardware but I dont see anything mentioned about hardware design in the Section IX of ug1393. The link you shared doesnt work so I downloaded ug1393 from here. https://www.xilinx.com/support/documentation/sw_manuals/xilinx2020_2/ug1393-vitis-application-acceleration.pdf.

Please guide.
I just want to get the vitis vision library working and

[2022-03-04 10:44] j-stephan opened #6364 "`[xclbinutil]:ps-kernel` test case fails"
Using the standard `build.sh` script to compile XRT the `[xclbinutil]:ps-kernel` fails during the `Debug` build:

[code]

I'm working on Ubuntu 21.10, kernel 5.13 and compiled everything with GCC 11.2.

[2022-03-04 11:01] j-stephan commented on #6364
The offending PR is #6297. Reverting to the commit immediately before (`05e9421353acc9d3791e06b0ac7e8fda150b3cd8`) works.

[2022-03-04 15:23] jentenma commented on #6300
I ended up dealing with it in the xrt-lib.sh script in this line.  I'm going to go ahead and close it. For some context you would have to refer to github.com/kmods-via-containers/kvc-simple-kmod example.
        x=$(kvc_c_run $IMAGE modinfo -F version "/lib/modules/${KVC_KVER}/${module}.ko" | \
                    sed 's/,//' | tr -d '\r')

[2022-03-04 15:23] #6300 closed

[2022-03-07 15:30] stsoe commented on #6295
We have move to C++17 where std::any is used instead, exactly to avoid the boost package dependency. Please use -std=c++17.  https://github.com/Xilinx/XRT/pull/6156

[2022-03-07 15:30] #6295 closed

[2022-03-08 13:50] wilderfield commented on #6282
Hi @mgehre-amd,

I know that internally @NaAl-Xlnx leverages Docker for building XRT.

I think your suggestion is generally good for building XRT without disturbing a system’s dependencies. Is that your intent? Or, do you also intend to run applications from within this docker?

I think your Dockerfile could be improved with a build argument to support CentOS / Ubuntu 18 / Ubuntu 20 / Ubuntu X.

M

[2022-03-08 13:58] mgehre-amd commented on #6282
Hi,
yes, this docker image is only meant for building. It's basically an extended version of `build.sh` which also takes care of installing dependencies in a way that doesn't pollute the users system.
It's true that I didn't use the kernel modules with my XRT build. I only tried sw_emu and hw_emu (via v++).

[2022-03-08 17:36] HFTrader commented on #6104
I have also experienced this on Alveo u50.
Just recompiled master, xrt 2.13.0.
Running kernel 5.13.0 on Ubuntu 20.04.03 LTS.

[code]

dmesg shows

[code]

[2022-03-08 18:02] vkomenda commented on #6104
Check the card is seated correctly in the PCIe slot. I had to file the screw hole in the bracket for the card to stop being lifted by the retaining screw.

On Mar 8 2022, at 5:36 pm, Henrique Bucher ***@***.***> wrote:

[2022-03-08 18:03] houlz0507 commented on #6104
@HFTrader , we are not seeing this with our daily tests.  Is this issue reproduce-able on your machine? If yes, could you post the exact steps to reproduce it after a fresh cold reboot?  And please also provide the entire dmesg when the error happens.

[2022-03-09 02:53] bryanloz-xilinx commented on #6282
@mgehre-amd your idea inspired me today. Thanks.

Would you mind reviewing: #6380

[2022-03-09 04:02] HFTrader commented on #6104
Yes, it is reproducible.
So everything was working fine as I kept kernel 5.8.0 on Ubuntu 20.04.03 LTS.  I rolled back the kernel due to the dkms error.
`xbutil validate` passes all tests with kernel 5.8, dma included.
When I `apt upgrade` to kernel 5.13.0  is when things go bad.
To compile XRT:
[code]

[2022-03-09 04:38] HFTrader commented on #6104
Yes, I can reproduce. A little bit of history here: since Ubuntu upgraded to 20.04.03 LTS, the kernel went to 5.13.0 and DKMS broke on XRT 2.8.   So I rolled back the kernel to 5.8 and I have been living like this for the past 6 months.  All the validation tests passed as configured.

Now I upgraded the kernel to 5.13.0 because there were many packages being held back, some security ones and I had

[2022-03-09 07:35] doonny opened #6382 "Xrt can not correctly recognize the clock freq. in v2021.2"
I am using vitis version 2021.2 with the zcu102_base_dfx platform.   In the generated summary file, the clock frequency was not correctly recognized from the hardware, for example, the default clock is 150Mhz(id=0) in the platform, but when I set the clock to 300Hhz(id =1), in the summary file, the clock was still 150Mhz:
![image](https://user-images.githubusercontent.com/8196382/157393909-1c61660

[2022-03-09 07:42] doonny commented on #6202
@jvillarre Thx for the reply.  It might be good to add these information in the user guide in a future version.

[2022-03-09 12:57] HFTrader opened #6383 "Tests script board.sh out of date with xbutil"
XRT version: 1.23.0  e98799314cbb15e3b174ab0f8b7ba66587d0412e
Alveo u50 xilinx_u50_gen3x16_xdma_201920_3  F465B0A3-AE8C-64F6-19BC-150384ACE69B
[xbutil_query.txt](https://github.com/Xilinx/XRT/files/8214818/xbutil_query.txt)
[xbmgmt_scan.txt](https://github.com/Xilinx/XRT/files/8214819/xbmgmt_scan.txt)
[dmesg.txt](https://github.com/Xilinx/XRT/files/8214820/dmesg.txt)

I have compiled XRT/master an

[2022-03-09 16:23] HFTrader commented on #6104
Ok so it is passing now. I changed a bunch of parameters in the BIOS and rebooted. Not sure which of them might have made an impact. I believe IOMMU or ACPI SRAT?

[2022-03-10 05:19] houlz0507 commented on #6104
@HFTrader Glad to know it work now. And I noticed that your are using AMD server. Yes, we hit DMA issue with AMD server as well. We are suspecting linux kernel issue, but not sure what it is.  Turning IOMMU off will resolve it. By default, IOMMU is on with AMD server. you can also turn it off by kernel argument 'amd_iommu=off'

[2022-03-10 13:18] HFTrader commented on #6278
I submitted a pull request that allows XRT to be compiled with clang.

https://github.com/Xilinx/XRT/pull/6391

[2022-03-11 03:25] keryell commented on #6104
@houlz0507 now that AMD bought Xilinx, I guess it increases the priority to have this working with AMD IOMMU. ;-)

[2022-03-11 03:47] houlz0507 commented on #6104
@keryell I hope so. :) Reported this to management.

[2022-03-11 06:15] HFTrader commented on #6104
@keryell @houlz0507 It is not that simple apparently. Today I had serious stability issues with having the u50 and a SF x2522 on the same box. I had to shuffle them through several slots until I found an arrangement that worked. Even with IOMMU turned off sometimes the validation failed with DMA error.

[2022-03-11 08:24] keryell commented on #6104
Have you tried to update the BIOS? There are some bugs in the BIOS too. and finding the right version might help.. :-(

[2022-03-11 12:23] HFTrader commented on #6104
Yes I did. I'm running with Gigabyte's TRX40 AORUS MASTER rev 1.1. I upgraded to version "FC" but things got really worse so I had to downgrade to "FB". It would initialize up to opcode '15' (pre-Northbridge initialization) and then fail. It would do this a few times then give up and reset the BIOS.
I found that Solarflare also uses DMA for card statistics so that might play a role here. Removing

[2022-03-11 15:14] houlz0507 commented on #6104
@HFTrader , Could you attach a full dmesg when error happens with IOMMU off?

[2022-03-11 19:33] bryanloz-xilinx commented on #6282
@mgehre-amd @uday610 I think we can close this issue per: https://github.com/Xilinx/XRT/blob/master/src/runtime_src/tools/scripts/build_xrt_with_docker.sh

[2022-03-11 19:35] uday610 commented on #6282
Thanks

[2022-03-11 19:35] #6282 closed

[2022-03-12 00:24] HFTrader commented on #6104
I was rebooting so often that the relevant log rolled over. I dont have it anymore.
I will keep an eye. But if you tell me it's very important I can reshuffle cards again so it breaks but I don't want to go there as the kernel lockup that ensued almost ditched my hard drive.

[2022-03-12 00:39] houlz0507 commented on #6104
@HFTrader, Thanks for your reply. Please keep an eye on it. We will also try some AMD servers internally.
Another thing is that your server seems PCIe Gen5? you may try to lower your slot speed to Gen3 and see if that helps.

[2022-03-16 00:21] bryanloz-xilinx opened #6424 "Feature Request for build_xrt_with_docker.sh"
Feature Request for [build_xrt_with_docker.sh](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/tools/scripts/build_xrt_with_docker.sh)

- Add Support for directing build products to a user specified output directory
- Add Support for CentOS

[code]

[2022-03-16 23:07] stsoe commented on #6424
I believe @bryanloz-xilinx added a script for this

[2022-03-16 23:08] stsoe commented on #6383
board.sh is not supported or maintained.

[2022-03-17 00:33] bryanloz-xilinx commented on #6424
@stsoe I wanted to leave this open to track these incomplete features.
At the moment the script only supports Ubuntu 18.04 and 20.04

[2022-03-17 00:42] stsoe commented on #6424
Open it and assign it to yourself then. It didn't have an owner.

[2022-03-17 03:09] HFTrader commented on #6383
Soren, understood.
But this script is explicitly mentioned in the documentation - in master!

https://xilinx.github.io/XRT/master/html/test.html

[2022-03-17 15:05] stsoe commented on #6383
@HFTrader Thanks for pointing that out, we will have to update the documentation, + @uday610
I still use the script, just not for harvesting, which has been broken ever since internal test repos where re-organized.
I have not had the time or energy to update the script.

[2022-03-17 18:26] Ralender opened #6438 "make the type-erase scalar argument assignment public"
I am trying to integrate XRT into a lower-level framework. and the following APIs are a lot more useful in my situation that the ones that are exposed.
[code]

[2022-03-17 18:29] #6383 closed

[2022-03-18 12:54] alexisfrjp opened #6444 "RHEL 8 (dkms 4.18): error: ‘struct drm_device’ has no member named ‘pdev’;"
[code]

Kernel version: **4.18.0-365.el8.x86_64**

[2022-03-18 14:06] alexisfrjp commented on #6444
Here is the patch:

[code]

Tested, working.

[2022-03-20 18:02] vkomenda opened #6454 "XRT build fails on a system with CUDA"
Nvidia CUDA's package `nvidia-libopencl1` (version 470.103) doesn't provide a pkg-config file, unlike `ocl-icd-opencl-dev`. The two packages conflict with each other. The script `build/build.sh` fails to find the Nvidia OpenCL library.

[code]

These are the files in `nvidia-libopencl1`:
[code]

[2022-03-21 03:36] uday610 commented on #6278
closed

[2022-03-21 03:36] #6278 closed

[2022-03-21 17:46] maxzhen commented on #6314
This is what I can see in the source when I search for "migrate_bo":

C symbol: migrate_bo

  File                         Function        Line
0 linux/xocl/subdev/qdma.c     <global>        827 .migrate_bo = qdma_migrate_bo,
1 linux/xocl/subdev/qdma4.c    <global>        871 .migrate_bo = qdma_migrate_bo,
2 linux/xocl/subdev/xdma.c     <global>        400 .migrate_bo = xdma_migrate_bo,
3 driver/l

[2022-03-23 09:30] mclayton1000 opened #6475 "XRT 2021.2 and VCU1525"
Hello everyone,

does the XRT 2021.2 still support the Xilinx board VCU1525?

Thank you, best regards.

[2022-03-24 17:02] #6438 closed

[2022-03-30 01:57] crizy opened #6514 "Where is the source code of the xrt_201920.2.3.1301 verision"

[2022-03-30 10:56] jorgekoronis opened #6518 "sudo rmmod xocl outputs rmmod: ERROR: Module xocl is not currently loaded"
Hello

I removed the XRT version I had and compiled the current master branch of XRT to try to get rid of the problems I found to run `sudo rmmod xocl` Then I installed the corresponding rpm file. XRT got installed it with some errors though:
`
rmmod: ERROR: Module xocl is not currently loaded
rmmod: ERROR: Module xclmgmt is not currently loaded
......
modprobe: ERROR: could not insert 'xclmgmt':

[2022-03-30 11:47] boxerab commented on #6069
@Ziggy644  unlike programming for GPU, XRT needs to know which kernel argument will be assigned to the cl buffer before it is mapped. So, you need to make sure that `clSetKernelArg` is set to the buffer **before** the call to map.

https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clSetKernelArg.html

[2022-03-30 16:31] uday610 commented on #6514
Hi can you let us know why you need the source code, this is from 2 years old release
Thanks

[2022-03-30 16:37] uday610 commented on #6518
Hi, the error "Module xocl is not currently loaded" is fine, that we see of xocl is not loaded.
However, there is error "ERROR: could not insert 'xclmgmt': Required key not available"  could be problem because maybe secure boot is enabled, so you cannot insert driver module. Maybe you need to make sure that is not the case, and check how to fix this. Thanks

[2022-03-30 16:39] uday610 commented on #6364
After reviewing this internally we believe this issue is fixed. So are closing this. Thank you

[2022-03-30 16:39] #6364 closed

[2022-03-30 16:41] uday610 commented on #6444
Thanks, you can probably send a PR that we can review for patching. Thanks

[2022-04-01 16:20] mclayton1000 commented on #6475
Thank you!

[2022-04-01 16:20] #6475 closed

[2022-04-06 06:08] kiwichris opened #6574 "GCC built int define __GNUC__ used to control Linux specific code"
GCC does not means Linux. For example in `src/runtime_src/core/common/config_reader.cpp`:
[code]
This break the portability for the code. Why not key the defined on something specific to Linux?

[2022-04-07 16:52] #6514 closed

[2022-04-07 17:00] maxzhen commented on #6314
Closing it since there is no response from submitter for more than a month. I'm assuming that the answer is suffice for now.

[2022-04-07 17:00] #6314 closed

[2022-04-07 17:03] stsoe commented on #6454
@vkomenda What is the recommended fix?  Is it to use find_package ?  I can't really recall why we are using pkg_check_modules?

[2022-04-08 00:38] dj-park opened #6585 "clCreateProgramWithBinary and DFX platform"
I am using ZCU102 DFX platform, and a single ZCU102 board. I used `pr_subdivide` command to create multiple reconfigurable pblocks. Then, I generated multiple partial bit files and xclbin files. Let's say I have A.xclbin, B.xclbin, and C.xclbin.

What I am doing is `cl::program` the device with A.xclbin and B.xclbin respectively, and create kernel with `cl::Kernel krnl_test(program, "kernel_test",

[2022-04-08 08:31] #6183 closed

[2022-04-08 17:47] Ralender opened #6588 "XRT stay stuck will destroying and xrt::bo"
The provided test case is mostly automatically generated from an issue in our runtime build on top of XRT.

steps to reproduce:
[code]

[reprod.zip](https://github.com/Xilinx/XRT/files/8454206/reprod.zip)

the test is a simple vector add. here is the host side also contained in reprod.zip:
[code]

[2022-04-08 18:16] Ralender opened #6589 "simple changes to operation order causes XRT to return incorrect result"
The provided test case is mostly automatically generated from an issue found in our runtime build on top of XRT.

depending on when the xrt::bo is created XRT will either work as expected or return incorrect data.

steps to reproduce:
[code]
I think this is a bug.

here is the host.cpp and the device.xclbin
[reprod.zip](https://github.com/Xilinx/XRT/files/8454356/reprod.zip)

the program is simply

[2022-04-11 19:54] wonkyoc opened #6590 "DMA transfer latency"
I am measuring DMA transfer time from host to device or vice versa for a project and I noticed a small amount of performance gap after moving to another version. I was using `2021.2` but due to MMIO latency referred in #6053 I upgraded xrt to `2022.1`.

I tested the following operations:
[code]
Here is the measured numbers:
[code]
This latency difference also happens to the actual kernel running a

[2022-04-12 21:10] keryell commented on #6364
Yes, this is solved for me too. Thanks.

[2022-04-12 21:48] keryell commented on #6588
I have just tried on my Ubuntu 21.10 laptop:
[code]
so I guess there is is a bug.

[2022-04-12 22:27] keryell commented on #6589
I have tried:
[code]

[2022-04-12 22:28] keryell commented on #6589
Is it a problem you have also on real hardware execution or only on hardware emulation?

[2022-04-13 02:56] wonkyoc opened #6601 "xrt::run:wait long latency"
I am analyzing [one](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/host_xrt/mult_compute_units_xrt) of the basic examples and I noticed a long latency for `xrt::run:wait`. I would like to know why this function has such as huge latency despite a short running time of an actual kernel.

Here is the number for the example by U25:
[code]
The number is described in the below figure.
![ima

[2022-04-13 20:19] stsoe commented on #6589
@Ralender .  Thanks.  This is emulation and I am not quite sure what assumptions emulation makes in regards to xclbin loaded or not prior to buffer allocation.  I suspect the problem is the loading of the xclbin.  If you move FAIL immediately after loading of xclbin, does it still fail?

Still of course, if xclbin is required to be loaded, then your FAIL allocation should truly have failed with ba

[2022-04-13 20:45] stsoe commented on #6585
@dj-park Have you released the previous program (B.xclbin) before programming the device with C.xclbin.  It sounds like there is some OpenCL resource that is not properly released.

[2022-04-13 21:02] houlz0507 commented on #6590
Hi @wonkyoc, Could you try "xbutil --legacy dmatest -b <size in KB>" on your machine for both 2021.2 and 2022.1? This will be helpful to narrow down the issue.

[2022-04-13 21:12] Ralender commented on #6589
yes, I updated the cpp and zip.

the banks should match the banks expected by the xclbin. everything is at 0.

I am not sure what to annotate it as. I am compiling for hw to know if it is emulation related.

[2022-04-13 23:11] Ralender commented on #6589
both creating the bo before and after loading the xclbin work on hw.
so it is an emulation issue

[2022-04-13 23:40] stsoe commented on #6152
Closing this issue.  I hope the questions were answered.

[2022-04-13 23:40] #6152 closed

[2022-04-13 23:41] stsoe commented on #5856
Closing, no additional feedback.

[2022-04-13 23:41] #5856 closed

[2022-04-14 01:59] kiwichris opened #6610 "EmbeddedSw aienginev2 include of xaiengine.h is not xaiengine/xaiengine.h"
The embeddedsw repo shows the install path for `aienginev2` is `$(INCLUDEDIR)/xaiengine`:

https://github.com/Xilinx/embeddedsw/blob/master/XilinxProcessorIPLib/drivers/aienginev2/src/Makefile.Linux#L28

The XRT code references the headers directly and not via the include path's install location:
[code]
Should the include statements be `#include <xaiengine/xaiengine.h>`?

I am not working with XRT

[2022-04-14 03:14] larry9523 commented on #6610
While there a quite a few AIE driver header files are under
/usr/include/xaiengine
xaiengine.h is actually under
/usr/include/

https://github.com/Xilinx/embeddedsw/blob/master/XilinxProcessorIPLib/drivers/aienginev2/src/Makefile.Linux#L30

[2022-04-14 06:36] kiwichris commented on #6610
Ah yes it is. I will place that header at the top level in my build.

Thanks for the quick response and sorry for the noise.

[2022-04-14 06:36] #6610 closed

[2022-04-14 15:57] dj-park commented on #6585
@stsoe  Thanks for the reply. In fact, what I am trying to achieve is programming the device with C.xclbin while the B.xclbin's program is running. C.xclbin is independent from B.xclbin's program, so  theoretically, I should be able to program the device.

[2022-04-14 17:31] stsoe commented on #6585
@dj-park That is not supported.   You can only have one xclbin programmed / active at any given time.

[2022-04-15 04:02] wonkyoc commented on #6590
This is confirmed due to the misconfiguration. Both version shows the similar number. By the way, you probably know that the legacy function is not supported in 2022.1 so I just used `xbutil validate`
[code]

[2022-04-15 04:02] #6590 closed

[2022-04-15 14:18] houlz0507 commented on #6590
Thank for trying this.

[2022-04-16 10:07] moazin opened #6613 "Unexpected behavior of CL_MEM_EXTR_PTR_XILINX and XCL_MEM_EXT_P2P_BUFFER"
**Background**
I was trying to measure the highest P2P bandwidth that can be achieved between two Alveo U200 boards in my setup when I accidentally discovered a problem. I'm running the example [p2p_fpga2fpga](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/host/p2p_fpga2fpga) from the Vitis_Accel_Examples repository. I've done a few modifications to be able to measure the P2P bandwidth

[2022-04-19 00:08] hecmay opened #6618 "P2P between FPGA and GPU"
XRT provides some examples for FPGA-to-FPGA or SSD-to-FPGA P2P communication:
https://xilinx.github.io/XRT/master/html/p2p.html

is it possible to do GPU-FPGA P2P communication?

[2022-04-19 00:51] Ralender opened #6619 "why aren't xrt::device uniqued ?"
for example:
[code]
both `a` and `b` refer to the same device but the asserts fail.

[2022-04-19 06:41] venkatp-xilinx commented on #6589
Hi @Ralender, could you please file a CR with the test case and STR. I would like to assign it to my team member for verification of the issue and investigation.

[2022-04-19 08:40] venkatp-xilinx commented on #6588
@stsoe , @keryell : Can we have a CR for this against Vitis_Emulation application with the details on how to setup the "clang" to compile the host and reproduce the issue.

[2022-04-19 08:43] venkatp-xilinx commented on #6180
@sgundime-xilinx Identified the issue. Fix is in progress. The order of messageThread and unix_socket creation is updated. With this fix, we are not seeing any crash or segfault. Will create the PR shortly.

[2022-04-20 09:15] pyhundan opened #6620 "ALVEO U200 verify kernel test failed"
Hi,
I've installed an ALVEO U200 and went through the Getting Started guide and all things are well. But when I  compile XRT from the right version source([Official 2020.2 release](https://github.com/Xilinx/XRT/releases/tag/202020.2.8.743)), a problem has appeared. It's an Ubuntu 16.04 system.

The lspci command is as expected:

`#sudo lspci -vd 10ee:`

[code]

Besides, the scan is right.

[code]

[2022-04-20 21:33] mamin506 commented on #6613
@chienwei-lan / @maxzhen , any idea about why P2P performance is getting better bandwidth without "CL_MEM_EXT_PTR_XILINX"? This is a potential bug.

[2022-04-20 22:53] keryell commented on #6619
@uday610 Is there also `a == b` like in CUDA/OpenCL or CUDA?

[2022-04-21 01:56] maxzhen commented on #6613
Don't you need "CL_MEM_EXT_PTR_XILINX" to pass in "min" where you can specify P2P flag to alloc a P2P BO? Otherwise, you'll be allocating a normal BO and perform normal DMA. 3.5G/s sounds reasonable for P2P and 10G/s sounds reasonable for normal DMA.

[2022-04-21 02:44] uday610 commented on #6613
Without that EXT_PTR flag there is no P2P, so data transfer will happen via host. So let's not consider that.

With EXT_PTR flag it is P2P, do you have a case where you saw higher bandwidth for P2P and now see lower-bandwidth?

[2022-04-21 02:51] uday610 commented on #6619
the BDF of the device object should be unique. Maybe you can try that?

[code]

[2022-04-21 03:02] uday610 commented on #6620
Hello,
It is not clear what is the relation between your issue with that y2k patch that is posted by Xilinx technical support team... Maybe you can check with the technical support team by posting this issue in the technical support forum?

What you mean by self-compiled XRT? Have you tried with XRT package downloading from xilinx website instead of self-compilation?

[2022-04-21 03:07] pyhundan commented on #6620
Hi, @uday610

     I have tried with XRT package downloading from xilinx website. It works successfully. But when I tried to install myself-compilation XRT, the error will appear.

[2022-04-22 17:24] uday610 commented on #6620
Hi, if you able to work with XRT package downloading, then you should be able to compile and run with XRT source code which corresponding to the same package. I dont know which version of the source code you are compiling and what XRT package you working with you. But if you say everything works before that Y2K issue, then you should check with Vitis-Support team. Also you can check from other ter

[2022-04-22 22:39] moazin commented on #6613
@maxzhen So here I've missed the `CL_MEM_EXT_PTR_XILINX` and didn't pass in the `min` either. But the code to copy stuff remains the same, via P2P, just like it was in the original example I've linked above. Something like:
[code]
Except that now all these buffers are regular buffers instead of P2P buffers. I'd expect this code to throw an error saying that P2P transfer can't happen if the buffers

[2022-04-22 22:58] moazin commented on #6613
Thanks a lot @uday610. So I guess using these APIs to do regular DMA transfers is a valid way to do things since the underlying function call has nothing to do with P2P specifically.

[2022-04-22 23:03] uday610 commented on #6613
Yes, those API just getting the FD of the buffer, and p2p transfer is not happening. I think you can try one thing to prove this. So you have enabled p2p of the devices by xbutil command right? Like `xbutil p2p --enable` ( I dont know which version of XRT you use, so I dont know you use old xbutil commands or the new ones), right? Now you can disable the p2p of the devices by xbutil command and ma

[2022-04-23 05:02] stsoe commented on #6620
@pyhundan You are running into an issue with the ERT firmware because most likely you don't have Vitis installed and XILINX_VITIS defined.  Please see https://xilinx.github.io/XRT/master/html/build.html for details.

[2022-04-24 15:43] stsoe commented on #6619
@Ralender They are different device objects referring to the same device.  Under the hood the device is opened twice in your code example and the kernel driver has two device objects.   xrt::device ctor is all but a wrapper around calls to xclOpen().

[2022-04-24 15:46] stsoe commented on #6619
There isn't, but there could be.

[2022-04-24 19:41] keryell commented on #6619
At the end this an object representing the same device, so it should work like references on some shared object.
So if you have
[code]
they all represent different device values?

If you are looking for some inspiration: :-)
- https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:reference-semantics
- https://github.com/KhronosGroup/SYCL-CTS/blob/SYCL-2020/tests/device/devi

[2022-04-25 00:17] stsoe commented on #6619
@keryell I am not looking for inspiration, I am looking for a request to implement operator ==().

The current behavior is correct;  applications should not dig into the opaque implementation of the device object and draw conclusions from that.  Neither the `get_handle` or the `cast operator` are documented.

Nah, `c = a` is not a new device object; it's an increment of a reference count.  The doc

[2022-04-25 23:28] uday610 commented on #6601
Hi @wonkyoc , I run this testcase and see the same as you have also observed. The reason the first wait (`xrt::run[0].wait`) showing long latency because during that time all the CUs are running in parallel. As you have seen this design has 4CU and the host code is launching 4 CUs in parallel. So when the first CU is finished, that is reflected by the long `xrt::run[0].wait` duration, during that

[2022-04-26 00:43] wonkyoc commented on #6601
Thanks! I was expecting this result but I didn't know how to measure the actual kernel processing. I confirmed the exact same operation for my device. I am closing this issue.

[2022-04-26 00:43] #6601 closed

[2022-04-26 01:23] moazin commented on #6613
@uday610 You're right. Disabling the P2P from `xbutil` everything still works and I get the ~10GB/s bandwidth.

@maxzhen I've one question.

You say that 10 GB/s is reasonable for normal DMA. So if we measure host-to-fpga bandwidth, it does turn out to be around ~10 GB/s. Here, the transfer is from fpga1 --> host --> fpga2, so we should expect to get half the bandwidth as there are two transfers t

[2022-04-26 08:32] rubende opened #6634 "Load multiples xclbin in the same host code"

[2022-04-26 08:36] #6634 closed

[2022-04-27 11:30] rogumag opened #6637 "Unexpected Behavior of clEnqueueNDRangeKernel, clEnqueueTask functions"
Hi, i was trying to implement a Hardware video algorithm in Alveo U50 card. In this implementation, i have used 3 kernels ( this kernels working in parallel using a OUT_OF_ORDER Queue) working with different buffers. The Main code works as following:
1. Copy the Host PC buffer to the Alveo HBM buffers using clEnqueueMigrateMemObjects functions. The buffer size is only 64KB.
2. The 3 Kernels proces

[2022-04-27 21:49] keryell commented on #6098
I am just compiling latest XRT `efe8ce1dc` on my Ubuntu 22.04 laptop and I get during the CMake configuration phase:
[code]

[2022-04-27 21:54] keryell opened #6640 "XRT failing to compile on Ubuntu 22.04"
Besides mild problem https://github.com/Xilinx/XRT/issues/6098 there are some failures due to warnings as errors
[code]

[2022-04-28 00:24] keryell commented on #6640
Probably OpenSSH decided that using MD5 considered broken since 2008 is to be really deprecated now :-)

[2022-04-28 00:25] keryell commented on #6640
If you need an Ubuntu 22.04 machine, use `xsjsycl40`.

[2022-04-28 02:58] crizy opened #6643 "xrt 2019 error"
I downloaded the xrt version(2019.2 and 2019.2_PU2),And compile and build them respectively By executing ./build.sh. The compiled and built DEB files are as follows,
(1) xrt_201920.2.3.0_18.04-xrt.deb
(2)xrt_201920.2.5.0_18.04-amd64-xrt.deb

 I install the XRT .deb version  respectively, Then I check their installed version

with sudo apt list | grep XRT command, They display the following version

[2022-04-28 03:00] stsoe commented on #6637
Hi @rogumag . Your have to manage the OpenCL resources.   I look at the code block you pasted and it is capturing events but not releasing them.  This in turn holds on to a bunch of objects including memory buffers.

[2022-04-28 03:03] stsoe commented on #6643
We no longer support 2019.2.  Regardless, the `xrt-xrt` is wrong package name, it should be just `xrt`.  I have seen this before, but don't recall how it came about.  Can you dig a little deeper?

[2022-04-28 04:19] crizy commented on #6643
I just git the XRT source code of the above two versions, and then the operation is as follows:

(1)cd build
(2)./build. sh
(3)cd Release
(4)sudo dpkg -i  xrt_201920.2.3.0_18.04-xrt.deb or xrt_201920.2.5.0_18.04-amd64-xrt.deb
(5)sudo apt list | grep xrt

Then the version information of the following XRT installation is displayed
xrt-xrt/now 2.5.0 amd64 [installed,local]
or
xrt-xrt/now 2.3.0 amd64

[2022-04-28 04:23] crizy commented on #6643
then I searched for 'xrt-xrt' in the XRT source code path and got the following results

grep -r 'xrt-xrt'
XRT/build/Release/_CPack_Packages/Linux/DEB/xrt_201920.2.3.1301_18.04/xrt/control:Package: xrt-xrt

[2022-04-28 04:31] crizy commented on #6643
then I searched for 'xrt-xrt' in the XRT source code path and got the following results
grep -r 'xrt-xrt'
XRT/build/Release/_CPack_Packages/Linux/DEB/xrt_201920.2.3.0_18.04/xrt/control:Package: xrt-xrt

But I don't know how to change it,  because I'm not engaged in software development

[2022-04-28 09:58] rogumag commented on #6637
Hi @stsoe , you are my hero!!!!. The problem has been fixed only releasing the kernel event for each iteration. I close this issue
Thank you so much!!!

[2022-04-28 09:58] #6637 closed

[2022-04-28 15:17] stsoe commented on #6643
Hi @crizy .  I found this PR merged long ago that explains the `xrt-xrt` issue.  It looks like it is a cmake version thing.
https://github.com/Xilinx/XRT/pull/3129

After you successfully build XRT with proper CMake version, then make sure your greps shown only `xrt`.
You will have to make sure no `xrt-xrt` is installed to begin with, .e.g. reset back to no xrt installed before installing properly

[2022-04-28 17:52] anupcs-xlnx commented on #6640
We don't support 22.04 officially yet. This is being worked on for a future release of XRT. We have internal Jira tickets for this.

[2022-04-28 18:01] xuhz commented on #6640
since I spent some time investigating, i am sharing the findings
yes, in ubuntu22.04, the openssl version is 3.0 in which the sha, md5, etc calls are deprecated. instead the EVP_MD style call is expected.
the change is straigntforward, an example here
https://stackoverflow.com/questions/2262386/generate-sha256-with-openssl-and-c

[2022-04-28 21:19] keryell commented on #6640
This reminds me https://github.com/RadeonOpenCompute/ROCm/issues/1730

[2022-04-29 01:23] keryell opened #6649 "Compilation warning error with g++ 11.2 `src/runtime_src/core/pcie/emulation/cpu_em/generic_pcie_hal2/shim.cxx`"
Compilation error with g++ 11.2
[code]
Honestly, considering the state of this code, compiling with `-Werror` is challenging...
So for now I am using the shortcut from https://github.com/Xilinx/XRT/issues/6640#issuecomment-1112659501

[2022-04-29 01:48] keryell commented on #6640
@xuhz Great soi you can send a PR. :-) The problem is not to break the code for obsolete OS which are supported. But I guess they are check at least in AMD AECG CI.

[2022-04-29 07:06] crizy commented on #6643
thanks ,
I check my computer cmake version as follows,
(1)cmake --version
    cmake version 3.3.2
(2)which cmake
    /opt/Xilinx/Vitis/2019.2/tps/lnx64/cmake-3.3.2/bin/cmake

I found that cmake was installed in xilixnx Vitis software,
I downloaded, compiled and installed cmake 3.8.2,  cmake 3.8.2 is installed in  /user/local/bin/cmake
How do I upgrade the cmake version from 3.3.3 to 3.8.2?

[2022-04-29 15:26] stsoe commented on #6643
Hi @crizy .  This is good information, thanks.

You should have to make sure that when you build XRT you do that from a clean shell that is no polluted with Vitis setup.  If your system has CMake >= 3.5 installed when this is the CMake that will be used from a fresh shell.  Make sure 'which cmake` points to your system's cmake.

[2022-04-29 15:32] stsoe commented on #6640
Agree with @keryell .  This should not be closed.  Leave it open until ultimately fixed.  I made the mistake of assigning the issue, when that is the role of the PRT based on schedules etc.

@keryell Disabling warnings in makefiles is a horrible work-around, if you can fix the compilation issues with a PR that would be greatly appreciated.

[2022-04-29 19:09] #6585 closed

[2022-04-29 21:49] Ralender commented on #6619
thanks for the tip. it solved the need I had.

[2022-04-29 22:29] keryell commented on #6640
It is not about disabling warning messages but **warnings are errors in production** because you do not control the environment this will be compiled for, so it might possibly break. Of course, keep the **warnings are errors** when developing or building supported packages.

[2022-04-29 22:37] stsoe commented on #6640
What do you suggest?  There is no production per say, it is an Open Source project that you are welcome to contribute to, but we sure as heck don't want your warnings committed or even caught just by the CI; we want them in your face :-)

[2022-05-02 22:01] uday610 commented on #6619
Closed it as original problem is solved

[2022-05-02 22:01] #6619 closed

[2022-05-03 07:44] kiwichris commented on #6574
Many thanks for the change and sorting this out.

[2022-05-03 07:44] #6574 closed

[2022-05-03 19:40] keryell commented on #6640
Let's start with something simple:
- add an option to `build/build.sh` to control whether `-Werror` is wanted or not;
- add a few builds in GitHub Action to compile on a few Linux distributions × versions, specially the ones not tested internally, with `-Werror` if possible;
- the most complex aspect is how to test also the kernel driver compilation and installation, since all this runs in a Docke

[2022-05-05 01:29] crizy commented on #6643
Hi @stsoe,
         Thank you very much for your reply,  now i cmake verison is 3.8.2 in system,But I don't know what I did that caused me to report the following errors when compiling XRT 2019.2

         CMakeFiles/xclbintest.dir/XclBinSignature.cxx.o: In function `sk_X509_new_null':
         /usr/include/openssl/x509.h:99: undefined reference to `OPENSSL_sk_new_null'
        CMakeFiles/xclbinte

[2022-05-05 02:45] stsoe commented on #6643
@crizy  I cannot imagine the dependency script being the reason.  I assume your build was after running `build.sh -clean`?
Which version of ubuntu are you using?   Now I am simply curious, so I would like to try in a docker container with same version.

[2022-05-05 03:30] crizy commented on #6643
hi @stsoe ,
        yes, I do ./build. sh clean before every build，my ubuntu version is 18.04
        Maybe the XRT source code in my system is confused
        I deleted The source code of XRT 2019.2 is in my system. I  re git  the source code of XRT 2019.2 again and compiled it again. The compilation was successful,thanks

[2022-05-05 03:38] stsoe commented on #6643
Super, thanks @crizy .  Can we close the issue then?

[2022-05-05 04:39] #6643 closed

[2022-05-06 04:24] kiwichris opened #6672 "Repo has mixed line endings"
Is this known about and expected?

To see a list run (on FreeBSD): `find . -type f -exec file \{\} \; | grep CRLF`

I am seeing in my clone of the repo the following files with `CRLF`:
[code]

[2022-05-06 06:28] keryell commented on #6672
Of course not.
Now you have the recipe to detect the problem, you have almost the recipe to make a PR. :-)

[2022-05-06 06:48] kiwichris commented on #6672
Excellent and yes can do that.

Thanks.

[2022-05-09 03:23] pyhundan commented on #6620
Hi, @uday610, the version of the source code I complied is [Official 2020.2 release](https://github.com/Xilinx/XRT/releases/tag/202020.2.8.743)

[2022-05-09 03:25] pyhundan commented on #6620
@stsoe , But I have install Vitis installed before, this problem still occurs.

[2022-05-09 14:48] stsoe commented on #6620
@pyhundan Have you set XILINX_VITIS ?
What does the build output show?

[2022-05-11 04:16] kiwichris opened #6686 "zocl populate_slot_specific_sec fails to clean up on error"
In `populate_slot_specific_sec` memory allocated in the section reads is not freed if there is an error:

https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/edge/drm/zocl/zocl_xclbin.c#L1164

Should it?

[2022-05-11 05:20] stsoe commented on #6672
@kiwichris Thanks for the fix in #6681 .
See also #6687 which should prevent this mess in the future.

[2022-05-11 05:20] #6672 closed

[2022-05-11 05:52] kiwichris opened #6688 "XRT and use of embeddedsw/aieenginev2"
The Xilinx/embeddedsw repo has recently changed and the `embeddedsw/XilinxProcessorIPLib/drivers/aienginev2` directory has been removed. This is referenced by XRT.

I am a little confused on how this is going to work?

https://github.com/Xilinx/embeddedsw/issues/201

[2022-05-11 22:30] kiwichris commented on #6688
Issue https://github.com/Xilinx/embeddedsw/issues/201 shows the repo is now https://github.com/Xilinx/aie-rt. This is a nice solution and it resolves my question.

[2022-05-11 22:30] #6688 closed

[2022-05-12 12:20] akshayvignesh opened #6695 "C pack Error"
Hi,
Tried Building the XRT from software stack. Followed the instructions from the documentation, installed the dependencies and executed the ./build.sh command. The test cases passed but got the Cpack error.

Step 1:
sudo <XRT>/src/runtime_src/tools/scripts/xrtdeps.sh

Step 2:
cd build
./build.sh
Once the build is complete getting the following Cpack error,

**_Error:_**
Run CPack packaging tool.

[2022-05-12 23:05] moazin commented on #6613
@uday610 @maxzhen Following up on the previous question.

I've been thinking about this and two things don't make sense to me.

1. I'm not sure why P2P bandwidth would be slower than the typical DMA transfer through host. Where does this number 3.5 GB/s come from? Does it come from a limitation of Xilinx FPGA systems and drivers or is it a limit of the PCI Gen 3 standard?
2. When the transfer is n

[2022-05-12 23:33] maxzhen commented on #6613
P2P transfer speed is really depends on the PCIE topology. If the two devices are under the same switch, it might be faster if the switch vendor implement it that way. The more switch you need to hop b/w these two devices, the slower. If the P2P data transfer needs to go through root complex, that will be even slower since host CPU optimize device to memory path. They are not motivated to optimize

[2022-05-16 09:45] Sarika124 commented on #6695
Hi,
I am also facing same issue.. please help someone.
Thanks in advance!!!

[2022-05-18 14:47] stsoe commented on #6620
Alright sounds good.  In general we don't advise folks to source settings64.sh because it changes the path to tools such as CMake which are sometimes incompatible with the build requirements of XRT.   It is better to simply manual set XILINX_VITIS in a fresh `system` shell without mocking around with the environment.

@pyhundan Please close this issue if your problem is solved.

[2022-05-19 01:34] crizy opened #6714 "xrt install problem"
i Compiled and installed xrt_2019.2

   (1)sudo /opt/xilinx/xrt/bin/xbmgmt flash --scan    is ok ,  it can recognize shell on FPGA and ubuntu

   (2)but sudo /opt/xilinx/xrt/bin/xbutil query  is error , The error message is as follows
               INFO: Found total 1 card(s), 0 are usable
[code]
               XRT Information
               Version:	2.3.1301
               Git Hash:	192e706aea53

[2022-05-19 19:09] keryell commented on #6444
What is the status of this? Did it landed?

[2022-05-19 19:13] rbramand-xilinx commented on #6444
Hi @keryell, I started working on this. The changes will be pushed in 1-2 days

[2022-05-19 19:58] uday610 commented on #6618
Hello,

[ Disclaimer: We don't have any official document/flow for this as of now. You can try on your own, but you may face issues that cannot be helped]

You can use XRT P2P feature to do FPGA to GPU (or GPU to FPGA) p2p communication. You can let GPU read/write directly from/to the Pcie Bar using the mapped pointer of p2p buffer with GPU Memcpy APIs.

[2022-05-19 23:41] alexisfrjp commented on #6444
I wrote the patch above, you guys just needed to take it and merge it...

[2022-05-19 23:42] alexisfrjp commented on #6444
I wrote the patch above, you guys just needed to take it and merge it...

[2022-05-20 12:10] rbramand-xilinx commented on #6444
@alexisfrjp there are other changes as well, I will send PR including all changes to support RHEL 8.6

[2022-05-25 16:40] uday610 commented on #6714
Hello, 2019.2 is 2+ year-old release for debugging. Why don't you move to the latest releases?
But maybe some basic questions:
1) What card is this? What platform version is this?
2) Have you already installed platform packages? And flashed the card? In other words, is your card ready?
3) Assuming you have installed platform package in your system, and flashing is done, then you can reboot the mac

[2022-05-26 15:43] rbramand-xilinx commented on #6444
PR- https://github.com/Xilinx/XRT/pull/6734 solves this issue

[2022-05-28 07:05] crizy commented on #6714
@uday610
   i build   https://github.com/Xilinx/XRT/releases/tag/2019.2_RC1
   build is ok,
   but  path build/Release/opt/xilinx/xrt/share/   is no fw/sched*.bin,

[2022-05-28 17:51] #6618 closed

[2022-05-30 23:08] stsoe commented on #6714
@crizy Please check #6620.
Make sure XILINX_VITIS is set in the shell used to build XRT.

[2022-05-30 23:09] stsoe commented on #6620
Resolved

[2022-05-30 23:09] #6620 closed

[2022-05-31 01:20] crizy commented on #6714
hi @stsoe ，

     before i build xrt. i install vitis/vivado and set  vitis/vivado/xrt environment variables in .bashrc  as follows

             source /opt/Xilinx/Vivado/2019.2/settings64.sh
             source /opt/Xilinx/Vitis/2019.2/settings64.sh
             source /opt/xilinx/xrt/setup.sh
             export LIBRARY_PATH=/usr/lib/x86_64-linux-gnu
             export PLATFORM_REPO_PATHS=/opt

[2022-05-31 01:29] stsoe commented on #6714
I would recommend just setting XILINX_VITIS in a fresh shell, and not sourcing any environment changing scripts.  In particular Vitis' settings64 is not compatible with a system shell, I believe it changes PATH and ends up using tools / libraries that should not be used.

May not work either way, and if not maybe let me know which OS you are on.

[2022-05-31 02:39] crizy commented on #6714
hi @stsoe ，
thanks for you reply
my os is ubuntu18.04, i set vitis/vivado/xrt environment variables in .bashrc

It is better to simply manual set XILINX_VITIS in a fresh system shell without mocking around with the environment.
how to manual set XILINX_VITIS in a fresh system shell?

others,  when i build xrt_2019_pu2 with same operate ,it 's ok , path build/Release/opt/xilinx/xrt/share/ has  fw/s

[2022-05-31 03:38] stsoe commented on #6714
export XILINX_VITIS=<path>

Sorry I don't follow?  Can you show the difference?  We don't really support 2019.2 at this point.  Very old.

[2022-05-31 03:39] #6640 closed

[2022-05-31 04:49] crizy commented on #6714
Compared with 2019.2_RC1 , xrt_2019_pu2 the following parameters in build.sh
![build1](https://user-images.githubusercontent.com/1079607/171094564-3fbaa4c1-23a1-4cd5-b190-823238ede457.PNG)
![build2](https://user-images.githubusercontent.com/1079607/171094569-c2430d6e-4309-4512-81fb-76b7d7d875da.PNG)

but when i replace2019.2_RC1'build.sh with xrt_2019_pu2'build.sh, after build, 2019.2_RC1 path bui

[2022-05-31 14:05] timsnyder-siv opened #6738 "Don't have trailing colon in LD_LIBRARY_PATH"
https://github.com/Xilinx/XRT/blob/d145cb9801709fed3f3f1aac1d9a3528996e4d72/src/runtime_src/tools/scripts/install.sh#L360

setup.sh (above) will include a trailing colon in LD_LIBRARY_PATH if it is unset before sourcing setup.sh.  setup.csh does not suffer from this problem, it looks to see if LD_LIBRARY_PATH is already set and appropriately includes a delimiter if it is or sets a single value if

[2022-05-31 14:50] stsoe commented on #6738
@timsnyder-siv Thanks,  we will fix.

[2022-05-31 15:30] stsoe commented on #6714
@crizy The build.sh changes are not relevant for what you are seeing.
I clone 2019.2_RC1 and I can see that the firmware builds are not officially supported in that release.
In other words, you cannot create the ERT firmware in that release.
I suggest you download the archived Debian 18.04 package from Xilinx and use the firmware included in that build
* https://www.xilinx.com/products/boards-and-

[2022-05-31 16:56] #6738 closed

[2022-06-06 03:27] crizy commented on #6714
hi @stsoe ，

2019.2_RC1'hash is same as xrt_2.3.1301(https://www.xilinx.com/products/boards-and-kits/alveo/package-files-archive/u200-2019-2.html), The following quotation is your answer to my question(https://github.com/Xilinx/XRT/issues/6514#event-6390256873)

Hi @crizy . You can check for the git hash in /opt/xilinx/xrt/include/version.h or /opt/xilinx/xrt/version.json.
The source code is here:

[2022-06-06 15:28] stsoe commented on #6714
Yes, that is good.  What's the question?  Can we close this issue?

[2022-06-07 01:35] #6714 closed

[2022-06-07 01:41] uday610 commented on #6695
Hello, we have not received any reply, assuming things are good now. Closing this issue

[2022-06-07 01:41] #6695 closed

[2022-06-07 01:44] uday610 commented on #6105
Is this still issue? otherwise, please consider closing this. Thanks

[2022-06-07 11:07] #6105 closed

[2022-06-10 06:00] crizy opened #6757 "xrt 2019 build miss cmc"
path src/runtime_src/ert/cmc/CMakeLists.txt

when i build xrt_2019, i find  path src/runtime_src/ert/cmc/CMakeLists.txt , in CMakeLists.txt as follows,

# =============== CMC =====================

set (CMC "cmc.bin")
set (URL_MSP432 "https://raw.gitenterprise.xilinx.com/CMC/CMC/master/release")

FILE(DOWNLOAD ${URL_MSP432}/${CMC} ${CMAKE_CURRENT_BINARY_DIR}/${CMC} STATUS mystatus)

list(APPEND CM

[2022-06-12 07:59] crizy opened #6761 "xrt_2019.2 build error"
when i build xrt_2019.2, i find  xrt miss cmc/bmc,  then Then I track the cmc/bmc relevant information,

I navigate to  the CMakeLists.txt at  path as follows,

      src/runtime_src/ert/CMakeLists.txt

      src/runtime_src/ert/cmc/CMakeLists.txt

      src/runtime_src/ert/bmc/CMakeLists.txt

in CMakeLists.txt above , i find cmc/bmc  relevant files are down at https://raw.gitenterprise.xilinx.com

[2022-06-14 01:29] #6761 closed

[2022-06-14 01:30] #6757 closed

[2022-06-17 17:04] wilderfield opened #6777 "CMake Option provided for building XRT components with static linkage, but user has no choice"
CMake Option provided for building XRT components with static linkage, but user has no choice

https://github.com/Xilinx/XRT/blob/master/src/CMake/nativeLnx.cmake#L62-L73

The point of CMake options is to allow the person building your software to control how it is built... (what features do they want?).
i.e.

[code]

In the referenced usage, control is taken away from the user, and if the system

[2022-06-17 17:36] wilderfield opened #6778 "Issues linking xcl_vcu_test.exe in gcc 9.3 clock_gettime"
Can we use some standard C++ way of measuring time?

`#include <chrono>`

[code]

[2022-06-17 18:23] wilderfield opened #6779 "Why xbflash installed to /usr/local/bin ?"
Most XRT utilities are installed to XRT_INSTALL_DIR/bin

Why does xbflash break from the norm, and use hardcoded path `/usr/local/bin`?

https://github.com/Xilinx/XRT/blame/master/src/runtime_src/core/pcie/tools/xbflash.qspi/CMakeLists.txt#L18

[2022-06-17 18:49] wilderfield commented on #6640
I love the suggestion here from @keryell and appreciate that @stsoe implemented the optional usage of WError.
I am experimenting building XRT as part of a conda recipe...
In the conda recipe I don't want to force users to bind to a certain compiler version... so... newer gcc will throw all kinds of unexpected warnings... its nice to be able to build without solving all warnings.

[2022-06-17 19:55] xuhz commented on #6779
xbflash.qspi was introduced to be used without dependency on xrt. When xrt is built, there is a separate pkg built for xbflash.qspi and this pkg can be installed alone without xrt being installed first
this is not issue

[2022-06-17 19:55] #6779 closed

[2022-06-18 17:43] stsoe commented on #6779
I agree that it should be installed like other components under /opt/xilinx/xrt.
Like I mentioned earlier, all of XRT should be installed relative to /usr/ so that no set up scripts are needed at all.

[2022-06-18 21:54] bryanloz-xilinx opened #6780 "get_axlf_section in scan.cpp mismatch between new and delete in gcc12"
get_axlf_section from scan.cpp uses shared_ptr to an array, which causes warnings in gcc12.

mismatch of new, and delete.

Per discussion with @stsoe this should just be a Vector.

Additionally, the function seems to be unused. Is that true? Can we delete it?
It is certainly unused within the context of XRT user space.

https://github.com/Xilinx/XRT/blob/master/src/runtime_src/core/pcie/linux/scan

[2022-06-18 23:09] bryanloz-xilinx commented on #6779
@xuhz want to reopen this?

@stsoe I can work on a new PR for that, but I'm a little concerned.

/opt/xilinx is hardcoded inside of 174 locations in the XRT repo inside of 56 different files.

[code]

[2022-06-19 08:15] stsoe commented on #6779
Yeah,  I don't think we can change this now.  At most we can release to /opt/xilinx/ also.
While I agree with /opt/xilinx/, I wonder why /usr/local/bin is a problem to begin with?
I don't think we should re-open unless it is an issue, is it, why?

[2022-06-19 15:33] bryanloz-xilinx commented on #6779
@xuhz @stsoe

Since I have had the pleasure of building XRT on Linux, Windows, inside Docker, inside Anaconda, in my sleep... I have also had the pleasure of building it's dependencies which have become ubiquitous in the industry. Dependencies such as boost, protobuf, json-c, etc...

**ALL** of these dependencies allow their end users to install the package to the directory of their choosing. They

[2022-06-19 19:22] timsnyder-siv commented on #6779
I have been working on a conda-forge recipe for XRT and have some patches that I could clean up and share.  Seems like @bryanloz-xilinx is all over this though.

My current recipe hasn't been submitted to conda-forge yet.  I want to do more local testing and I only have the features I currently need working (haven't included the AWS plugin yet).

[2022-06-19 19:27] bryanloz-xilinx commented on #6779
@timsnyder-siv this has been my weekend project:
https://github.com/conda-forge/staged-recipes/pull/19337

I'm working with the community to cleanup the recipe as we speak.

If you would like to join me as a maintainer of the recipe I would love that.

[2022-06-19 19:32] timsnyder-siv commented on #6779
Sure.  I'd be happy to.  My recipe is at https://github.com/timsnyder/staged-recipes/tree/xilinx-xrt but I got sidetracked this past week with Vitis->Vivado constraint shinnanigans and didn't get through testing it.  I'll take a look at your recipe PR and would be happy to help out as a maintainer as my personal account @timsnyder.

[2022-06-19 19:40] bryanloz-xilinx commented on #6779
@timsnyder-siv wow! very very interesting! The world is such a small place... cool to see that we both saw the need... and it looks like our approaches are very similar. You already fixed some things with the run exports that I was yet to find a solution for.

[2022-06-19 19:45] stsoe commented on #6779
Once again I completely agree with you.
CMAKE_INSTALL_PREFIX should be honored, but I doubt that is specific to xbflash?

@bryanloz-xilinx, please open a new issue and complain that CMAKE_INSTALL_PREFIX is not honored as it should be with xbflash as an example.   I believe I recently fixed XRT to use CMAKE_INSTALL_PREFIX in general because I needed to be able to control install area  when building

[2022-06-19 19:50] bryanloz-xilinx opened #6782 "Anaconda Support from Open Source Community"
@bryanloz-xilinx and @timsnyder are working with the open source community to create a conda recipe for XRT.

This issue is here to track discussion on that topic.

Here is the staged recipe:

https://github.com/conda-forge/staged-recipes/pull/19337

Tim's recipe for comparison:
https://github.com/timsnyder/staged-recipes/tree/xilinx-xrt/recipes/xilinx-xrt

[2022-06-19 19:54] bryanloz-xilinx commented on #6782
@timsnyder My focus for the first rendition of a conda recipe was user space binaries and libraries.

I figured that a user can separately install XRT from deb or rpm to install drivers and shells.

For this reason, my conda patch removes any dkms related compilation, and cloud-daemon. Anything that interacts with the kernel.

It looks like in your recipe, you are trying to support things that int

[2022-06-19 19:57] bryanloz-xilinx commented on #6779
I love complaining!

[2022-06-19 20:01] bryanloz-xilinx opened #6783 "CMAKE_INSTALL_PREFIX is not honored"
The XRT package is not relocatable.

https://github.com/Xilinx/XRT/blob/master/src/CMakeLists.txt#L69

/opt/xilinx is hardcoded in 56 different files within XRT.

[2022-06-19 22:24] timsnyder commented on #6782
Doing only user space for the first cut seems reasonable. Probably want the
system stuff to be a seperate package even if it is eventually supported. I
was nervous about compatability between user space code and the kernel
modules and daemons.

On Sun, Jun 19, 2022, 2:55 PM bryanloz-xilinx ***@***.***>
wrote:

[2022-06-20 00:54] timsnyder commented on #6782
@bryanloz-xilinx , looking at your recipe, I think the biggest issue for me is needing to have a version that I'm confident will work with on Azure NP10 VMs with U250 boards.  That's why I've been using the version in my recipe.  We also need the MMIO performance fix that is cherry-picked in one of my patches.  I can circle back with the MS folks or perhaps you know more about this situation being

[2022-06-20 01:25] bryanloz-xilinx commented on #6782
My goal has been to create a recipe for the most recent release. I noticed your recipe was release 2.11 and mine is 2.13. I hope your referenced MIMO fix has made it in. Is this something you can verify?

[2022-06-20 01:36] timsnyder commented on #6782
The MMIO fix I refer to is https://github.com/Xilinx/XRT/commit/63269b8d4aa04099459c68b283f8512748fb39d6 and it seems to be in [202210.2.13.466](https://github.com/Xilinx/XRT/releases/tag/202210.2.13.466)

However, I am concerned that the following pages from Microsoft and Xilinx only talk about using 2.11 on Azure:
* https://docs.microsoft.com/en-us/azure/virtual-machines/np-series#frequently-ask

[2022-06-20 01:47] bryanloz-xilinx commented on #6782
Sounds good.

I’m minorly concerned about the fact that I’m omitting the cloud_daemon when you are on Azure.

We should probably verify that it can be installed separately, and all communication works. I think it should.

[2022-06-20 07:44] crizy opened #6786 "xrt error question"
i build and install xrt_2019.2 on ubuntu 18.04,
(1) lspci -vvv -d 10ee:
     xclmgmt and xocl kernel driver can be recognized

(2) sudo /opt/xilinx/xrt/bin/xbmgmt flash --scan
     Flashable partition running on FPGA and Flashable partition running on FPGA can be recognized

(3) run Vitis_Accel_Examples_2019/hello_word  example
      sw_emu/hw_emu  is ok (make all and make check are ok)
      make

[2022-06-20 08:48] xsun2001 opened #6787 "DMA & mem-bw validation failed with Alveo U280"
Our brand new alveo u280 card failed to pass the validation. Detailed information & outputs are listed below. I have noticed that #6104 #6105 are similar to my issue. However I cannot find a solution of it. I will try to disable IOMMU and report the situation later.

- `uname -a`:
[code]
- XRT Version: [Official 2022.1 release](https://github.com/Xilinx/XRT/releases/tag/202210.2.13.466)
- Deployme

[2022-06-20 23:39] bryanloz-xilinx opened #6793 "Two CMAKE Variables Define Where Python sources get installed?"
Why this redundancy?

`XRT_INSTALL_PYTHON_DIR`

`PY_INSTALL_DIR`

[code]

[2022-06-21 00:06] bryanloz-xilinx opened #6794 "XRT Version extraction scheme does not work when building from tagged releases"
For instance if you try to build XRT from a tagged release such as:

https://github.com/Xilinx/XRT/archive/refs/tags/202210.2.13.466.tar.gz

You will see errors when building, such as:

[code]

And the generated / included `version.json` and `version.h` will have the incorrect release number.

In this case, it will state "2.13.0" instead of "2.13.466".

[2022-06-21 01:04] keryell commented on #6787
I have noticed on my U50 that I cannot pass the test with more than 4KiB. Can you try with adding `--run dma --param dma:block-size:4096`?

[2022-06-21 01:05] keryell commented on #6104
I have noticed on my U50 that I cannot pass the test with more than 4KiB. Can you try with adding `--run dma --param dma:block-size:4096`?

[2022-06-21 01:05] keryell commented on #6105
I have noticed on my U50 that I cannot pass the test with more than 4KiB. Can you try with adding `--run dma --param dma:block-size:4096`?

[2022-06-21 06:59] bryanloz-xilinx commented on #6649
@uday610 Looks like we can close this one.

[2022-06-21 13:08] nrllhclb opened #6796 "[XRT] No device found"
Hello everyone,

I followed steps which is example of vitis-ai for zcu104, however all steps passed until putting the sdcard to the board.

In **version 2020.2** https://github.com/Xilinx/Vitis-Tutorials/blob/2020.2/Vitis_Platform_Creation/Introduction/02-Edge-AI-ZCU104/step4.md,

When the step 2 of test 2 have been run the code as `./vadd binary_container_1.xclbin`, i would get following error on

[2022-06-21 16:40] bryanloz-xilinx commented on #6783
@gbuildx @NaAl-Xlnx
Can you please take a look at the build pipelines and make sure that `/opt/xilinx` or `/opt/xilinx/xrt` is not hardcoded anywhere in the build pipeline or in any automated tests?

In the near future we would like to install XRT to `/usr/` by default.

[2022-06-21 17:56] timsnyder opened #6799 "Add CMAKE option to control building/installing static libraries"
Currently, XRT has several libraries that it builds both shared and static and it seems in general to always explicitly specify either `SHARED` or `STATIC` when calling `add_library()` in cmake files.

For building XRT as a conda package, the community generally avoids providing static libraries for the reasons outlined in https://github.com/conda-forge/cfep/blob/main/cfep-18.md.

Please add a cma

[2022-06-21 18:54] uday610 commented on #6796
.Thanks @bryanloz-xilinx , closing this

[2022-06-21 18:54] #6796 closed, assigned to nobody

[2022-06-21 23:37] uday610 commented on #6786
Hello, you are building XRT that is 3 years old (as you said xrt_2019.2). It is hard to get support for those old XRT release because things moves fast in last 3 years. It is possible that old XRT release cannot work the card you are using. Which card you are using and which platform?

You dont need to run your hello world example. When xbutil query is showing no device found, then you cannot do a

[2022-06-22 01:26] crizy commented on #6786
Because the Xilinx tool I installed on ubuntu was vitis/vivado 2019.2, and many of my projects are built with viviado 2019,So I don't want to upgrade the tool

[2022-06-27 08:45] crizy opened #6811 "mailbox mpd no config"
sudo systemctl status mpd
● mpd.service - Xilinx Management Proxy Daemon (MPD)
   Loaded: loaded (/etc/systemd/system/mpd.service; disabled; vendor preset: enabled)
   Active: inactive (dead)

Jun 27 15:08:02 ubuntu-wf systemd[1]: Started Xilinx Management Proxy Daemon (MPD).
Jun 27 15:08:02 ubuntu-wf mpd[3165]: started
Jun 27 15:08:02 ubuntu-wf mpd[3165]: [0:65:0.1] no config found
Jun 27 15:08:0

[2022-06-27 21:55] quantgeek opened #6813 "SecureBoot and XRT doesn't seem to mix properly"
It seems that when SecureBoot is enabled, the U250 and XRT doesn't work.  There seems to be some code to handle it, but it just doesn't seem to work.  For instance,

$ ./HelloWorld vadd.xclbin
Found Platform
Platform Name: Xilinx
INFO: Reading vadd.xclbin
Loading: 'vadd.xclbin'
Trying to program device[0]: xilinx_u250_gen3x16_xdma_shell_4_1
XRT build version: 2.13.466
Build hash: f5505e402c2ca1ffe

[2022-06-29 08:44] AchingSoul000 commented on #6787
Validate Device           : [0000:02:00.1]
    Platform              : xilinx_u50_gen3x16_xdma_base_5
    SC Version            : 5.2.18
    Platform ID           : 44654095-25B4-C06A-EC6D-0B479D3FEBE8
-------------------------------------------------------------------------------
Test 1 [0000:02:00.1]     : dma
    Description           : Run dma test
    Details               : Buffer size - '4

[2022-06-29 08:45] AchingSoul000 commented on #6787
Validate Device           : [0000:02:00.1]
    Platform              : xilinx_u50_gen3x16_xdma_base_5
    SC Version            : 5.2.18
    Platform ID           : 44654095-25B4-C06A-EC6D-0B479D3FEBE8
-------------------------------------------------------------------------------
Test 1 [0000:02:00.1]     : dma
    Description           : Run dma test
    Details               : Buffer size - '4

[2022-06-29 08:52] AchingSoul000 commented on #6787
Description : Run dma test
Details : Buffer size - '40960 Byte'
Host -> PCIe -> FPGA write bandwidth = 2977.6 MB/s
Host <- PCIe <- FPGA read bandwidth = 2344.4 MB/s
Buffer size - '40960 Byte'
Host -> PCIe -> FPGA write bandwidth = 2963.6 MB/s
Host <- PCIe <- FPGA read bandwidth = 2752.6 MB/s
Buffer size - '40960 Byte'
Host -> PCIe -> FPGA write bandwidth = 2974.9 MB/s
Host <- PCIe <- FPGA read ban

[2022-06-29 08:58] xsun2001 commented on #6787
Thanks guys. I can confirm that IOMMU caused this issue. In my opinion, this incompatibility should be noted in getting started guide or other obvious place.

[2022-06-30 04:27] moazin opened #6827 "Buffers flagged as P2P can't be read from / written by host via DMA"
Buffers that are P2P are painfully slow to read and write currently. This is because the transfer is not happening via the DMA.

Please see the chart below.
![image](https://user-images.githubusercontent.com/23481137/176592791-3e117e66-24cb-4e78-add6-01e41ab5d2da.png)

@maxzhen @uday610

[2022-06-30 17:24] bryanloz-xilinx commented on #6793
Closing as fixed by #6781

[2022-06-30 17:24] #6793 closed

[2022-07-01 22:35] bryanloz-xilinx opened #6828 "Why is there no README.md that explains how to build the tests, and the xclbins required for the tests?"
https://github.com/Xilinx/XRT/tree/master/tests

Building XCLBINs requires sourcing Vitis/settings64.sh

It also requires setting the platform somehow.

[2022-07-02 15:36] timsnyder opened #6829 "Improvements for docs multiprocess.rst & xrt_native_apis.rst"
First, thanks for writing https://github.com/Xilinx/XRT/commits/master/src/runtime_src/doc/toc/multiprocess.rst! I found it very helpful while migrating from AWS-f1 to an Alveo board.

There are a couple of things that I think could be done to improve the page and I have a couple of clarifying questions about the content.

1. Can you extend the scenario to multiple devices with multiple processes?

[2022-07-02 18:56] bryanloz-xilinx commented on #6779
@xuhz the problem is that, if someone installs XRT into the system, with: `make install`, xbflash will be installed to `/usr/local/bin`.

[code]

If someone is trying to install XRT, into an arbitrary directory, your hardcoded installation path is a problem.

You are right that if debians are being used, there is no problem, but debians should not be the only supported use mode.

[code]

[2022-07-03 18:47] timsnyder-siv opened #6832 "Update build.rst for C++17"
https://github.com/Xilinx/XRT/blame/master/src/runtime_src/doc/toc/build.rst#L16-L35

I think you guys require C++17 based on the fact that I'm getting messages like this from cmake:
[code]

I'm able to get cmake to generate after activating devtoolset-9 but I thought you might want to update your docs to reflect your C++ requirement.

[2022-07-09 06:35] bryanloz-xilinx commented on #6782
https://anaconda.org/conda-forge/xilinx-runtime

https://github.com/conda-forge/xilinx-runtime-feedstock

Done!

[2022-07-09 06:35] #6782 closed

[2022-07-13 05:51] abejgonzalez opened #6842 "Issues programming/running xclbin separately from C++ driver/host code"
It seems like the main/currently recommended way to program the XCLBIN file is to do `device.load_xclbin(binaryFile)` (where `device` is `xrt::device(idx)`) in the C++ host/driver code. This is seen in the following example code (given by Xilinx):

https://github.com/Xilinx/Vitis_Accel_Examples/blob/53e7d4fd8e1a8a431b53aff47dfcb6c5d19d9686/host_xrt/hello_world_xrt/src/host.cpp#L47-L50

I was wonde

[2022-07-20 21:37] epingel2 opened #6867 "Memory leak in XRT library"
After noticing unexpected behavior while using the video-sdk, as well as growing memory in my application, It seems that I have identified memory leaks in the xrt library.
Here is the Valgrind output of running the transcode example provided in the video sdk:

[code]

There seems to be leaks in the destroy functions for each of the sessions. In each session type (decoder/scaler/filter/encoder) the

[2022-07-28 03:09] HitMeFirst commented on #6613
@uday610   @maxzhen
When I was running the example [p2p_bandwidth](https://github.com/Xilinx/Vitis_Accel_Examples/tree/master/host/p2p_bandwidth) from the Vitis_Accel_Examples repository.

**The Issue**
I found that the program will use a lot of host memory whether with/without  EXT_PTR flag. (For example, when I read 1GB data from SSD to FPGA, the program will use about 1GB host memory Maximum.)

[2022-08-01 13:23] uday610 commented on #6842
This is not supported. Every application should have XCLBIN by itself and load it, that's the flow supported today.

[2022-08-01 17:34] sarab96 commented on #6867
What exactly is the issue you see?
What is your setup and application trying to do?
Growing memory could be due to many reasons?
Usually xclbin cached in memory is biggest memory consumer

[2022-08-02 05:42] anonymous1782 opened #6883 "xdma shell with xrt performance question"
Hi,

I am using xdma shell to interact between host and card. Unfortunately, I can not achieve the expected dma performance for write.

While read bandwidth almost saturate the PCIe bandwidth, write bandwidth is not.

1. What is an error here and how can I correct it?

Thanks

[code]

[2022-08-04 17:39] sarab96 commented on #6867
For good scalability and performance:
1) Service should be able to execute/start multiple processes
2) Each process will execute xma_initialize  once
3) Each process may use multiple devices. Processes may share a device
4) Setup reservation & cu allocation (XRM setup) so that multiple processes can work well

Please consult your Video/XRM support person to get more info on using multiple processe

[2022-08-04 17:39] #6867 closed

[2022-08-06 00:57] moazin commented on #6613
@HitMeFirst How were you measuring the memory usage?

[2022-08-06 03:56] HitMeFirst commented on #6613
@moazin  By using linux top command to get the data of 'RES'.

[2022-08-16 21:31] bryanloz-xilinx opened #6929 "Why force Windows users to statically link Boost?"
https://github.com/Xilinx/XRT/blob/d5e0350aab9fab5ffbc9d76ba74862818e219d24/src/CMake/nativeWin.cmake#L28

The choice to dynamically link or statically link Boost should remain with the person building the software. We shouldn't be forcing this imo.

[2022-08-17 00:21] bryanloz-xilinx opened #6930 "Python Bindings Are Built for Linux, but not Windows"
https://github.com/Xilinx/XRT/blob/34c36aa07a6cb05d4f0d89885f2d8884df6a8e21/src/CMake/nativeLnx.cmake#L170

[2022-08-20 12:03] mahdiaminik opened #6942 ""xdp_hw_emu_device_offload_plugin" does not exist"
Hi.
I'm very newbie in hardware design system and i'm trying to build `XRT` in docker for `pynq` system also installed via `pip3`, without any Vitis, Vivado or ISE. just for connecting pynq to XRT to access PL from PS.
(according to [https://discuss.pynq.io/t/docker-xilinx-platforms-pynq/1962](https://discuss.pynq.io/t/docker-xilinx-platforms-pynq/1962))
(my board : [http://www.alinx.com/en/index.

[2022-08-21 03:05] IskandarZhang opened #6943 "[xbutil] ERROR: stoi when running `xbutil reset`"
I got 3 Alveo U50 cards on my work station and I want to reset the device after an interrupted programming so I execute the command:
[code]
but it didn't work, and the error message is shown below
[code]
Thanks for help in advance.

[2022-08-22 06:06] ghuangatlbl opened #6948 "Package ocl-icd is not installed on ubuntu 22.04 for xrt installation."
- On host computer:
-- Ubuntu 22.04
-- Vitis 22.01
-- Petalinux 22.01

- Target:
-- zynqmp
-- rootfs: bootstrap generated Ubuntu Jammy: can boot into the system,

Use petalinux generated the xrt_202210.2.13.0-r0.0_arm64.deb from the host, I try to install it on the target.
After solving many dependency by install them, I got this
[code]
I already have the
[code]
[code]

[code]
Will only remove the

[2022-08-22 10:11] pardon-hnu opened #6949 "error for build xrt runtime"
When i built the xrt runtime, there were some errors occuring：

[code]
I want to know ​How is this be solved or where can I download xrt_<version>.deb for vitis 2020.2(ubuntu 20.04) directly instead of building it from the source code.

[2022-08-22 19:35] maxzhen commented on #6827
We have taken a look at this issue and the current thinking is to use xclReadBO and xclWriteBO to move data to/from P2P buffer via DMA. But, we have not got cycles to change the driver to support it. I believe that we need to change the code in xocl_pread_bo_ioctl() and xocl_pwrite_bo_ioctl() to make sure, for P2P BO, we go through xocl_migrate_unmgd(), instead of copy_to_user/copy_from_user. Mayb

[2022-08-25 00:13] uday610 commented on #6943
Can you try `xbutil reset --device 0000:03:00.1` , It seems you are using a longer string than necessary which is why "stoi" is complaining.

[2022-08-25 00:14] uday610 commented on #6942
@jvillarre , can you see if you have any insight here

[2022-08-25 00:15] uday610 commented on #6930
@bryanloz-xilinx , can you please file a CR for this

[2022-08-25 00:15] #6930 closed

[2022-08-25 00:16] uday610 commented on #6929
@bryanloz-xilinx , can you please file CR regarding this

[2022-08-25 00:16] #6929 closed

[2022-08-25 00:29] uday610 commented on #6813
This error is by design, we require signed XCLBIN after secure boot enabled

[2022-08-25 00:36] uday610 commented on #6949
As far as I know , XRT is still not supported for 5.15.0-46-generic kernel, @chvamshi-xilinx , can provide update

[2022-08-25 01:11] IskandarZhang commented on #6943
And it worked, thanks alot!

[2022-08-25 01:11] #6943 closed

[2022-08-25 02:14] pardon-hnu commented on #6949
Thank you,  I changed the linux kernel version to 5.8.0-63 and built XRT successful, But the installing of XRT failed.
`hnu@hnu-PowerEdge-R740:~/Disk0/ParDon/Xilinx/XRT/XRT/build/Release$ sudo apt reinstall ./xrt_202020.2.8.0_20.04-amd64-xrt.deb
正在读取软件包列表... 完成
正在分析软件包的依赖关系树
正在读取状态信息... 完成
注意，选中 'xrt' 而非 './xrt_202020.2.8.0_20.04-amd64-xrt.deb'
下列软件包是自动安装的并且现在不需要了：
  amd64-microcode intel-microcod

[2022-08-25 11:05] keryell commented on #6949
The latest XRT might not be supported but seems to work up to 5.18 and there is a PR for 5.19 https://github.com/Xilinx/XRT/pull/6908

[2022-08-25 14:53] stsoe commented on #6832
@uday, the documentation here is out-of-date: https://xilinx.github.io/XRT/master/html/build.html
Will you update?

[2022-08-30 02:09] quantgeek commented on #6813
Well, I tried to sign both  HelloWorld and vadd.xclbin before I posted, but that didn't work either.  The system was already signed before I installed XRT and the U250 board, so that isn't it, unless I am missing something.  What exactly needs to be signed and I will try again.

[2022-08-30 02:22] maxzhen commented on #6813
You've made sure the key you used to sign them was also known to the Linux kernel, so that they are available for verification?

[2022-08-30 21:19] quantgeek commented on #6813
Yes I did.  The keys are the same one I use EVERYWHERE. In fact, I can't load the Xilinx kernel drivers without signing them and they are all signed and loaded.

[2022-08-30 21:54] maxzhen commented on #6813
This is good, then. From the log msg and what you've described here, it seems that the xclbin was not signed properly. @rozumx may be able to help to verify the signing process.

[2022-08-30 22:33] rozumx commented on #6813
Q: Have you looked at the regression tests regarding how the xclbin containers are signed?
- [signXclbinCER.py](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/tools/xclbinutil/unittests/signXclbinCER.py)
- [signXclbinDER.py](https://github.com/Xilinx/XRT/blob/master/src/runtime_src/tools/xclbinutil/unittests/signXclbinDER.py)

These tests:
1. Creates the keys (e.g., CER or DER)
2. Signs

[2022-08-30 22:58] quantgeek commented on #6813
I wasn't aware of these test scripts. Let me try these out and see what is causing the problem.  Thanks!

[2022-09-01 10:47] mahdiaminik commented on #6942
Thanks for your answer.
But how did they (pynq devs) build [image](https://pynq.readthedocs.io/en/v2.2.1/getting_started/pynq_image.html#supported-boards) within XRT for `armhf` arch?
via crosscompile???

[2022-09-01 17:08] zzy82518996 opened #6988 "undefined reference issue when linking x86 host"
I am using
[code]
to build the host code on x86 machine with ubuntu 20.04.
the xrt version is 2021.2.
I got the error below:
[code]
May I ask why the linker is not able to find the definition even the xrt library path is specified ?

[2022-09-01 23:58] #6988 closed

[2022-09-07 20:18] keryell opened #7002 "Simplify XRT native C++ API usage with less headers to include"
It is cumbersome to include many headers for an XRT application.
There should be a single header for most use cases, like `xrt/xrt.h` or `xrt/xrt.hpp` or `xrt/xrt++.h` or *[bikesheding]*.
I think it makes sense today since XRT is becoming less experimental. There could be other includes for very specific/experimental features or extensions.

[2022-09-09 05:00] zzy82518996 opened #7010 "Whether using x86 host to control AIE graph through XRT C++ API is supported for vck5000 prod card ?"
We have a vck5000 development card installed on the server. According to the public available tutorial, I tried to deploy some simple application algorithms onto vck5000. Currently I am able to use the x86 host to control either PL kernels only or PL+AIE kernels. However, looks like the AIE Graph control is done by Cortex-72, which means the X86 host is not able to control the AIE graph through XR

[2022-09-13 20:55] keryell commented on #6589
@venkatp-xilinx Yes I think that `g++` will work too.

[2022-09-13 23:10] uday610 commented on #7010
No, any VCK5000 card (ES1, Prod, etc) which are publicly available today does not support controlling (using XRT C++ APIs or through any API) AIE from X86... From the X86 host program, you can exercise PL and PL+AIE which you discovered already.

Thanks

[2022-09-17 20:15] zzy82518996 commented on #7010
Got it. Thanks for the reply ! This helps a lot.

[2022-09-17 20:15] #7010 closed

[2022-09-19 02:59] byeongkeonLee opened #7054 "Question about locks in xrt::kernel"
Dear,

While I was programming FPGA with xrt, I encountered an issue.

I have two xrt::kernel: kernel_0 and kernel_1.

I launched kernel_0 with kernel_0.run(), then kernel_0.wait().
When kernel_0 is waiting by done, I launched kernel_1.run(), then kernel_1.wait().

However, even if kernel_1.wait() is possible to wake up prior to kernel_0.wait(), kernel_1.wait() doesn't awake until kernel_0 awakes.

[2022-09-20 16:47] bryanloz-xilinx commented on #7002
I agree here with @keryell. I also think its strange that the existing `xrt.h` is included by `xrt/xrt_device.h` it should be the other way around.

[2022-09-20 17:42] stsoe commented on #7002
yeah. well, but that xrt.h is completely different from what is being discussed here.

xrt.h is a legacy header file on top of which XRT C++ APIs are built, for example xcl typedefs are in xrt.h and are used in the C++ APIs.  This was done early on when the C++ APIs were used in conjunction with xcl APIs.  No longer the case, so some cleanup should be done.

Confusing indeed.  I will address it as

[2022-09-22 20:19] uday610 commented on #7054
Hello,
It is not sure what exactly your code sequence is, but if you write something like this:

[code]
Then obviously the host thread will wait at the line where you did ``kernel_0.wait()`` as that is a blocking statement, ``kernel_1.run()`` will not even start running in that case until kernel_0 finishes.

If you write a code like this

[code]

And if you have only 1 kernel in hardware (which is

[2022-10-05 06:38] byeongkeonLee commented on #7054
I got it!

Thank you for your detailed answer.

[2022-10-05 06:38] #7054 closed

[2022-10-06 00:32] doonny commented on #6193
Any updates on this issue ?

[2022-10-19 22:18] jvillarre commented on #6382
This is a known problem with clocks set to some frequency other than the default.  It is currently in the plan to fix in the first half of 2023.

[2022-10-19 22:27] uday610 commented on #6193
@doonny , unfortunately, this has been dropped from our reader. But frankly speaking, 21.1 is a too old release for us to investigate anything. So if you can try latest 22.1 release and still see the problem then that would be great

[2022-10-19 22:33] uday610 commented on #6942
@mahdiaminik , we dont know about pync developer, they are different team and they may have their custom flow. You may reach out to them to know about this. From our XRT side, we officially support build_edge.sh script as mentioned in the previous comment

[2022-10-27 09:20] xlz-epimor opened #7137 "Zocl backward compatibility brocken"
Hi,

When compiling a xrt/zocl dependent app on petalinux 2022.1 with esdk update3, the resulting application is built with xrt/zocl 2.13.479.

When i'm trying to install this application with its generated rpm on a kv260 starter kit with xrt/zocl 2.14.0 version installed on it, i get an error when trying to open device through xrt c++ API (xrt::device device(0);): unable to open device 0.

When i

[2022-10-27 12:57] xlz-epimor commented on #7137
After some research in log install of zocl dependency, it appears that the rpm post install script fails when trying to load the zocl module:

  Installing       : zocl-202220.2.14.0-r0.0.xilinx_k26_kv                                                                                                                                                                              5/12
  Running scriptlet:

[2022-10-27 13:09] xlz-epimor commented on #7137
Moving this issue in https://github.com/Xilinx/meta-xilinx as it is linked to zocl petalinux rpm post inst script

[2022-10-28 06:46] Satoski-H opened #7140 "OpenCV cascade detector causes Segmentation fault on KR260"
Hi all,
I was trying OpenCV cascade detector on KR260 and I got Segmentation fault.
My environment is as follows
Board : KR260
OS : Xilinx certified Ubuntu 22.04.01 LTS.
OpenCV version : 4.5.4+dfsg-9ubuntu4
g++ version : 11.3.0

When I ran my program on GDB, I got this message.
-------
 Segmentation fault.
0x0000ffffec549120 in xrt_core::get_os_info(boost::property_tree::basic_ptree<std::__cxx11::

[2022-11-04 13:51] xlz-epimor commented on #7137
Hi @chvamshi-xilinx
From my research here is the sources of zocl driver https://github.com/Xilinx/XRT/tree/master/src/runtime_src/core/edge/drm
If it can help, i am working on a kv260 starter kit

[2022-11-04 13:54] chvamshi-xilinx commented on #7137
yes, We own the source code, but my question is about the way zocl is compiled. Based on below error message, it seems zocl is not even present in below path
**modprobe: FATAL: Module zocl not found in directory /lib/modules/5.15.19-xilinx-v2022.1**

[2022-11-04 13:56] chvamshi-xilinx commented on #7140
Hi @Satoski-H , Can you share the full back trace of crash

[2022-11-04 14:18] xlz-epimor commented on #7137
Here is what i found from my petalinux project:
https://github.com/Xilinx/meta-xilinx/tree/master/meta-xilinx-core/recipes-xrt

[2022-11-04 14:28] chvamshi-xilinx commented on #7137
couple of other questions for more clarity
1) Test is working if you are using 2022.1 Petalinux Image/rootfs and XRT/Zocl also from 2022.1. am i correct?
2) You are just trying to change zocl by installing zocl rpm. It didnt install zocl properly. From where did you get this rpm. Looks like this rpm is not compatible for 2022.1 Petalinux

[2022-11-04 14:34] xlz-epimor commented on #7137
This test is with 2022.1 petalinux image
The rpm is from the xilinx repository https://petalinux.xilinx.com/sswreleases/ and as there is not separation between rpm for 2022.1 and those for 2022.2 it install the newest version (the one for 2022.2)

[2022-11-04 14:37] chvamshi-xilinx commented on #7137
There is a minor kernel version change in Petalinux 2022.2 from 2022.1. Modules wont be compatible between the releases.
You may need to change your dnf repo path to pick the right version.

[2022-11-04 14:40] xlz-epimor commented on #7137
Shouldn't be an update of the Xilinx repo with separate directory for 2022.1 and 2022.2 rpms ? like it was made for 2021.1 and 2021.2 ? Furthermore if rpms for 2022.2 are not compatible with 2022.1

[2022-11-04 14:50] chvamshi-xilinx commented on #7137
I am not expert in that area, I have to check with Yocto team..

[2022-11-07 04:49] Satoski-H commented on #7140
Hi @chvamshi-xilinx,
Thank you for your reply. I attached GDB log and its screenshot.
Best regards,
[log.txt](https://github.com/Xilinx/XRT/files/9948224/log.txt)
![execute_ss](https://user-images.githubusercontent.com/116867574/200228776-68ab7cbf-fc60-4ab1-aa41-1678b1050a58.png)

[2022-11-17 10:25] nicola-lunghi opened #7175 "Specify cpack build output (deb, rpm, tgz)"
Hi,
in my system I need to cross compile xrt and produce both the DEB and RPM packages.
I am using an ubuntu vm so currently the build is only producing deb.
There's a way to specify to build everything?

Thanks,
Nick

[2022-11-18 21:02] fab7 opened #7179 "Build stops because python_binding test fails (minor)"
Hi,
FYI, the XRT build stops because the **Test 3: python_binding** fails.

To get a successful build, I need to skip the unit tests with `./build.sh -noctest`.

[code]

The build is executed in the following conditions:
- XRT version `4f1341eb6fe407356d0322598956d8e1f596f72c`
- RHEL8.6 `4.18.0-372.19.1 x86_64`

[2022-11-18 22:44] fab7 opened #7180 "RHEL 8.7 error: conflicting types for ‘xocl_gem_prime_vmap’"
Hi XRT community,
I know that RHEL8.7 is not (yet) officially supported but I needed to upgrade one of our servers to this very last release of RHEL8 that came out on November 9th, 2022.
This may require yet another pragma directive in the XOCL driver and I would really appreciate if you could consider this issue. Thanks in advance.

The system and XRT configurations are:
- XRT version  `2.15.0`
-

[2022-11-21 18:57] keryell commented on #7180
Can you send a PR?